{% load static %}
{% load i18n %}

<div class="container">

        <div class="col-m-12 col-5">
            <div class="diagram-wrapper">
                <div class="title">{% trans "Orders" %}</div>
                <div class="diagram">
                    <canvas id="orders-diagram" ></canvas>
                </div>
            </div>

        </div>
        <div class="col-m-12 col-5">
            <div class="diagram-wrapper">
                <div class="title">{% trans "Orders Price" %}</div>
                <div class="diagram">
                    <canvas id="orders-price-diagram" ></canvas>
                </div>
            </div>

        </div>
        <div class="col-m-12 col-5">
            <div class="diagram-wrapper">
                <div class="title">{% trans "Products" %}</div>
                <div class="diagram">
                    <canvas id="products-diagram" ></canvas>
                </div>
            </div>
            
        </div>
        <div class="col-m-12 col-5">
            <div class="diagram-wrapper">
                <div class="title">{% trans "Logged in Users" %}</div>
                <div class="diagram">
                    <canvas id="users-diagram" ></canvas>
                </div>
            </div>
        </div>

        <div class="col-m-12 col-5">
            <div class="diagram-wrapper">
                <div class="title">{% trans "Visitors" %}</div>
                <div class="diagram">
                    <canvas id="visitor-diagram" ></canvas>
                </div>
            </div>
        </div>
        <div class="col-m-12 col-5">
            <div class="diagram-wrapper">
                <div class="title">{% trans "Unique Visitors" %}</div>
                <div class="diagram">
                    <canvas id="unique-visitors-diagram" ></canvas>
                </div>
            </div>
        </div>
        <div class="col-m-12 col-5">
            <div class="diagram-wrapper">
                <div class="title">{% trans "Facebook Visitors" %}</div>
                <div class="diagram">
                    <canvas id="facebook-visitors-diagram" ></canvas>
                </div>
            </div>
        </div>

        <div class="col-m-12 col-5">
            <div class="diagram-wrapper">
                <div class="title">{% trans "Google Visitors" %}</div>
                <div class="diagram">
                    <canvas id="google-visitors-diagram" ></canvas>
                </div>
            </div>
        </div>

        <div class="col-m-12 col-5">
            <div class="diagram-wrapper">
                <div class="title">{% trans "Visitors Chart" %}</div>
                <div class="diagram">
                    <canvas id="visitors-diagram" ></canvas>
                </div>
            </div>
        </div>
        <div class="col-m-12 col-5">
            <div class="diagram-wrapper">
                <div class="title">{% trans "Suspicious Visitors" %}</div>
                <div class="diagram">
                    <canvas id="suspicious-visitors-diagram" ></canvas>
                </div>
            </div>
        </div>
</div>