{% load i18n %} 

{% if can_change_coupon %}


<div class="responsive">

    <div class="container">
        
        <div class="mat-box">
    
                <form class="form" name="add-coupon" action="{{coupon.get_update_url}}" method="POST">{% csrf_token %}
                    <div class="container">
                        <input type="hidden" name="added_by" value="{{coupon.added_by.pk}}" readonly>
                        <div class="form-group">
                            <label for="name">{% trans "Name" %}</label>
                            <input id="name" type="text"  name="name" value="{{coupon.name}}">
                        </div>
                        <div class="form-group">
                            <label for="reduction">{% trans "Reduction" %}</label>
                            <input id="reduction" type="text"  name="reduction" value="{{coupon.reduction}}">
                        </div>
                        <div class="form-group">
                            <label for="expire-at">{% trans "Expiration date" %}</label>
                            <input id="expire-at" type="Date"  name="expire_at" value="{{coupon.expire_at|date:'Y-m-d'}}">
                        </div>
                        
                        <div class="form-group">
                            <label for="is-active">{% trans "Is Active" %}</label>
                            <input id="is-active" type="checkbox"  name="is_active" {% if coupon.is_active %}checked{% endif %} >
                        </div>
                    
                    </div><!-- End of container-->

                    <div class="actions row">
                            <a class="mat-button mat-button-text js-cancel" href="{{coupon.get_dashboard_url}}">{% trans "Cancel" %}</a>
                            <button class="mat-button mat-button-default" type="submit">{% trans "Update" %}</button>
                    </div>
                    
                </form>
            </div>
    </div>          
</div>


{% else %}
<div class="access-error">
  <p>{% trans "The page you requested could not be found or you are not allowed to access this page." %}</p>
</div>
{% endif %}