{% load i18n %}

<div class="container">

        <div id="metrics" class="row flex-wrap">

                <div id="transfers" class="metric mat-box">
                        <div class="metric-title">{% trans "Orders" %}</div>
                        <span class="metric-value">{{orders.count}}</span>
                </div>
                <div id="p_requests" class="metric mat-box">
                        <div class="metric-title">{% trans "Products" %}</div>
                        <span class="metric-value">{{product_count}}</span>
                </div>
                <div id="users" class="metric mat-box">
                        <div class="metric-title">{% trans "Users" %}</div>
                        <span class="metric-value">{{users.count}}</span>
                </div>
        </div>
  </div>