{% load i18n %}

<div class="container">

        <div id="metrics" class="flex flex-wrap">

                <div id="orders" class="metric mat-box">
                        <div class="metric-title">{% trans "Orders" %}</div>
                        <span class="metric-value">{{orders.count}}</span>
                </div>
                <div id="products" class="metric mat-box">
                        <div class="metric-title">{% trans "Products" %}</div>
                        <span class="metric-value">{{products_count}}</span>
                </div>
                <div id="current_orders" class="metric mat-box">
                        <div class="metric-title">{% trans "Current Month Orders" %}</div>
                        <span class="metric-value">{{current_orders.count}}</span>
                </div>
                <div id="users" class="metric mat-box">
                        <div class="metric-title">{% trans "Users" %}</div>
                        <span class="metric-value">{{users_count}}</span>
                </div>
        </div>

        <div class="flex flex-wrap">
                <div class="mat-box">
                        <div class="entry">
                                <span class="key">{% trans "Visitors" %}</span><span class="value">{{visitors}}</span>
                        </div>
                        <div class="entry">
                                <span class="key">{% trans "Unique Visitors" %}</span><span class="value">{{unique_visitors}}</span>
                        </div>
                </div>
        </div>
  </div>