{% load i18n %}
{% load catalog_tags %}
<div class="mat-table-wrapper">
        <div class="mat-table-title">
            {% trans "Highlight Products" %}
        </div>
        <table id="product-list" class="mat-table js-filter-table">
          <thead>
                  <tr>
                          <th scope="col"><label><input id="filter-select-all" class="js-select-all" type="checkbox" name="allselected" title="{% trans 'Select all' %}"></label></th>
                          <th></th>
                          <th scope="col">{% trans "Name" %}</th>
                          <th scope="col">{% trans "Display Name" %}</th>
                          <th scope="col">{% trans "Gender" %}</th>
                          <th scope="col">{% trans "Price" %}</th>
                          {% comment %}<th scope="col">{% trans "Details" %}</th>
                          {% endcomment %}
                  </tr>
          </thead>
          <tbody>
                  {% for product in product_list  %}
                  <tr>
                  <td scope="row" class="checkbox"><label><input class="js-selectable" type="checkbox" name="products" value="{{product.pk}}" checked><span class="checkbox-label"></span></label></td>
                  <td><div class="col-xs-3 col-4"><img class="img-responsive" src="{{product.image}}" alt="{{product.display_name}}"></div></td>
                  <td scope="row" data-label="{% trans 'Name' %}">{{product.name}}</td>
                  <td data-label="{% trans 'Display Name' %}">{{product.display_name}}</td>
                  <td data-label="{% trans 'Gender' %}">{{product.gender|gender_value}}</td>
                  <td data-label="{% trans 'Price' %}"><span>{{product.price|floatformat:"-2"}}</span> <span>{% trans CURRENCY %}</span></td>
                  {% comment %}<td data-label="{% trans 'Detail' %}"><a class="mat-button mat-button-default" href="{{product.get_dashboard_url}}"> <i class="fas fa-info icon"></i><span>{% trans "Details" %}</span></a></td>
                  {% endcomment %}
                  </tr>
                  {% endfor %}
                  
          </tbody>

    </table>
    </div><!--End of Table Wrapper-->