{% load i18n %} 

<div class="container">
    
    <form id="file-upload-form" name="product-image" action="{% url 'dashboard:product-image-create' product.product_uuid%}" enctype="multipart/form-data" method="POST">{% csrf_token %}
        <input type="hidden" name="user" value="{{request.user.pk}}">
        <input type="hidden" name="product" value="{{product.pk}}">
        {% comment %}<div class="form-group">
            <label for="name">{% trans "Name" %}: </label>
            <input type="text" name="name" id="name">
        </div>
        {% endcomment %}
        <div class="drag-area">
            <p class="hint">{% blocktrans %}Please Drag and drop the product images here{% endblocktrans %}</p>
            <p class="hint">{% blocktrans %}Accepted formats{% endblocktrans %} : <b>jpeg</b>, <b>jpg</b> and <b>png</b></p>
            <div class="actions">
                <span class="mat-button mat-button-outlined js-file-list-clear-btn hidden"><i class="fas fa-trash"></i> <span>{% trans "Clear" %}</span></span>
            </div>
            <ul class="file-list" data-format="jpg, jpeg, png" data-max-size="2097152">
                <li class="no-data file-entry">{% trans "no images" %}</li>
            </ul>   
        </div>
        <div class="actions">
            <a class="mat-button mat-button-default js-cancel" href="{{product.get_dashboard_url}}"> {% trans "Back to Product" %} </a>
            <button class="mat-button mat-button-default js-send js-send-file-upload-btn disabled" type="submit" disabled><i class="fas fa-plus icon"></i><span>{% trans "Add Image" %}</span></button>
        </div>
    </form>
</div>