{% load i18n %}
{% load catalog_tags %}
{% load core_tags %}
<form action="{% url 'dashboard:products' %}" id="filter-form" method="GET">


<div class="mat-table-wrapper">
        <div class="row">
            <div class="mat-table-title">
                {% trans "Products" %}
            </div>
        </div><!--End of Row-->
        {% if FILTER_CONFIG %}
            {% include "core/core_filter.html" with FILTER_TEMPLATE="core/filter.html" %}
        {% endif %}
        <form action="{% url 'dashboard:products-delete' %}" method="POST">{% csrf_token %}
        <table id="product-list" class="mat-table js-filter-table">
            {% if can_delete_product %}
            <div class="actions">
                    <button class="js-activable mat-button mat-button-outlined" disabled><i class="fas fa-trash icon"></i><span>{% trans "Delete Selected" %}</span></button>
            </div>
            {% endif %}
          <thead>
                  <tr>
                          <th scope="col"><label><input id="filter-select-all" class="js-select-all" type="checkbox" name="allselected" title="{% trans 'Select all' %}"></label></th>
                          <th></th>
                          <th scope="col">{% trans "Name" %}</th>
                          <th scope="col">{% trans "Display Name" %}</th>
                          <th scope="col">{% trans "Gender" %}</th>
                          <th scope="col">{% trans "Product Type" %}</th>
                          <th scope="col">{% trans "Price" %}</th>
                          <th scope="col">{% trans "Promotion Price" %}</th>
                          <th scope="col">{% trans "Quantity" %}</th>
                          <th scope="col">{% trans "Details" %}</th>
                          {% if can_delete_product %}<th scope="col">{% trans "Action" %}</th>{% endif %}
                  </tr>
          </thead>
          <tbody>
                  {% for product in product_list  %}
                  <tr>
                  {% if can_delete_product %}
                  <td scope="row" class="checkbox"><label><input class="js-selectable" type="checkbox" name="products" value="{{product.pk}}"><span class="checkbox-label"></span></label></td>
                  {% endif %}
                  <td><div class="col-xs-3 col-4"><img class="img-responsive" src="{{product.image}}" alt="{{product.display_name}}"></div></td>
                  <td scope="row" data-label="{% trans 'Name' %}">{{product.name}}</td>
                  <td data-label="{% trans 'Display Name' %}">{{product.display_name}}</td>
                  <td data-label="{% trans 'Gender' %}">{{product.gender|gender_value}}</td>
                  <td data-label="{% trans 'Type' %}">{% trans product.product_type.display_name %}</td>
                  <td data-label="{% trans 'Price' %}"><span>{{product.price|floatformat:"-2"}}</span> <span>{% trans CURRENCY %}</span></td>
                  <td scope="row" data-label="{% trans 'Promotion Price' %}"><span>{{product.get_promotion_price|floatformat:"-2"}}</span> <span>{% trans CURRENCY %}</span></td>
                  <td data-label="{% trans 'Quantity' %}">{{product.quantity}}</td>
                  <td data-label="{% trans 'Detail' %}"><a class="mat-button mat-button-default" href="{{product.get_dashboard_url}}"> <i class="fas fa-info icon"></i><span>{% trans "Details" %}</span></a></td>
                  {% if can_delete_product %}
                  <td data-label="{% trans 'Action' %}"><button class="mat-button mat-button-default js-need-confirmation" type="submit"><i class="fas fa-trash icon">{% trans "Delete" %}</i></button></td>
                  {% endif %}
                  </tr>
                  {% endfor %}
                  
          </tbody>

    </table>
    </form>
    {% include "tags/pagination.html" with page_set=product_list %}
    </div><!--End of Table Wrapper-->
</form>