{% load i18n %}

<div class="dashboard-metrics">
        <div id="metrics" class="flex flex-wrap">
                <div id="metric-orders" class="metric mat-box" data-index="0">
                        <h4 class="metric-value">{{orders_count|default_if_none:'0'}}</h4>
                        <span class="metric-title"><i class="fas fa-shopping-bag icon"></i>{% trans "Orders" %}</span>
                </div>
                <div id="metric-products" class="metric mat-box" data-index="1">
                        <h4 class="metric-value">{{products_count|default_if_none:'0'}}</h4>
                        <span class="metric-title"><i class="fas fa-gifts icon"></i>{% trans "Products" %}</span>
                </div>
                <div id="metric-current-orders" class="metric mat-box" data-index="2">
                        <h4 class="metric-value">{{current_orders.count|default_if_none:'0'}}</h4>
                        <span class="metric-title"><i class="fas fa-shopping-bag icon"></i>{% trans "Month Orders" %}</span>
                </div>
                <div id="metric-users" class="metric mat-box" data-index="3">
                        <h4 class="metric-value">{{users_count|default_if_none:'0'}}</h4>
                        <span class="metric-title"><i class="fas fa-users icon"></i>{% trans "Users" %}</span>
                </div>
                <div id="metric-visitors" class="metric mat-box" data-index="4">
                        <h4 class="metric-value">{{visitors|default_if_none:'0'}}</h4>
                        <span class="metric-title"><i class="fas fa-eye icon"></i>{% trans "Visitors" %}</span>
                </div>
                <div id="metric-unique-visitors" class="metric mat-box" data-index="5">
                        <h4 class="metric-value">{{unique_visitors|default_if_none:'0'}}</h4>
                        <span class="metric-title"><i class="fas fa-fingerprint icon"></i>{% trans "Unique Visitors" %}</span>
                </div>
                <div id="metric-facebook-visitors" class="metric mat-box" data-index="6">
                        <h4 class="metric-value">{{facebook_visitors|default_if_none:'0'}}</h4>
                        <span class="metric-title"><i class="fab fa-facebook icon"></i>{% trans "Facebook Visitors" %}</span>
                </div>
                <div id="metric-google-visitors" class="metric mat-box" data-index="7">
                        <h4 class="metric-value">{{google_visitors|default_if_none:'0'}}</h4>
                        <span class="metric-title"></i><i class="fab fa-google icon"></i>{% trans "Google Visitors" %}</span>
                </div>
                <div id="metric-suspicious-visitors" class="metric mat-box" data-index="8">
                        <h4 class="metric-value">{{total_suspicious_visitors|default_if_none:'0'}}</h4>
                        <span class="metric-title"><i class="fas fa-eye question-circle icon"></i>{% trans "Suspicious Visitors" %}</span>
                </div>
        </div>
  </div>