{% extends "dashboard_base.html"%}
{% load i18n %}
{% if not can_view_payment %}
<div class="access-error">
  <p>{% trans "The page you requested could not be found or you are not allowed to access this page." %}</p>
</div>
{% else %}
{% block SIDEBAR_CONTENT %}
<li><a class="mat-button mat-button-text" href="{% url 'payment:payment-home' %}"><i class="fas fa-home icon"></i><span>{% trans "Payment Home" %}</span></a></li>
<li><a class="mat-button mat-button-text" href="{% url 'payment:payments'%}"><i class="fas fa-money-check-alt"></i>{% trans "Payments" %}</a></li>
<li><a class="mat-button mat-button-text" href="{% url 'payment:policies' %}"><i class="fas fa-ruler"></i>{% trans "Policies" %}</a></li>
<li><a class="mat-button mat-button-text" href="{% url 'payment:policy-groups' %}"><i class="fas fa-pencil-ruler"></i>{% trans "Policy Groups" %}</a></li>




{% endblock SIDEBAR_CONTENT %}

{% block CONTENT %}
    {% if can_add_policy %}
    <div class="actions">
        <a class="mat-button mat-button-default" href="{% url 'payment:policy-create' %}"><i class="fas fa-plus icon"></i> <span>{% trans "New Policy" %}</span></a>
        <a class="mat-button mat-button-default" href="{% url 'payment:policy-group-create' %}"><i class="fas fa-plus icon"></i><span>{% trans "New Policy Group" %}</span></a>
        {% block ACTIONS %}
        {% endblock ACTIONS %}
    </div><!--End of Banner-Actions-->
    {% endif %}
    <div>
        {% block CONTENT_MAIN %}{% endblock CONTENT_MAIN %}
    </div>
{% endblock CONTENT %}
{% endif %}
