
{% load i18n %}
 <div class="modal-container">
    <div id="filter-amount" class="chips {% if field_name in SELECTED_FILTERS %} chips-selected {% endif %}" title="{% trans 'Filter the list by Amount field' %}">
        <i class="fas fa-coins icon"></i>
        <span class="js-open-modal open-modal" data-target="amount-modal" >{% trans "amount" %}</span>
        
        <span id="selected-filter" class="filter"></span>
    </div>
    
    <div id="amount-modal" class="modal">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <span class="title">{% trans "Amount Filter" %}</span><span class="js-close-modal close-modal" data-target="amount-modal" ><i class="fas fa-close"></i></span>
            </div>
            <div class="modal-body">
                {% include "tags/integer_field.html" with RANGE=True SELECTION=False FILTER=SELECTED_FILTERS.amount field_name=field_name  %}
                {% comment %}<div class="mat-box">
                    <div class="form-group">
                        <label for="amount-filter-input">{% trans "Enter an amount" %}({% trans CURRENCY %})</label>
                        <input id="amount-filter-input" class="input-filter" type="text"  data-update=".action-filter .filter-value" data-target="amount-input">
                    </div>
                </div><!--End of Box-->
                <div class="mat-box">
                    <span class="label">{% trans "Select the Filter" %}</span>
                    <div class="actions amount-filter-chips">
                        <span id="greater-than-equal" class="action-filter js-list-filter chips" data-target="amount-filter" data-name="amount" data-value="1"><i class="fas fa-greater-than-equal icon"></i><span class="filter-value"></span></span>
                        <span id="greater-than" class="action-filter js-list-filter chips" data-target="amount-filter" data-name="amount" data-value="0"><i class="fas fa-greater-than icon"></i><span class="filter-value"></span></span>
                        <span id="less-than-equal" class="action-filter js-list-filter chips" data-target="amount-filter" data-name="amount" data-value="3"><i class="fas fa-less-than-equal icon"></i><span class="filter-value"></span></span>
                        <span id="less-than" class="action-filter js-list-filter chips" data-target="amount-filter" data-name="amount" data-value="2"><i class="fas fa-less-than icon"></i><span class="filter-value"></span></span>
                        <span id="equal-to" class="action-filter js-list-filter chips" data-target="amount-filter" data-name="amount" data-value="4"><i class="fas fa-equals icon"></i><span class="filter-value"></span></span>
                    </div>
                </div>
                {% endcomment %}
            </div>
            <div class="modal-footer actions">
                <span class="js-close-modal close-modal mat-button mat-button-text" data-target="amount-modal" ><i class="fas fa-close"></i>{% trans "Close" %}</span>
                <button class="mat-button mat-button-default js-close-modal close-modal" data-target="amount-modal">{% trans "Use this Filter" %}</button>
            </div>
        </div><!--End of Modal-Content -->
        </div><!--End of Modal-Dialog -->
    </div><!--End of Modal-->
</div><!--End of Container-->