{% load i18n %}

<div class="footer-content">
    <div class="col-xs-6 col-3">
        <div class="footer-catalog">
            <h6>{% trans "Payment Options" %}</h6>
            <ul>
                {% for pm in payment_methods %} <li>{{pm.display_name}}</li> {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-xs-6 col-3">
        <div class="footer-catalog">
            <h6>{% trans "Shipping" %}</h6>
            <ul>
                {% for s in ship_modes %} <li>{{s.display_name}}</li> {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-xs-6 col-3">
        <div class="footer-catalog">
            <h6>{% trans "Pick up Locations" %}</h6>
            <ul>
                <li><i class="fas fa-map-marked-alt icon"><span class="bold">LBV</span></i> <span>{% trans "Louis, in the galleries of the municipal market, Box N ° 4" %}</span></li>
                <li><i class="fas fa-map-marked-alt icon"><span class="bold">POG</span></i> <span>{% trans "Grand village, at Josy Coiffure, near CECADO, at carréfour Assane" %}</span></li>
            </ul>
        </div>
    </div>
    <div class="col-xs-6 col-3">
        <div class="footer-catalog">
            <h6>{% trans "Contact" %}</h6>
            <ul >
                <li><i class="fab fa-whatsapp icon"></i><a  href="https://wa.me/+24177433646/?text=Bonjour%2C+je+suis+interess%C3%A9+par+vos+acticles"></a><span class="bold">+24177433646</span></li>
                <li><i class="fab fa-facebook icon"></i><a  href="https://www.facebook.com/lyshoppinggabao" target="_blank" rel="noopener noreferrer">Lyshop Gabon</a></li>
            </ul>
        </div>
    </div>
</div>