{% load i18n %}

<div class="big-menu full">
    <span>{% trans "Shop" %} <i class="fas fa-caret-down icon"></i></span>
    <div class="full">
        <ul>
            {% for k,v in GENDER %}
            <li class="col-xs-12 col-3">
                <div class="submenu full">
                    <span>{% trans v %} <i class="fas fa-caret-down icon"></i></span>
                    <ul>
                        {% for p_type in PRODUCT_TYPES %}
                            <li class="full"><a href="#">{% trans p_type.display_name %}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>