{% extends "template_email.html" %}
{% load i18n %}


{% block EMAIL_BODY %}

<tr><!--EMAIL_BODY-->
    <td>
        <table>
            <tr>
                <td>{% trans "Order confirmation" %}</td>
            </tr>
            <tr>
                <td>
                    <h3>{% blocktrans trimmed %}
                    Thank you for shopping at LYSHOP!
                    {% endblocktrans %}, </h3>
                    <p>{% blocktrans trimmed %}
Thank you for shopping at LYSHOP. 
We have received your order and will notify you as soon as your package is dispatched. Here is the information about your purchase.
                    {% endblocktrans %}</p>

                </td>
            </tr>
            <tr>
                <td><p>{% trans "Your information" %}</p></td>
            </tr>
            <tr>
                <td>
                    <p>{% trans "Order number" %} :  {{order.order_ref_number}}</p>
                    <p>{% trans "Order Date" %}  : {{order.created_at|date:"F j, Y"}}</p>
                    <p>{% trans "Name" %} : {{order.user.get_full_name}}</p>
                    <p>{% trans "Payment Method" %} : {{order.payment_method}}</p>
                    <p>{% trans "Ship Mode" %} : {{order.ship_mode}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    {% trans "Order overview" %}
                </td>
            </tr>
            <tr>
                <td>
                    <table>
                        <thead>
                            <tr>
                                <th>{% trans "Image" %}</th>
                                <th>{% trans "Art. Nr" %}</th>
                                <th>{% trans "Name" %}</th>
                                <th>{% trans "Attributes" %}</th>
                                <th>{% trans "Quantity" %}</th>
                                <th>{% trans "Price" %}</th>
                                <th>{% trans "Reduction" %}</th>
                                <th>{% trans "Total" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in order_items %}
                            <tr>
                                <td><div class="col-xs-3 col-4"><img class="img-responsive" src="{{item.image}}" alt="{{item.display_name}}"></div></td>
                                <td>{{item.product.product.article_number}}</td>
                                <td>{{item.product.display_name}}</td>
                                <td><div class="row">{% for attr in item.product.attributes.all %} <span>{{attr}} ; </span> {% endfor %}</div></td>
                                <td>{{item.quantity}}</td>
                                <td><span>{{item.unit_price}}</span> <span>{% trans CURRENCY %}</span></td>
                                <td><span>{{item.promotion_price|floatformat:"-2"}}</span> <span>{% trans CURRENCY %}</span></td>
                                <td><span>{{item.active_total_price|floatformat:"-2"}}</span> <span>{% trans CURRENCY %}</span></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>{% trans "Total Sum" %} : </td>
                                <td>{% trans "Shipping" %}</td>
                                <td>{% trans "Grand Total" %}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td> {{order.amount|floatformat:"-2"}} {% trans CURRENCY %} : </td>
                                <td>{{order.ship_mode.price|floatformat:"-2"}} {% trans CURRENCY %}</td>
                                <td>{{order.total|floatformat:"-2"}} {% trans CURRENCY %}</td>
                            </tr>
                        </tfoot>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>

{% endblock EMAIL_BODY %}