
{% load i18n %}
 <div class="modal-container">
    <div class="chips" title="{% trans 'Filter the list by payment_option field' %}">
        <i class="fas fa-info icon"></i>
        <span class="js-open-modal open-modal" data-target="payment-method-modal" >{% trans "payment method" %}</span>
        <span id="payment-method-filter" class="filter"></span>
    </div>
    
    <div id="payment-method-modal" class="modal">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <span class="title">{% trans "Payment Method Filter" %}</span><span class="js-close-modal close-modal" data-target="payment-method-modal" ><i class="fas fa-close"></i></span>
            </div>
            <div class="modal-body">
                <div class="mat-box">
                    <span class="js-close-modal close-modal" data-target="payment-method-modal" ><i class="fas fa-close"></i></span>
                    <div class="form-group-filter">
                        <span class="label">{% trans "Select a payment method" %}</span>
                        <div class="payment-method">
                            <div class="row">
                            {% for k, v in PAYMENT_OPTIONS %} <span class="chips js-payment-method-filter" data-selected="0" data-status="{{k}}">{% trans v %}</span> {% endfor %}
                            </div>
                        </div>
                    </div>
                </div><!--End of Box-->
            </div>
            <div class="modal-footer actions">
                <span class="js-close-modal close-modal mat-button mat-button-text" data-target="payment-method-modal" ><i class="fas fa-close"></i>{% trans "Close" %}</span>
                <button class="mat-button mat-button-default js-close-modal close-modal" data-target="payment-method-modal">{% trans "Use this Filter" %}</button>
            </div>
        </div><!--End of Modal-Content -->
        </div><!--End of Modal-Dialog -->
    </div><!--End of Modal-->
</div><!--End of Container-->