{% load i18n %}

{% if can_change_product %}
<a class="mat-button mat-button-default" href="{% url PRODUCT_UPDATE_URL product.product_uuid %}"> <i class="fas fa-edit icon"></i><span>{% trans "Edit" %}</span> </a>
{% endif %}
{% if can_add_product %}
<a class="mat-button mat-button-default" href="{% url VARIANT_CREATE_URL product.product_uuid %}"><i class="fas fa-plus icon"></i> <span>{% trans "Add Variant" %}</span></a>
<a class="mat-button mat-button-default" href="{% url IMAGE_CREATE_URL product.product_uuid %}"><i class="fas fa-plus icon"></i> <span>{% trans "Add Image" %}</span></a>
{% endif %}