
{% load i18n %}
 <div class="modal-container">
    <div class="chips">
        <span class="js-open-modal open-modal" data-target="status-modal" >{% trans "status" %}</span>
        <span id="status-filter" class="filter"></span>
    </div>
    
    <div id="status-modal" class="modal">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <span class="title">{% trans "Status Filter" %}</span><span class="js-close-modal close-modal" data-target="status-modal" ><i class="fas fa-close"></i></span>
            </div>
            <div class="modal-body">
                <div class="mat-box">
                    <span class="js-close-modal close-modal" data-target="status-modal" ><i class="fas fa-close"></i></span>
                    <div class="form-group-filter">
                        <span class="label">{% trans "Select a status" %}</span>
                        <div class="status">
                            <div class="row">
                            {% for k, v in STATUS %} <span class="chips js-status-filter" data-selected="0" data-status="{{k}}">{% trans v %}</span> {% endfor %}
                            </div>
                        </div>
                    </div>
                </div><!--End of Box-->
            </div>
            <div class="modal-footer actions">
                <span class="js-close-modal close-modal mat-button mat-button-text" data-target="status-modal" ><i class="fas fa-close"></i>{% trans "Close" %}</span>
                <button class="mat-button mat-button-default js-close-modal close-modal" data-target="status-modal">{% trans "Use this Filter" %}</button>
            </div>
        </div><!--End of Modal-Content -->
        </div><!--End of Modal-Dialog -->
    </div><!--End of Modal-->
</div><!--End of Container-->