{% extends "shipment_base.html"%}
{% load i18n %}
{% load shipment_status %}


{% block CONTENT_MAIN %}
{% if order_list %}
<div class="container">
    <div class="mat-table-wrapper">
        <table id="shipment-list" class="mat-table js-filter-table">
          <thead>
                  <tr>
                          <th scope="col">{% trans "Shipping Price" %}</th>
                          <th scope="col">{% trans "Order Reference" %}</th>
                          <th scope="col">{% trans "Quantity" %}</th>
                          <th scope="col">{% trans "Customer" %}</th>
                          <th scope="col">{% trans "Date" %}</th>
                          
                  </tr>
          </thead>
          <tbody>
                  {% for order in order_list  %}
                  <tr>
                    <td data-label="{% trans 'Shipping Price' %}">{{order.shipping_price|floatformat:"-2"}} {% trans CURRENCY %}</td>
                    <td data-label="{% trans 'Status' %}">{{order.order_ref_number}} </td>
                    <td data-label="{% trans 'Status' %}">{{order.quantity}} </td>
                    <td data-label="{% trans 'Customer' %}">{{order.user.get_full_name}}</td>
                    <td data-label="{% trans 'Date' %}">{{order.created_at|date:"F j, Y"}}</td>
                    
                  </tr>
                  {% endfor %}
                  
          </tbody>
    </table>
    {% include "tags/pagination.html" with page_set=order_list %}
    </div><!--End of Table Wrapper-->
</div>

{% else %}
<div class="container">
  <div class="col-m-12 col-12">
    <p>{% trans "There is no shipments yet." %}</p>
  </div>
  <div class="col-m-12 col-12">
    <p>{% trans "Shipments will be displayed here." %}</p>
  </div>
</div>
{% endif %}
{% endblock CONTENT_MAIN %}