{% extends "shipment_base.html"%}
{% load i18n %}
{% load shipment_status %}
{% block HEADER_BANNER %}
    <div class="banner banner-align-left">
        <div class="full welcome-text center">
                {% block  HEADER_BANNER_TITLE %}
                    <h4> {% trans "Orders ready for shipment" %}</h4>
                {% endblock HEADER_BANNER_TITLE %}
                
        </div>
        <div class="container">

            <div class="col col-9">
                <div class="banner--actions">
                    
                    <a class="mat-button mat-button-text" href="{% url 'shipment:shipment-home' %}"><i class="fas fa-home icon"></i><span>{% trans "Shipment Home" %}</span></a>
                    
                </div><!--End of Banner-Actions-->
            </div><!--End of Responsive-->
        
        </div><!--End of Container-->
        
    </div>
{% endblock HEADER_BANNER %}

{% block MAIN %}
{% if order_list %}
<div class="container">
<div class="col-m-12 col-9">
    <div class="mat-table-wrapper">
        <table id="shipment-list" class="mat-table js-filter-table">
          <caption>{% trans "Orders" %}</caption>
          <thead>
                  <tr>
                          <th scope="col">{% trans "Shipping Price" %}</th>
                          <th scope="col">{% trans "Order Reference" %}</th>
                          <th scope="col">{% trans "Quantity" %}</th>
                          <th scope="col">{% trans "Customer" %}</th>
                          <th scope="col">{% trans "Date" %}</th>
                          
                  </tr>
          </thead>
          <tbody>
                  {% for order in order_list  %}
                  <tr>
                    <td data-label="{% trans 'Shipping Price' %}">{{order.shipping_price|floatformat:"-2"}} {% trans CURRENCY %}</td>
                    <td data-label="{% trans 'Status' %}">{{order.order_ref_number}} </td>
                    <td data-label="{% trans 'Status' %}">{{order.quantity}} </td>
                    <td data-label="{% trans 'Customer' %}">{{order.user.get_full_name}}</td>
                    <td data-label="{% trans 'Date' %}">{{order.created_at|date:"F j, Y"}}</td>
                    
                  </tr>
                  {% endfor %}
                  
          </tbody>
          <tfoot>
                  
          </tfoot>

    </table>
    {% include "tags/pagination.html" with page_set=order_list %}
    </div><!--End of Table Wrapper-->
  </div>
</div>

{% else %}
<div class="container">
  <div class="col-m-12 col-12">
    <p>{% trans "There is no shipments yet." %}</p>
  </div>
  <div class="col-m-12 col-12">
    <p>{% trans "Shipments will be displayed here." %}</p>
  </div>
</div>
{% endif %}
{% endblock MAIN %}