{% extends "shipment_base.html"%}
{% load i18n %}
{% load shipment_status %}
{% block ACTIONS %}
<a class="mat-button mat-button-text" href="{{shipment.get_update_url}}"><i class="fas fa-pen icon"></i><span>{% trans "Update Shipment" %}</span></a>  
<a class="mat-button mat-button-text warn" href="{{shipment.get_delete_url}}"><i class="fas fa-tash icon"></i><span>{% trans "Delete" %}</span></a>
<a class="mat-button mat-button-text" href="{{shipment.order.get_dashboard_url}}"><i class="fas fa-receipt icon"></i><span>{% trans "Order" %}</span></a>     
<a class="mat-button mat-button-text" href="{{shipment.get_history_url}}"><i class="fas fa-history icon"></i><span>{% trans "Shipment History" %}</span></a>   
{% endblock ACTIONS %}


{% block CONTENT_MAIN %}

{% if shipment  %}

<div class="container">
    <div class="mat-box full">
        <div class="grid">
            <div class="box">
                <p class="entry"><span class="key">{% trans "Shipment Reference Number" %} </span> <span class="value">{{shipment.shipment_ref_number}}</span></p>
                <p class="entry"><span class="key">{% trans "Shipping Price" %} </span> <span class="value">{{shipment.price|floatformat:"-2"}} {% trans CURRENCY %}</span></p>
                <p class="entry"><span class="key">{% trans "Company" %} </span> <span class="value">{{shipment.company}}</span></p>
                <p class="entry"><span class="key">{% trans "Customer" %} </span> <span class="value">{{shipment.customer.get_full_name}}</span></p>
            </div>
            <div class="box">
                <p class="entry"><span class="key">{% trans "Status" %} </span> <span class="value">{{shipment.shipment_status|shipment_status_value}}</span></p>
                <p class="entry"><span class="key">{% trans "Date" %} </span> <span class="value">{{shipment.created_at|date:"F j, Y"}}</span></p>
                <p class="entry"><span class="key">{% trans "Shipped Date" %} </span> <span class="value">{{shipment.shipped_at|date:"F j, Y"}}</span></p>
                <p class="entry"><span class="key">{% trans "Delivered Date" %} </span> <span class="value">{{shipment.delivered_at|date:"F j, Y"}}</span></p>
                <p class="entry"><span class="key">{% trans "SHIPMENT ID" %} </span> <span class="value">{{shipment.shipment_uuid}}</span></p>
            </div>
            {% if shipment.order.address %}
                <div class="box">
                    <p class="entry"><span class="key">{% trans "Shipping Address" %} </span> <span class="value">{{shipment.order.address}}</span></p>
                </div>
            {% endif %}
        </div>
    
    </div>
</div>

{% else %}
<div class="access-error">
  <p>{% trans "Error. No Shipment found." %}</p>
</div>
{% endif %}
{% endblock CONTENT_MAIN %}