{% extends "order_base.html"%}
{% load i18n %}
{% load shipment_status %}
{% block HEADER_BANNER %}
    <div class="banner banner-align-left">
        <div class="full welcome-text center">
                {% block  HEADER_BANNER_TITLE %}
                    <h4> {% trans "Shipment Home" %}</h4>
                {% endblock HEADER_BANNER_TITLE %}
                
        </div>
        <div class="container">

            <div class="col col-9">
                <div class="banner--actions">
                    
                    <a class="mat-button mat-button-text" href="{% url 'shipment:shipments' %}"><i class="fas fa-home icon"></i><span>{% trans "Shipments" %}</span></a>
                    
                        
                </div><!--End of Banner-Actions-->
            </div><!--End of Responsive-->
        
        </div><!--End of Container-->
        
    </div>
{% endblock HEADER_BANNER %}

{% block MAIN %}
{% if recent_shipments %}
<div class="container">
<div class="col-m-12 col-9">
    <div class="mat-table-wrapper">
        <table id="shipment-list" class="mat-table js-filter-table">
          <caption>{% trans "Recent Shipments" %}</caption>
          <thead>
                  <tr>
                          <th scope="col">{% trans "Shipping Price" %}</th>
                          <th scope="col">{% trans "Customer" %}</th>
                          <th scope="col">{% trans "Status" %}</th>
                          <th scope="col">{% trans "Date" %}</th>
                          <th scope="col">{% trans "Details" %}</th>
                  </tr>
          </thead>
          <tbody>
                  {% for s in recent_shipments %}
                  <tr>
                    <td data-label="{% trans 'Shipping Price' %}">{{s.price}} {% trans "XAF" %}</td>
                    <td data-label="{% trans 'Customer' %}">{{s.customer.get_full_name}}</td>
                    <td data-label="{% trans 'Status' %}">{{s.shipment_status|tuple_key}} </td>
                    <td data-label="{% trans 'Date' %}">{{s.created_at|date:"F j, Y"}}</td>
                    <td data-label="{% trans 'Details' %}"><a class="mat-button mat-button-default" href="{{s.get_absolute_url}}"><i class="fas fa-info icon"></i><span>{% trans "Detail" %}</span></a></td>
                  </tr>
                  {% endfor %}
                  
          </tbody>
          <tfoot>
                  
          </tfoot>

    </table>
    {% include "tags/pagination.html" with page_set=shipment_list %}
    </div><!--End of Table Wrapper-->
  </div>
</div>

{% else %}
<div class="container">
  <div class="col-m-12 col-12">
    <p>{% trans "There is no shipments yet." %}</p>
  </div>
  <div class="col-m-12 col-12">
    <p>{% trans "Shipments will be displayed here." %}</p>
  </div>
</div>
{% endif %}
{% endblock MAIN %}