{% extends "shipment_base.html"%}
{% load i18n %}
{% load shipment_status %}
{% block HEADER_BANNER %}
    <div class="banner banner-align-left">
        <div class="full welcome-text center">
                {% block  HEADER_BANNER_TITLE %}
                    <h4> <i class="fas fa-shipping-fast icon"></i> <span>{% trans "Shipment" %} - {{shipment.shipment_ref_number}}</span></h4>
                    <h4> <i class="fas fa-receipt icon"></i> <span>{% trans "Order" %} - {{shipment.order.order_ref_number}}</span></h4>
                {% endblock HEADER_BANNER_TITLE %}
                
        </div>
    </div>
{% endblock HEADER_BANNER %}


{% block MAIN %}

{% if shipment  %}

<div class="container">
    <div class="actions">
        <a class="mat-button mat-button-text" href="{{shipment.get_update_url}}"><i class="fas fa-pen icon"></i><span>{% trans "Update Shipment" %}</span></a>  
        <a class="mat-button mat-button-text warn" href="{{shipment.get_delete_url}}"><i class="fas fa-tash icon"></i><span>{% trans "Delete" %}</span></a>
        <a class="mat-button mat-button-text" href="{{shipment.order.get_dashboard_url}}"><i class="fas fa-receipt icon"></i><span>{% trans "Order" %}</span></a>    
        <a class="mat-button mat-button-text" href="{% url 'shipment:shipments' %}"><i class="fas fa-list icon"></i><span>{% trans "Shipments" %}</span></a>   
        <a class="mat-button mat-button-text" href="{{shipment.get_history_url}}"><i class="fas fa-history icon"></i><span>{% trans "Shipment History" %}</span></a>   
        <a class="mat-button mat-button-text" href="{% url 'shipment:shipment-home' %}"><i class="fas fa-home icon"></i><span>{% trans "Shipment Home" %}</span></a>
    </div><!--End of Banner-Actions-->
    <div class="mat-box full">
        <div class="grid title">
            <div class="mat-box-title wrapper">
                <p><span class="key">{% trans "Shipment Reference Number" %} :</span> <span class="value">{{shipment.shipment_ref_number}}</span></p>
                <p><span class="key">{% trans "Shipping Price" %} :</span> <span class="value">{{shipment.price}} {% trans CURRENCY %}</span></p>
                <p><span class="key">{% trans "Company" %} :</span> <span class="value">{{shipment.company}}</span></p>
                <p><span class="key">{% trans "Customer" %} :</span> <span class="value">{{shipment.customer.get_full_name}}</span></p>
            
            </div>
            <div class="mat-box-title wrapper">
                <p><span class="key">{% trans "Status" %} :</span> <span class="value">{{shipment.shipment_status|tuple_key}}</span></p>
                <p><span class="key">{% trans "Date" %} :</span> <span class="value">{{shipment.created_at|date:"F j, Y"}}</span></p>
                <p><span class="key">{% trans "Shipped Date" %} :</span> <span class="value">{{shipment.shipped_at|date:"F j, Y"}}</span></p>
                <p><span class="key">{% trans "Delivered Date" %} :</span> <span class="value">{{shipment.delivered_at|date:"F j, Y"}}</span></p>
            
            </div>
        </div>
    
    </div>
</div>

{% else %}
<div class="access-error">
  <p>{% trans "Error. No Shipment found." %}</p>
</div>
{% endif %}
{% endblock MAIN %}