{% extends "cart_base.html" %}
{% load i18n %}
{% block MAIN %}
{% csrf_token %}
{% if item_list %}
<div class="container wrapper">
    <div class="col-m-12 col-8">
        <div class="mat-list-wrapper wrapper">
            <ul class="mat-list">
                
                
                {% for item in item_list %}
                <li class="mat-list-item" id="item-{{item.id}}">
                    {% include "cart_tags/item_snippet.html" %}
                </li>
                {% endfor %}
            </ul>
            
        </div><!--End mat-list-wrapper-->
    </div>
    <div class="col-m-12 col-4">
        <div class="container wrapper">
            <div class="mat-box">
                <div class="title">
                    <h4>{% trans "Summary" %}</h4>
                </div>
                <div class="mat-box-content">
                    <div class="container left">
                        <div id="coupon-error error hidden"><span>{% trans "Invalid coupon" %}</span></div>
                        <div class="entry">
                            <span class="key">{% trans "Coupon" %}</span>
                            <input id="coupon" class="js-coupon value" name="coupon">
                            <button class="js-add-coupon mat-button mat-button-text" data-target="coupon">{% trans "Add" %}</button>
                        </div>
                        <div class="entry"><span class="key">{% trans "Number of items" %}</span><span class="js-cart-quantity value">{{cart.quantity}}</span></div>
                        {% if cart.coupon %}
                        <div class="entry"><span class="key">{% trans "Reduction" %}</span><span id="reduction" class="js-cart-reduction value">{{cart.get_reduction|floatformat:"-2"}} <span>{% trans CURRENCY %}</span></span></div>
                        <div class="entry"><span class="key">{% trans "Total" %}({% trans "no reduction" %})</span><div class="price right"><span id="total" class="js-cart-total value">{{cart.amount|floatformat:"-2"}}</span><span>{% trans CURRENCY %}</span></div></div>
                        <div class="entry"><span class="key">{% trans "Total" %}</span><div class="price right"><span id="solded-price" class="js-cart-solded-price value">{{cart.solded_price|floatformat:"-2"}}</span><span>{% trans CURRENCY %}</span></div></div>
                        {% else %}
                        <div class="entry"><span class="key">{% trans "Reduction" %}</span><span id="reduction" class="js-cart-reduction value">0</span></div>
                        <div class="entry"><span class="key">{% trans "Total" %}</span><div class="price right"><span id="total" class="js-cart-total value">{{cart.amount|floatformat:"-2"}}</span><span>{% trans CURRENCY %}</span></div></div>
                        {% endif %}
                        
                        <div class="actions"><a class="mat-button mat-button-default" href="{% url 'orders:checkout' %}">{% trans "Checkout" %}</a></div>
                    </div>
                    <div class="container">
                        <p class="entry left">{% trans "We accept the following payment methods" %}</p>
                        <div class="row row-left entry">
                            <i class="key">{% trans "PAY" %}</i>
                            <i class="key">{% trans "CASH" %}</i>
                        </div>
                    </div>
                    <div class="container">
                        <p class="entry left">{% trans "The price and shipping cost will be confirm when you first close your order" %}</p>
                    </div>
                </div>
            </div><!--End of Box-->
            <div class="mat-box">
                <div class="mat-box-content">
                    <ul>
                        <li><p class="entry left">{% trans "Standard shipping cost 3000 XAF" %}</p></li>
                        <li><p class="entry left">{% trans "Express shipping cost 5000 XAF. Express shipping are sent as soon as possible so that the customer receives the order on the next few days." %}</p></li>
                    </ul>
                </div>
            </div><!--End of Box-->
        </div><!--End of Container-->
    </div>
</div>
    
    
{% else %}
<div class="mat-box">
    <span>{% trans "Your shopping cart is empty" %}</span>
</div>
{% endif %}

{% endblock MAIN %}