{% extends "base.html"%}
{% load i18n %}
{% load shipment_status %}
{% load order_tag %}
{% block HEADER_BANNER %}
    <div class="banner banner-align-left">
        <div class="full welcome-text center">
                <h4> {% trans "Welcome" %} {{name}}</h4>
        </div>
        <div class="container">

            <div class="col col-9">
                <div class="banner--content flex-column">
                    <div class="row row-left"><span class="item"><h4>{% trans "Current Balance" %}</h4></span></div>
                    <div class="row row-left subtitle"><span class="item"><span class="big strong">{{account.balance}} {% trans "XAF" %} </span></span></div>
                    
                </div><!--End of Banner-Content-->
                <div class="banner--actions">
                        <a class="mat-button mat-button-text" href="{{account.get_absolute_url}}"> {% trans "Account Details" %}</a>
                        <a class="mat-button mat-button-text" href="{% url 'orders:orders' %}"> {% trans "Orders" %}</a>
                        <a class="mat-button mat-button-text" href="{{account.get_absolute_url}}"> {% trans "Wishlist" %}</a>
                        
                        
                </div><!--End of Banner-Actions-->
            </div><!--End of Responsive-->
        
        </div><!--End of Container-->
        
    </div>
{% endblock HEADER_BANNER %}
{% block MAIN %}

<div class="row">
    <p>{% trans "Account Summary" %}</p>
</div>
<div class="container">
   <p>{% trans "Recent Orders" %}</p>
   {% if recent_orders %}
   <div class="mat-table-wrapper">
        <table id="order-list" class="mat-table js-filter-table">
          <thead>
                  <tr>
                        <th scope="col">{% trans "Order Reference" %}</th>
                        <th scope="col">{% trans "Amount" %}</th>
                        <th scope="col">{% trans "Status" %}</th>
                        <th scope="col">{% trans "Shipment Status" %}</th>
                        <th scope="col">{% trans "Date" %}</th>
                        <th scope="col">{% trans "Details" %}</th>
                  </tr>
          </thead>
          <tbody>
                  {% for o in recent_orders  %}
                  <tr>
                    <td scope="row" data-label="Order Reference">{{o.order_ref_number}}</td>
                    <td data-label="{% trans 'Amount' %}">{{o.amount}} {% trans "XAF" %}</td>
                    <td data-label="{% trans 'Status' %}">{{o.status|order_status_key}} </td>
                    {% if o.order_shipment.first %}
                    <td data-label="{% trans 'Shipment Status' %}">{{o.order_shipment.first.shipment_status|tuple_key}} </td>
                    {% else %}
                    <td data-label="{% trans 'Shipment Status' %}">{% trans "No shipment information" %}</td>
                    {% endif %}
                    <td data-label="{% trans 'Date' %}">{{o.created_at|date:"F j, Y"}}</td>
                    <td data-label="{% trans 'Details' %}"><a class="mat-button mat-button-default" href="{{o.get_absolute_url}}"><i class="fas fa-info icon"></i><span>{% trans "Detail" %}</span></a></td>
                  </tr>
                  {% endfor %}
                  
          </tbody>
          <tfoot>
                  
          </tfoot>

    </table>
    </div><!--End of Table Wrapper-->
   {% else %}
   <div class="row">
    <p>{% trans "You have not order any product yet." %}</p>
    <p>{% trans "Your recent orders will be shown here." %}</p>
   </div>
   {% endif %}
   
</div>
{% endblock MAIN %}