{% extends "site_account_base.html"%}
{% load i18n %}
{% load shipment_status %}
{% load order_tag %}
{% block MAIN %}


{% if not account.email_validated %}
<div class="container">
        <div class="mat-box">
                <p>{% trans "You have not yet validated your email address." %}</p>
                <p>{% trans "We have already sent you a validation link to your email address." %}</p>
                <p>{% trans "Please click on the validation link sent to you." %}</p>
                <p>{% trans "Click on the link below to receive a new activation link." %}</p>
                <p><a class="mat-button mat-button-text" href="{% url 'accounts:send-validation' account.account_uuid %}">{% trans "Send Validation Link" %}</a></p>
        </div>
</div>

{% else %}
<div class="flex flex-left full padding-h"><h4>{% trans "Overview" %}</h4></div>
<div class="container">
   
   {% if recent_orders %}
   <div class="flex flex-left full padding-h medium"><h5>{% trans "Recent Orders" %}</h5> <a href="{% url 'orders:orders' %}" class="mat-button mat-button-default"><span class="small">{% trans "See all" %}</span><i class="fas fa-arrow-right icon"></i></a></div>
   <div class="mat-table-wrapper">
        <table id="order-list" class="mat-table js-filter-table">
          <thead>
                  <tr>
                        <th scope="col">{% trans "Order Reference" %}</th>
                        <th scope="col">{% trans "Amount" %}</th>
                        <th scope="col">{% trans "Status" %}</th>
                        <th scope="col">{% trans "Shipment Status" %}</th>
                        <th scope="col">{% trans "Date" %}</th>
                        <th scope="col">{% trans "Details" %}</th>
                  </tr>
          </thead>
          <tbody>
                  {% for o in recent_orders  %}
                  <tr>
                    <td scope="row" data-label="{% trans 'Order Reference' %}"><span>{{o.order_ref_number}}</span></td>
                    <td data-label="{% trans 'Amount' %}"><span>{{o.amount|floatformat:"-2"}} {% trans CURRENCY %}</span></td>
                    <td data-label="{% trans 'Status' %}"><span>{{o.status|order_status_value}}</span></td>
                    {% if o.order_shipment.first %}
                    <td data-label="{% trans 'Shipment Status' %}"><span>{{o.order_shipment.first.shipment_status|shipment_status_value}}</span></td>
                    {% else %}
                    <td data-label="{% trans 'Shipment Status' %}"><span>{% trans "No shipment information" %}</span></td>
                    {% endif %}
                    <td data-label="{% trans 'Date' %}"><span>{{o.created_at|date:"F j, Y"}}</span></td>
                    <td data-label="{% trans 'Details' %}"><a class="mat-button mat-button-default" href="{{o.get_absolute_url}}"><span><i class="fas fa-info icon"></i>{% trans "See" %}</span></a></td>
                  </tr>
                  {% endfor %}
                  
          </tbody>
        </table>
    </div><!--End of Table Wrapper-->
   {% else %}
   <div class="mat-box">
    <p>{% trans "You have not order any product yet." %}</p>
    <p><a class="mat-button mat-button-default" href="{% url 'catalog:catalog-home' %}"> {% translate 'Discover Our Catalog' %}</a></p>
   </div>
   {% endif %}
   
</div>
{% endif %}
{% endblock MAIN %}