{% extends "base.html"%}
{% load i18n %}

{% block HEADER_BANNER %}
    <div class="banner banner-align-left">
        <div class="full welcome-text center">
                <h4> {% trans "Welcome" %} {{name}}</h4>
        </div>
        <div class="container">

            <div class="col col-9">
                <div class="banner--content flex-column">
                    <div class="row row-left"><span class="item"><h4>{% trans "Current Balance" %}</h4></span></div>
                    <div class="row row-left subtitle"><span class="item"><span class="big strong">{{account.balance}} {% trans "XAF" %} </span></span></div>
                    
                </div><!--End of Banner-Content-->
                <div class="banner--actions">
                        <a class="mat-button mat-button-text" href="{{account.get_absolute_url}}"> {% trans "Account Details" %}</a>
                        <a class="mat-button mat-button-text" href="{{account.get_absolute_url}}"> {% trans "Orders" %}</a>
                        <a class="mat-button mat-button-text" href="{{account.get_absolute_url}}"> {% trans "Wishlist" %}</a>
                        
                </div><!--End of Banner-Actions-->
            </div><!--End of Responsive-->
        
        </div><!--End of Container-->
        
    </div>
{% endblock HEADER_BANNER %}
{% block MAIN %}

<div class="row">
    <p>{% trans "Account Summary" %}</p>
</div>
<div class="container">
   <p>{% trans "Recent Orders" %}</p>
   {% if recent_orders %}
   <ul class="mat-list">
        {% for order in order_list %}
            <li><div><span>{{order.created_at}}</span> <span>{{order.amount}}</span> <span>{{order.quantity}}</span> <span>{{order.status}}</span></div></li>
        {% endfor %}
   </ul>
   {% else %}
   {% endif %}
   
</div>
{% endblock MAIN %}