{% extends "wishlist_base.html"%}
{% load i18n %}

{% if not show_banner %}
{% block HEADER_BANNER %}

{% endblock HEADER_BANNER %}
{% endif %}

{% block MAIN_CONTENT %}
<div class="container">
        {% if queryset %}
        <div id="products" class="products js-product-list">
                {% include "tags/wishlists_snippet.html" with wishlists_list=queryset %}
        </div>
        {% else %}
        <div class="mat-box">
        <p>{% trans "You have no wishlist to display yet." %}</p>
        <p>{% trans "As soon as you have one, they will be displayed here." %}</p>
        <p>{% trans "Please add wishlist and try again later" %}</p>
        </div>
        {% endif %}
        
</div>

{% endblock MAIN_CONTENT %}