{% load i18n %}
{% load addresses_tags %}

<div class="container">
    <input type="hidden" name="user" value="{{request.user.pk}}">
    <div class="form-group">
        <label for="firstname">{% trans "Firstame" %}</label>
        <input type="text" id="firstname" name="firstname" >
    </div>
    <div class="form-group">
        <label for="lastname">{% trans "Lastname" %}</label>
        <input type="text" id="lastname" name="lastname" >
    </div>
    <div class="form-group">
        <label for="country">{% trans "Country" %} </label>
        <input type="text" id="country" name="country" >
    </div>
    <div class="form-group">
        <label for="city">{% trans "City" %} </label>
        <input type="text" id="city" name="city" >
    </div>

    <div class="form-group">
        <label for="postal-code">{% trans "Postal code" %}</label>
        <input type="text" id="postal-code" name="postal_code" >
    </div>
    <div class="form-group">
        <label for="address-extra">{% trans "Address Extra" %}</label>
        <input type="text" id="address-extra" name="address_extra" >
    </div>
    <div class="form-group">
        <label for="street">{% trans "Street" %}</label>
        <input type="text" id="street" name="street" >
    </div>
    <div class="form-group">
        <label for="house-number">{% trans "House Number" %}</label>
        <input type="text" id="house-number" name="house_number" >
    </div>
    <div class="form-group">
        <label for="phone-number">{% trans "Phone Number" %}</label>
        <input type="text" id="phone-number" name="phone_number" >
    </div>
    <div class="actions">
        <span class="js-create-address mat-button  mat-button-outlined"> <i class="fas fa plus icon"></i> {% trans "Create Address" %}</span>
    </div>
</div>

