{% load i18n %}
<div id="{{step_id}}" class="tab-content" data-index="{{index}}" data-checked="{{step_id}} tab-icon">
    <div id="address-container" class="hidden">
        
        <h5><span>{% trans "Shipping Address" %}</span> <span class="js-add-address mat-button  mat-button-default"> <i class="fas fa-plus icon"></i> {% trans "New Address" %}</span></h5>
        
        {% if address %}
        <div id="checkout-address" class="mat-box">
                <input id="address" type="hidden" name="address" value="{{address.pk}}">
                <div class="mat-input">
                    <label for="name">{% trans "Name" %}</label>
                    <input type="text" id="name" value="{{address.firstname}} {{address.lastname}}" disabled>
                </div>
                <div class="mat-input">
                    <label for="email">{% trans "Email" %}</label>
                    <input type="text" id="email" value="{{address.user.email}}" disabled>
                </div>
                <div class="mat-input">
                    <label for="city">{% trans "City" %}</label>
                    <input type="text" id="city" value="{{address.city}}" disabled>
                </div>
                <div class="mat-input">
                    <label for="postal_code">{% trans "Zip" %}</label>
                    <input type="text" id="postal_code" value="{{address.postal_code}}" disabled>
                </div>
                <div class="mat-input">
                    <label for="street">{% trans "Street" %}</label>
                    <input type="text" id="street" value="{{address.street}}" disabled>
                </div>
                <div class="mat-input">
                    <label for="house_number">{% trans "House Number" %}</label>
                    <input type="text" id="house_number" value="{{address.house_number}}" disabled>
                </div>
                <div class="mat-input">
                    <label for="phone_number">{% trans "Phone Number" %}</label>
                    <input type="text" id="phone_number" value="{{address.phone_number}}" disabled>
                </div>
                <div class="mat-input">
                    <label for="country">{% trans "Country" %}</label>
                    <input type="text" id="country" value="{{address.country}}" disabled>
                </div>
                <div class="mat-input">
                    <input type="checkbox" id="address_type" checked disabled>
                    <label for="address_type">{% trans "Shipping address same as billing" %}</label>
                </div>
        </div>
        {% endif %}
        <div id="new-address" class="mat-box hidden">
            {% include "addressbook_tags/address_form.html" %}
        </div>
    </div>
    <div class="actions">
        <span class="mat-button mat-button-outlined disabled js-tab" data-toggle="#step-1" data-icon_parent="step-header-1" data-next-tab-index="2" title="{% trans 'Previous Step' %}"><i class="fas fa-chevron-left"></i></span>
        <span class="mat-button mat-button-outlined js-tab js-tab-next disabled" data-toggle="#step-3" data-icon_parent="step-header-3" data-next-tab-index="2"  title="{% trans 'Next step' %}"><i class="fas fa-chevron-right"></i></span>
    </div>
</div>