{% load i18n %}
<div id="{{step_id}}" class="tab-content" data-index="{{index}}">
    <h5>{% trans "Confirmation" %}</h5>
    <div class="actions">
        <span class="mat-button mat-button-outlined js-tab" data-toggle="#step-4" data-icon_parent="step-header-4" data-next-tab-index="3" title="{% trans 'Previous Step' %}"><i class="fas fa-chevron-left"></i>{% trans "previous" %}</span>
        <button class="mat-button mat-button-outlined js-send disabled" type="submit" title="{% trans 'Validate' %}" disabled><i class="fas fa-paper-plane"></i>{% trans "Send" %}</button>
    </div>
</div>