{% load i18n %}
{% load order_tag %}
<div id="{{step_id}}" class="tab-content" data-index="{{index}}" data-checked="{{icon_parent}} icon">

    <div id="payment-option" class="mat-box">
            <h5>{% trans "Payment Options" %}</h5>
            <ul>
                {% for k,v in PAYMENT_OPTIONS %}
                <li id="p-option-{{k}}" title="{{v}}"><input id="po-{{k}}" class="js-input-payment-option" type="radio" name="payment_option" value="{{k}}"><label for="po-{{k}}">{% trans v %}</label></li>
                {% endfor %}
            </ul>
    </div>
    <div id="payment-method" class="mat-box">
            <h5>{% trans "Payment Methods" %}</h5>
            <ul>
                {% for p_method in payment_methods %}
                <li id="p-method-{{p_method.mode}}" title="{{p_method.mode|pay_mode_value}}"><input id="pm-{{p_method.mode}}" class="js-input-payment-method" type="radio" name="payment_method" value="{{p_method.mode}}"><label for="pm-{{p_method.mode}}">{{p_method.display_name}}</label></li>
                {% endfor %}
            </ul>
    </div> 
    <div class="actions">
        <span class="mat-button mat-button-outlined js-tab js-tab-prev" data-toggle="#step-1" data-icon_parent="step-header-1" data-next-tab-index="1" title="{% trans 'Previous Step' %}"><i class="fas fa-chevron-left"></i></span>
        <span class="mat-button mat-button-outlined js-tab js-tab-next" data-toggle="#step-3" data-icon_parent="step-header-3" data-next-tab-index="3"  title="{% trans 'Next step' %}"><i class="fas fa-chevron-right"></i></span>
    </div>
</div>