{% load i18n %}

{% load order_tag %}


<div class="box">
    <div class="entry">
        <span class="key">{% trans "Name" %}</span> <span class="value">{{payment_method.display_name}}</span>
    </div>
    <div class="entry">
        <span class="key">{% trans "Provider" %}</span> <span class="value">{{payment_method.provider}}</span>
    </div>
    <div class="entry">
        <span class="key">{% trans "Credential" %}</span> <span class="value">{{payment_method.credential}}</span>
    </div>
    <div class="entry">
        <span class="key">{% trans "Mode" %}</span> <span class="value">{{payment_method.mode|pay_mode_value}}</span>
    </div>
</div>