{% extends "order_base.html" %}
{% load i18n %}
{% block MAIN %}


<div class="container">
<div class="col-m-12 col-8">
    <div class="mat-box tabs">
        <div class="tab-bar row checkout">
            <div class="tab" data-toggle="#step-1">
                <div class=""><span>{% trans "Shipping Info" %}</span></div>
            </div>
            <div class="tab" data-toggle="#step-2">
                <div><span>{% trans "Payment Option" %}</span></div>
            </div>
            <div class="tab" data-toggle="#step-3">
                <div><span>{% trans "Verification" %}</span></div>
            </div>
            <div class="tab" data-toggle="#step-4">
                <div><span>{% trans "Confirmation" %}</span></div>
            </div>
        </div>
        <form  action="{% url 'orders:checkout' %}" method="POST">{% csrf_token %}
        <input type="hidden" name="user" value="{{request.user.pk}}">
        {% if address_list %}
         <input type="hidden" name="address" value="{{address_list.first.pk}}">
        {% endif %}
        <div class="tab-container">
            <div id="step-1" class="tab-content">
                <div class="title">
                    <span>{% trans "User Info" %}</span>
                </div>
                <div>
                    <div><span>{% trans "Shipping Address" %}</span></div>
                    <div class="form-group">
                        <label><span>{% trans "Firstname" %}</span><input type="text" name="shipping_firstname"></label>
                    </div>
                    <div class="form-group">
                        <label><span>{% trans "Lastname" %}</span><input type="text" name="shipping_lastname"></label>
                    </div>
                    <div class="form-group">
                        <label><span>{% trans "Address Extra" %}</span><input type="text" name="shipping_address_extra"></label>
                    </div>
                    <div class="form-group">
                        <label><span>{% trans "Street" %}</span><input type="text" name="shipping_street"></label>
                    </div>
                    <div class="form-group">
                        <label><span>{% trans "House number" %}</span><input type="text" name="shipping_house_number"></label>
                    </div>
                    <div class="form-group">
                        <label><span>{% trans "Zip" %}</span><input type="text" name="shipping_postal_code"></label>
                    </div>
                    <div class="form-group">
                        <label><span>{% trans "City" %}</span><input type="text" name="shipping_city"></label>
                    </div>
                    <div class="form-group">
                        <label><span>{% trans "Country" %}</span><input type="text" name="shipping_country"></label>
                    </div>
                </div>

                <div>
                    <div><span>{% trans "Billing Address" %}</span></div>
                    <div><label><input type="checkbox" name="billing_shipping" checked><span>{% trans "use my Shipping Address" %}</span></label></div>
                    <div class="collapsible">
                    
                    <div class="form-group">
                        <label><span>{% trans "Firstname" %}</span><input type="text" name="billing_firstname"></label>
                    </div>
                    <div class="form-group">
                        <label><span>{% trans "Lastname" %}</span><input type="text" name="billing_lastname"></label>
                    </div>
                    <div class="form-group">
                        <label><span>{% trans "Address extra" %}</span><input type="text" name="billing_address_extra"></label>
                    </div>
                    <div class="form-group">
                        <label><span>{% trans "Street" %}</span><input type="text" name="billing_street"></label>
                    </div>
                    <div class="form-group">
                        <label><span>{% trans "House number" %}</span><input type="text" name="billing_house_number"></label>
                    </div>
                    <div class="form-group">
                        <label><span>{% trans "Zip" %}</span><input type="text" name="billing_postal_code"></label>
                    </div>
                    <div class="form-group">
                        <label><span>{% trans "City" %}</span><input type="text" name="billing_city"></label>
                    </div>
                    <div class="form-group">
                        <label><span>{% trans "Country" %}</span><input type="text" name="billing_country"></label>
                    </div>
                    </div>
                </div>
                <div class="actions">
                    <button class="mat-button mat-button-outlined js-next-tab" data-next-tab-index="1" title="{% trans 'Next Step' %}" disabled><i class="fas fa-chevron-right"></i></button>
                </div>
            </div>
            <div id="step-2" class="tab-content">
                <div class="title">
                    <span>{% trans "Payment Option" %}</span>
                </div>
                <div class="row">
                    <label ><input type="radio" name="payment_option" value="0">  <span>{% trans "Pay at delivery" %}</span></label>
                    
                </div>
                <div class="row">
                    
                    <label > <input type="radio" name="payment_option" value="1" checked><span>{% trans "Pay with Pay" %}</span></label>
                </div>
                <div class="actions">
                    <button class="mat-button mat-button-outlined" data-next-tab-index="0" title="{% trans 'Previous Step' %}"><i class="fas fa-chevron-left"></i></button>
                    <button class="mat-button mat-button-outlined" data-next-tab-index="2" title="{% trans 'Next Step' %}"><i class="fas fa-chevron-right"></i></button>
                </div>
            </div>
            <div id="step-3" class="tab-content">
                <div class="title">
                    <span>{% trans "Verification" %}</span>
                </div>
                <div class="actions">
                    <button class="mat-button mat-button-outlined" data-next-tab-index="1" title="{% trans 'Previous Step' %}"><i class="fas fa-chevron-left"></i></button>
                    <button class="mat-button mat-button-outlined" data-next-tab-index="3" title="{% trans 'Next Step' %}"><i class="fas fa-chevron-right"></i></button>
                </div>
            </div>
            <div id="step-4" class="tab-content">
                <div class="title">
                    <span>{% trans "Confirmation" %}</span>
                </div>
                <div class="actions">
                    <button class="mat-button mat-button-outlined" data-next-tab-index="2" title="{% trans 'Previous Step' %}"><i class="fas fa-chevron-left"></i></button>
                    <button class="mat-button mat-button-outlined" type="submit" title="{% trans 'Validate' %}"><i class="fas fa-paper-plane"></i></button>
                </div>
            </div>
        </div> <!--End of Tab Container-->
        </form>
    </div><!--End of mat-box-->
</div><!--End of col-->
</div><!--End of container-->
{% endblock MAIN %}