{% extends "order_base.html"%}
{% load i18n %}
{% load order_tag %}
{% block HEADER_BANNER %}
    <div class="banner banner-align-left">
        <div class="full welcome-text center">
                {% block  HEADER_BANNER_TITLE %}
                    <h4> {% trans "My Orders" %}</h4>
                {% endblock HEADER_BANNER_TITLE %}
                
        </div>
        <div class="container">

            <div class="col col-9">
                <div class="banner--actions">
                    
                    <a class="mat-button mat-button-text" href="{% url 'accounts:account' %}"><i class="fas fa-home icon"></i><span>{% trans "My account" %}</span></a>
                    
                        
                </div><!--End of Banner-Actions-->
            </div><!--End of Responsive-->
        
        </div><!--End of Container-->
        
    </div>
{% endblock HEADER_BANNER %}

{% block MAIN %}
{% if orders %}
<div class="container">
<div class="col-m-12 col-9">
    <div class="mat-table-wrapper">
        <div class="table-filter">
          <div class="row">
            <div class="col-m-4 col-3">
              <div class="container">
                <span class="js-open-modal open-modal" data-target="status-modal" >{% trans "status" %}</span>
                <span id="status-filter" class="filter"></span>
                <div id="status-modal" class="modal">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                          <span class="title">{% trans "Status Filter" %}</span><span class="js-close-modal close-modal" data-target="status-modal" ><i class="fas fa-close"></i></span>
                        </div>
                        <div class="modal-body">
                          <div class="box">
                              <span class="js-close-modal close-modal" data-target="status-modal" ><i class="fas fa-close"></i></span>
                              <div class="form-group-filter">
                                <label for="status">{% trans "status" %}</label>
                                <select id="status" name="status" id="status">
                                <option value="">{% trans "status filter" %}</option>
                                {% for k,v in ORDER_STATUS %} <option value="{{k}}">{% trans v %}</option> {% endfor %}
                                </select>
                              </div>
                          </div><!--End of Box-->
                        </div>
                        <div class="modal-footer actions">
                          <span class="js-close-modal close-modal" data-target="status-modal" ><i class="fas fa-close"></i>{% trans "Close" %}</span>
                          <button class="mat-button mat-button-default js-close-modal close-modal" data-target="status-modal">{% trans "use this Filter" %}</button>
                        </div>
                        
                          
                    </div><!--End of Modal-Content -->
                  </div><!--End of Modal-Dialog -->
                </div><!--End of Modal-->
              </div><!--End of Container-->
              
            </div>
            <div class="col-m-4 col-3">
              <div class="date-filter row">
                  <div class="form-group-filter">
                      <label for="start-date">{% trans "start date" %}</label>
                      <input type="date" name="start_date" id="start-date">
                  </div>
                  <div class="form-group-filter">
                      <label for="end-date">{% trans "end date" %}</label>
                      <input type="date" name="end_date" id="end-date">
                  </div>
              </div>
            </div>
            <div class="col-m-4 col-3">
              <div class="row">
                <p>{% trans "Amount filter" %}</p>
              </div>
            </div>
            <div class="col-m-4 col-3">
            
            </div>
            
            
            
          </div>
        </div>
        <table id="order-list" class="mat-table js-filter-table">
          <caption>{% trans "Order List" %}</caption>
          <thead>
                  <tr>
                          <th scope="col">{% trans "Order Reference Number" %}</th>
                          <th scope="col">{% trans "Amount" %}</th>
                          <th scope="col">{% trans "Status" %}</th>
                          <th scope="col">{% trans "Date" %}</th>
                          <th scope="col">{% trans "Details" %}</th>
                  </tr>
          </thead>
          <tbody>
                  {% for o in orders  %}
                  <tr>
                    <td data-label="{% trans 'Order Reference Number' %}">{{o.order_ref_number}}</td>
                    <td data-label="{% trans 'Amount' %}">{{o.amount|floatformat:"-2"}} {% trans CURRENCY %}</td>
                    <td data-label="{% trans 'Status' %}">{{o.status|order_status_value}} </td>
                    <td data-label="{% trans 'Date' %}">{{o.created_at|date:"F j, Y"}}</td>
                    <td data-label="{% trans 'Details' %}"><a class="mat-button mat-button-default" href="{{o.get_absolute_url}}"><i class="fas fa-info icon"></i><span>{% trans "Detail" %}</span></a></td>
                  </tr>
                  {% endfor %}
                  
          </tbody>
          <tfoot>
                  
          </tfoot>

    </table>
    {% include "tags/pagination.html" with page_set=orders %}
    </div><!--End of Table Wrapper-->
  </div>
</div>

{% else %}
<div class="container">
  <div class="col-m-12 col-12">
    <p>{% trans "You have bought any article yet." %}</p>
  </div>
  <div class="col-m-12 col-12">
    <p>{% trans "Your orders will be displayed here." %}</p>
  </div>
</div>
{% endif %}
{% endblock MAIN %}