{% extends "order_base.html"%}
{% load i18n %}
{% load order_tag %}
{% load core_tags %}

{% block MAIN %}
<form id="filter-form" action="{% url 'orders:orders' %}" method="GET">{% comment %}{% csrf_token %}
{% endcomment %}

<div class="container">
<div class="col-m-12 col-9">
    <div class="mat-table-wrapper">
    {% if orders %}
    
        {% if FILTER_CONFIG %}
            {% include "core/core_filter.html" with FILTER_TEMPLATE="core/filter.html" %}
        {% endif %}
        <table id="order-list" class="mat-table js-filter-table">
          <thead>
                  <tr>
                          <th scope="col">{% trans "Order Reference" %}</th>
                          <th scope="col">{% trans "Amount" %}</th>
                          <th scope="col">{% trans "Status" %}</th>
                          <th scope="col">{% trans "Payment Option" %}</th>
                          <th scope="col">{% trans "Date" %}</th>
                          <th scope="col">{% trans "Details" %}</th>
                  </tr>
          </thead>
          <tbody>
                  {% for o in orders  %}
                  <tr class="filterable" data-filter-status="{{o.status}}" data-filter-amount="{{o.amount|floatformat:'-2'}}" data-filter-date="{{o.created_at|date:'F j, Y'}}">
                    <td data-label="{% trans 'Order Reference' %}">{{o.order_ref_number}}</td>
                    <td data-label="{% trans 'Amount' %}">{{o.amount|floatformat:"-2"}} {% trans CURRENCY %}</td>
                    <td data-label="{% trans 'Status' %}">{{o.status|order_status_value}} </td>
                    <td data-label="{% trans 'Payment Option' %}">{{o.payment_option|payment_option_value}} </td>
                    <td data-label="{% trans 'Date' %}">{{o.created_at|date:"F j, Y"}}</td>
                    <td data-label="{% trans 'Details' %}"><a class="mat-button mat-button-default" href="{{o.get_absolute_url}}"><i class="fas fa-info icon"></i><span>{% trans "See" %}</span></a></td>
                  </tr>
                  {% endfor %}
                  
          </tbody>
          <tfoot>
                  
          </tfoot>

    </table>
    {% include "tags/pagination.html" with page_set=orders %}
    {% else %}
    <div class="mat-box">
        <p>{% trans "You have not placed an order yet." %}</p>
        <p>{% trans "Your orders would be listed here when available." %}</p>
    </div>
    
    {% endif %}
    </div><!--End of Table Wrapper-->
  </div>
</div>
</form>

{% endblock MAIN %}