{% extends "order_base.html"%}
{% load i18n %}
{% load order_tag %}
{% block HEADER_BANNER %}
    <div class="banner banner-align-left">
        <div class="full welcome-text center">
                {% block  HEADER_BANNER_TITLE %}
                    <h4> {% trans "My Orders" %}</h4>
                {% endblock HEADER_BANNER_TITLE %}
                
        </div>
        <div class="container">

            <div class="col col-9">
                <div class="banner--actions">
                    
                    <a class="mat-button mat-button-text" href="{% url 'accounts:account' %}"><i class="fas fa-home icon"></i><span>{% trans "My account" %}</span></a>
                    
                        
                </div><!--End of Banner-Actions-->
            </div><!--End of Responsive-->
        
        </div><!--End of Container-->
        
    </div>
{% endblock HEADER_BANNER %}

{% block MAIN %}
<form id="filter-form" action="" method="GET">{% comment %}{% csrf_token %}
{% endcomment %}

<div class="container">
<div class="col-m-12 col-9">
    <div class="mat-table-wrapper">
        <div class="table-filter">
              <div class="grid">
                  <i class="fas fa-filter icon"></i>
                  {% include "tags/status_filter.html" with STATUS=ORDER_STATUS SELECTED_FILTERS=SELECTED_FILTERS field_name="status" %}
                  {% include "tags/payment_option_filter.html" with PAYMENT_OPTIONS=PAYMENT_OPTIONS field_name="payment_option" %}
                  {% include "tags/amount_filter.html" with  field_name="amount" %}
              </div>
        </div>
        <table id="order-list" class="mat-table js-filter-table">
          <thead>
                  <tr>
                          <th scope="col">{% trans "Order Reference Number" %}</th>
                          <th scope="col">{% trans "Amount" %}</th>
                          <th scope="col">{% trans "Status" %}</th>
                          <th scope="col">{% trans "Payment Option" %}</th>
                          <th scope="col">{% trans "Date" %}</th>
                          <th scope="col">{% trans "Details" %}</th>
                  </tr>
          </thead>
          <tbody>
                  {% for o in orders  %}
                  <tr class="filterable" data-filter-status="{{o.status}}" data-filter-amount="{{o.amount|floatformat:'-2'}}" data-filter-date="{{o.created_at|date:'F j, Y'}}">
                    <td data-label="{% trans 'Order Reference Number' %}">{{o.order_ref_number}}</td>
                    <td data-label="{% trans 'Amount' %}">{{o.amount|floatformat:"-2"}} {% trans CURRENCY %}</td>
                    <td data-label="{% trans 'Status' %}">{{o.status|order_status_value}} </td>
                    <td data-label="{% trans 'Payment Option' %}">{{o.payment_option|payment_option_value}} </td>
                    <td data-label="{% trans 'Date' %}">{{o.created_at|date:"F j, Y"}}</td>
                    <td data-label="{% trans 'Details' %}"><a class="mat-button mat-button-default" href="{{o.get_absolute_url}}"><i class="fas fa-info icon"></i><span>{% trans "Detail" %}</span></a></td>
                  </tr>
                  {% empty %}
                  <tr>{% trans "No data available" %}</tr>
                  {% endfor %}
                  
          </tbody>
          <tfoot>
                  
          </tfoot>

    </table>
    {% include "tags/pagination.html" with page_set=orders %}
    </div><!--End of Table Wrapper-->
  </div>
</div>
</form>

{% endblock MAIN %}