{% load i18n %}
{% load core_tags %}
<div class="table-filter">
    <div class="grid collapsible">
        <span class="collapse-toggle mat-button mat-button-text" data-target="filter-content"><i class="fas fa-filter icon"></i>{% trans "FILTER" %}</span>
        <div id="filter-content" class="collapse-content">
            <div class="grid flex-center">
            {% for field in FILTER_CONFIG.fields %}
                {% include FILTER_TEMPLATE with TEMPLATE_NAME=FILTER_CONFIG|access_dict:field|access_dict:'template_name' DISPLAY_NAME=FILTER_CONFIG|access_dict:field|access_dict:'display_name'  FIELD_FILTER=FILTER_CONFIG|access_dict:field field_name=field %}
            {% endfor %}
            </div>
        </div>
    </div>
</div>