{% load i18n %}
 <div class="modal-container">
    <div {% if field_name in SELECTED_FILTERS  %} class="chips chips-selected" {% else %}class="chips" {% endif %}  title="{{field_name}}">
        <i class="fas fa-info icon"></i>
        <span class="js-open-modal open-modal" data-target="{{field_name}}-modal" >{% trans field_name %}</span>
        <span id="{{field_name}}-filter" class="filter"></span>
    </div>

    
    <div id="{{field_name}}-modal" class="modal">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <span class="title">{% trans "Filter" %}</span><span class="js-close-modal close-modal" data-target="{{field_name}}-modal" ><i class="fas fa-close"></i></span>
            </div>
            <div class="modal-body">
                {% include template_name with SELECTION=FIELD_FILTER.selection.selection_options RANGE=FIELD_FILTER.range FILTER=SELECTED_FILTERS[field_name]  %}
            </div>
            <div class="modal-footer actions">
                <span class="js-close-modal close-modal mat-button mat-button-text" data-target="{{field_name}}-modal" ><i class="fas fa-close"></i>{% trans "Close" %}</span>
                <button class="mat-button mat-button-default js-close-modal close-modal" data-target="{{field_name}}-modal">{% trans "Use this Filter" %}</button>
            </div>
        </div><!--End of Modal-Content -->
        </div><!--End of Modal-Dialog -->
    </div><!--End of Modal-->
</div><!--End of Container-->