{% extends "site_account_base.html"%}
{% load i18n %} 
{% load addresses_tags %}
{% block META_REDIRECT %}
        
{% endblock META_REDIRECT %}

{% block  HEADER_BANNER_TITLE %}
<div class="full welcome-text center">
    <h4> <i class="fas fa-address-book icon"></i>{% trans "Addressbook" %}</h4>
</div>
{% endblock HEADER_BANNER_TITLE %}
{% block SUB_BANNER %}
<div class="container">
    <div class="col-m-12 col-9">
        <ul class="actions">
            <li><a class="mat-button mat-button-default" href="{% url 'addressbook:address-create' %}"><i class="fas fa-plus icon"></i>{% trans 'Add new Address' %}</a></li>     
        </ul><!--End of Banner-Actions-->
    </div><!--End of Responsive-->

</div><!--End of Container-->
{% endblock SUB_BANNER %}
{% block MAIN %}

{% endblock MAIN %}
{% block GOOGLE_ANALYTICS %}{% endblock GOOGLE_ANALYTICS %}