{% load i18n %}
<div class="cart-item">
    <span class="cart-item-remove js-cart-delete-item" data-parent="item-{{item.id}}" data-item="{{item.item_uuid}}" data-action="delete" data-target="item-{{item.id}}"><i class="fas fa-times-circle"></i></span>
    <div class="col-1">
        <div class="cart-item-image">
            <span class="img-wrapper">
                <img class="img-responsive" src="{{item.get_image_url}}" alt="{{item.display_name}}">
            </span>
        </div>
    </div>
    <div class="cart-item-content col-11">
        <div class="row">
            <div class="col-12 col-m-12">{{item.brand.display_name}} {{item.display_name}}</div>
            <div class="col-12 col-m-12">
                {% if item.is_promoted %}
                <span class="sale-price"><span>{{item.item_price}}</span><span class="currency">{% trans CURRENCY %}</span></span> <span class="old-price"><span>{{item.original_price}}</span><span class="currency">{% trans CURRENCY %}</span></span>
                {% else %}
                <span class=""><span>{{item.item_price}}</span><span class="currency">{% trans CURRENCY %}</span></span>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="entry"> <span class="key">{% trans "Total" %}</span><span class="value"><span id="item-total-price-{{item.id}}">{{item.item_total_price}}</span><span class="currency">{% trans CURRENCY %}</span></span></div>
        </div>
        <div class="row">
            <div class="entry">
                <span class="key">{% trans "Quantity" %}</span>
                <div class="value">
                    <div class="custom-input">
                        <span class="fas fa-minus js-cart-update-item-quantity" data-parent="item-{{item.id}}" data-item="{{item.item_uuid}}" data-action="decrement" data-update="item-total-price-{{item.id}}" data-target="item-quantity-{{item.id}}"></span> 
                        <input class="js-cart-item-quantity" data-total="item-total-price-{{item.id}}" data-parent="item-{{item.id}}" data-item="{{item.item_uuid}}" type="text" name="quantity" id="item-quantity-{{item.id}}" value="{{item.quantity}}" autocomplete="off">
                        <span class="fas fa-plus js-cart-update-item-quantity" data-parent="item-{{item.id}}" data-item="{{item.item_uuid}}" data-action="increment" data-update="item-total-price-{{item.id}}" data-target="item-quantity-{{item.id}}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>