{% extends "base.html"%}
{% load i18n %}
{% load static %} 
{% block META_REDIRECT %}
        
{% endblock META_REDIRECT %}

{% block HEADER_BANNER %}
    <div class="banner banner-align-left">
        <div class="full welcome-text center">
                {% block  HEADER_BANNER_TITLE %}
                    <h4> {% trans "Catalog" %}</h4>
                {% endblock HEADER_BANNER_TITLE %} 
        </div>
    </div>
{% endblock HEADER_BANNER %}
{% block MAIN %}
{% block CATEGORIES %}
{% include 'tags/category_nav.html' %}
{% endblock CATEGORIES %}
<div class="main container">
    <div class="col-m-12 col-2">
        <div class="flex flex-column">
            {% if FILTER_CONFIG %}
                {% include "core/core_filter.html" with FILTER_TEMPLATE="core/catalog_filter.html" %}
            {% endif %}
            {% include "tags/catalog_filter.html" %}
            {% include "tags/product_filter.html" %}
        </div>
    
    </div>
    <div class="col-m-12 col-10">
        {% block MAIN_CONTENT %}
        {% endblock MAIN_CONTENT %}
    </div>
</div>
{% endblock MAIN %}

{% block SCRIPT %}

{% endblock SCRIPT %}