{% extends "base.html"%}
{% load i18n %}
{% load static %} 
{% block META_REDIRECT %}
        
{% endblock META_REDIRECT %}

{% block MAIN %}

{% block CATEGORIES %}
{% include 'tags/category_nav.html' %}
{% endblock CATEGORIES %}
<div class="main container">
    {% if queryset or product_list %}
        <div class="full">
            <form id="filter-form" class="full" method="GET">
                <div class="catalog-filter">
                    {% include "tags/catalog_filter.html" %}
                </div>
            </form>
        </div>
    {% endif %}
    <div class="full">
        {% block MAIN_CONTENT %}
        {% endblock MAIN_CONTENT %}
    </div>
</div>
{% endblock MAIN %}

{% block SCRIPT %}

{% endblock SCRIPT %}