{% extends "dashboard_base.html"%}
{% load i18n %}
{% load addresses_tags %}
{% block HEADER_BANNER %}
    <div class="banner banner-align-left">
        <div class="full welcome-text center">
                {% block  HEADER_BANNER_TITLE %}
                    <h4> {% trans "Addressbook" %}</h4>
                {% endblock HEADER_BANNER_TITLE %}
                
        </div>
        <div class="container">

            <div class="col-m-12 col-9">
                <div class="banner--actions">
                    <a class="mat-button mat-button-text" href="{% url 'dashboard:home' %}"><i class="fas fa-home icon"></i><span>{% trans "Dashboard" %}</span></a>    
                </div><!--End of Banner-Actions-->
                
            </div><!--End of Responsive-->
        
        </div><!--End of Container-->
        
    </div>
{% endblock HEADER_BANNER %}


{% block MAIN_CONTENT %}
<div class="container">
    <div class="grid">
        {% for address in address_list %}
        <div class="row">
                <div class="col-xs-12 col-2">
                    <div class="box">
                        <div class="flex-column align-left">
                            <a href="{{address.get_dashboard_update_url}}" class="mat-button mat-button-default"><i class="fas fa-pen icon"></i>{% trans "Edit" %}</a>
                            <a href="{{address.get_dashboard_delete_url}}" class="mat-button mat-button-default warn"><i class="fas fa-trash icon"></i>{% trans "Delete" %}</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-4">
                        <div class="box">
                            <div class="entry">
                                <span class="key">{% trans "Main Address" %}</span><span class="value">{{address.is_favorite|yesno}}</span>
                            </div>
                            <div class="entry">
                                <span class="key">{% trans "Firstname" %}</span><span class="value">{{address.firstname}}</span>
                            </div>
                            <div class="entry">
                                <span class="key">{% trans "Lastname" %}</span><span class="value">{{address.lastname}}</span>
                            </div>
                            <div class="entry">
                                <span class="key">{% trans "Country" %}</span><span class="value">{{address.country}}</span>
                            </div>
                            <div class="entry">
                                <span class="key">{% trans "City" %}</span><span class="value">{{address.city}}</span>
                            </div>

                        </div>
                </div>
                <div class="col-xs-12 col-4">
                        <div class="box">
                            <div class="entry">
                                <span class="key">{% trans "Postal Code" %}</span><span class="value">{{address.postal_code}}</span>
                            </div>
                            <div class="entry">
                                <span class="key">{% trans "Address Extra" %}</span><span class="value">{{address.address_extra}}</span>
                            </div>
                            <div class="entry">
                                <span class="key">{% trans "Street" %}</span><span class="value">{{address.street}}</span>
                            </div>
                            <div class="entry">
                                <span class="key">{% trans "House Number" %}</span><span class="value">{{address.house_number}}</span>
                            </div>
                            <div class="entry">
                                <span class="key">{% trans "Phone Number" %}</span><span class="value">{{address.phone_number}}</span>
                            </div>
                            <div class="entry">
                                <span class="key">{% trans "Address is used for" %}</span><span class="value">{{address.address_type|address_type_value}}</span>
                            </div>

                        </div>
                </div>    
        </div>
        
        
        {% endfor %}
    </div>

</div>
{% endblock MAIN_CONTENT %}