{% extends "dashboard_base.html"%}
{% load i18n %}
{% load addresses_tags %}


{% block CONTENT %}
<div class="container">
    <div class="actions">
        <a href="{{address.get_dashboard_update_url}}" class="mat-button mat-button-default"><i class="fas fa-pen icon"></i>{% trans "Edit" %}</a>
    </div>
    <div class="grid">
        <div class="row">
                <div class="box">
                    <div class="entry">
                        <span class="key">{% trans "User" %}</span><span class="value">{{address.user.username}}</span>
                    </div>
                    <div class="entry">
                        <span class="key">{% trans "Firstname" %}</span><span class="value">{{address.firstname}}</span>
                    </div>
                    <div class="entry">
                        <span class="key">{% trans "Lastname" %}</span><span class="value">{{address.lastname}}</span>
                    </div>
                    <div class="entry">
                        <span class="key">{% trans "Country" %}</span><span class="value">{{address.country}}</span>
                    </div>
                    <div class="entry">
                        <span class="key">{% trans "City" %}</span><span class="value">{{address.city}}</span>
                    </div>
                </div>
                <div class="box">
                    <div class="entry">
                        <span class="key">{% trans "Postal Code" %}</span><span class="value">{{address.postal_code}}</span>
                    </div>
                    <div class="entry">
                        <span class="key">{% trans "Address Extra" %}</span><span class="value">{{address.address_extra}}</span>
                    </div>
                    <div class="entry">
                        <span class="key">{% trans "Street" %}</span><span class="value">{{address.street}}</span>
                    </div>
                    <div class="entry">
                        <span class="key">{% trans "House Number" %}</span><span class="value">{{address.house_number}}</span>
                    </div>
                    <div class="entry">
                        <span class="key">{% trans "Phone Number" %}</span><span class="value">{{address.phone_number|default_if_none:""}}</span>
                    </div>
                    <div class="entry">
                        <span class="key">{% trans "Address is used for" %}</span><span class="value">{{address.address_type|address_type_value}}</span>
                    </div>
                </div>
        </div>
    </div>

</div>
{% endblock CONTENT %}