{% extends "dashboard_base.html"%}
{% load i18n %}
{% load catalog_tags %}
{% block HEADER_BANNER %}
    <div class="banner banner-align-left">
        <div class="full welcome-text center">
                {% block  HEADER_BANNER_TITLE %}
                    <h4> {% trans "Attribute" %}</h4>
                {% endblock HEADER_BANNER_TITLE %}
                
        </div>
        <div class="container">

            <div class="col-m-12 col-9">
                <div class="actions">
                    <a class="mat-button mat-button-default" href="{% url 'dashboard:attributes-create' %}"><i class="fas fa-plus icon"></i><span>{% trans "Add new Attributes" %}</span></a>    
                    <a class="mat-button mat-button-default" href="{% url 'dashboard:attributes' %}"><i class="fas fa-list icon"></i><span>{% trans "Attributes" %}</span></a>
                    <a class="mat-button mat-button-default" href="{% url 'dashboard:home' %}"><i class="fas fa-home icon"></i><span>{% trans "Dashboard" %}</span></a>    
                </div><!--End of Banner-Actions-->
                
            </div><!--End of Responsive-->
        
        </div><!--End of Container-->
        
    </div>
{% endblock HEADER_BANNER %}

{% block MAIN_CONTENT %}
{% if can_view_product %}

{% if can_delete_product %}
<form action="{{attribute.get_delete_url}}" method="POST">{% csrf_token %}

<div class="actions">
  <button type="submit" class="mat-button warn">{% trans "Delete" %}</button>
</div>
</form>
{% endif %}

<div class="mat-box">
  <div class="entry">
    <span class="key">{% trans "Name" %}</span> <span class="value">{{attribute.name}}</span>
  </div>
  <div class="entry">
    <span class="key">{% trans "Display Name" %}</span> <span class="value">{{attribute.display_name}}</span>
  </div>
  <div class="entry">
    <span class="key">{% trans "Value" %}</span> <span class="value">{{attribute.value}}</span>
  </div>
  
  <div class="entry">
    <span class="key">{% trans "Value Type" %}</span> <span class="value">{{attribute.value_type|attr_type_value}}</span>
  </div>
  <div class="entry">
    <span class="key">{% trans "Is Primary" %}</span> <span class="value">{{attribute.is_primary|yesno:_("yes,no")}}</span>
  </div>
</div>

{% if can_change_product%}
<div class="container">
    <form  class="form" name="attribute" action="{{attribute.get_update_url}}" method="POST">{% csrf_token %}
        <div id="error-login" class="error-login left">
        </div>
        <div class="form-group">
            <label for="name">{% trans "Name" %}</label>
            <input type="text" name="name" value="{{attribute.name}}">
        </div>
        <div class="form-group">
            <label for="display_name">{% trans "Display Name" %}</label>
            <input type="text" name="display_name" value="{{attribute.display_name}}">
        </div>
        <div class="form-group">
            <label for="value">{% trans "Value" %}</label>
            <input type="text" name="value" value="{{attribute.value}}">
        </div>
        
        <div class="form-group">
            <label for="value_type">{% trans "Value Type" %}</label>
            <select name="value_type" id="">
              {% for k,v in ATTRIBUTE_TYPE %}
                <option value="{{k}}" {% if attribute.value_type == k %}selected{% endif %}>{{v}}</option>
              {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="is-primary">{% trans "Is Primary" %}</label>
            <input type="checkbox"  name="is_primary" {% if attribute.is_primary %}checked{% endif %}>
        </div>
          
          <div class="form-group actions">
            <a class="mat-button mat-button-outlined" href="{% url 'dashboard:attributes' %}">{% trans "Cancel" %}</a>
            <button class="mat-button mat-button-default" type="submit">{% trans "Update" %}</button>
          </div>
    </form>
</div>
{% if product_list %}
        <div class="mat-list-wrapper">
          <div class="mat-list-title">
            <h4>{% trans "Products" %}</h4>
            <span>{{product_list.count}}</span>
          </div>
          <ul class="mat-list">
            {% for p in product_list %}
            <li class="mat-list-item"><a class="mat-button mat-button-text" href="{{p.get_dashboard_url}}">{{p.name}}</a></li>
            {% endfor %}
          </ul>

        </div>
        
        {% else %}
        <div class="mat-box">
          <span>{% trans "No product available for this attribute" %}</span>
        </div>
        {% endif %}

{% endif %}
{% else %}
<div class="access-error">
  <p>{% trans "The page you requested could not be found or you are not allowed to access this page." %}</p>
</div>
{% endif %}

{% endblock MAIN_CONTENT %}