{% extends "product_base.html"%}
{% load i18n %}

{% block ACTIONS %}
<a class="mat-button mat-button-default" href="{{brand.get_update_url}}"> <i class="fas fa-edit icon"></i><span>{% trans "Edit" %}</span> </a>
<a class="mat-button mat-button-default" href="{% url 'dashboard:brand-create' %}"> <i class="fas fa-plus icon"></i><span>{% trans "Add New Brand" %}</span></a>
<a class="mat-button mat-button-default" href="{% url 'dashboard:brands' %}"><i class="fas icon"></i><span>{% trans "Brands" %}</span></a>

{% endblock ACTIONS %}

{% block CONTENT_MAIN %}

<div class="container">
        <div class="mat-box">
          <div class="box">
            <div class="entry">
              <span class="key">{% trans "Name" %}</span> <span class="value">{{brand.name}}</span>
            </div>
            <div class="entry">
              <span class="key">{% trans "Display Name" %}</span> <span class="value">{{brand.display_name}}</span>
            </div>
            <div class="entry">
              <span class="key"><i class="fas fa-barcode icon">{% trans "Code" %}</i></span> <span class="value">{{brand.code}}</span>
            </div>
          </div>
        </div><!--End of mat-box-->
        <div class="mat-box full">
          <h4>{% trans "Brand Products" %}</h4>
          <div class="mat-box-content">
              <div class="mat-table-wrapper">
                <table id="id-list" class="mat-table js-filter-table">
                      <thead>
                              <tr>
                                  <th>{% trans "Display Name" %}</th>
                                  <th>{% trans "Quantity" %}</th>
                                  <th>{% trans "Price" %}</th>
                              </tr>
                      </thead>
                      <tbody>
                              {% for product in product_list %}
                              <tr>
                                    <td>{{product.display_name}}</td>
                                    <td>{{product.quantity}}</td>
                                    <td>{{product.price}} {% trans CURRENCY %}</td>
                                    <td><a class="mat-button mat-button-text" href="{{product.get_dashboard_url}}"><i class="fas fa-info icon"></i><span>{% trans "Details" %}</span></a></td>
                              </tr>
                              {% endfor %}
                              
                      </tbody>
                      <tfoot>
                              
                      </tfoot>

                </table>
              </div><!--End of Table Wrapper-->
          </div>
        </div>

</div>

{% endblock CONTENT_MAIN %}