{% extends "dashboard_base.html"%}
{% load i18n %}

{% block HEADER_BANNER %}
    <div class="banner banner-align-left">
        <div class="full welcome-text center">
                {% block  HEADER_BANNER_TITLE %}
                    <h4> {% trans "Category" %} - {{category.display_name}}</h4>
                {% endblock HEADER_BANNER_TITLE %}
                
        </div>
        <div class="container">

            <div class="col col-9">
                <div class="banner--actions">
                    {% if can_change_category %}<a class="mat-button mat-button-default" href="{{category.get_update_url}}"> <i class="fas fa-edit icon"></i><span>{% trans "Edit" %}</span> </a>{% endif %}
                    {% if can_add_category %}<a class="mat-button mat-button-default" href="{% url 'dashboard:category-create' %}"> <i class="fas fa-plus icon"></i> <span>{% trans "Add new Category" %}</span></a>{% endif %}
                    {% if can_delete_category %}<a class="mat-button mat-button-default" href="{{category.get_delete_url}}"> <i class="fas fa-trash icon"></i><span>{% trans "Delete" %}</span> </a>{% endif %}
                    <a class="mat-button mat-button-text" href="{% url 'dashboard:categories' %}"> <i class="fas icon"></i><span>{% trans "Categories" %}</span></a>
                    <a class="mat-button mat-button-text" href="{% url 'dashboard:home' %}"> <i class="fas fa-home icon"></i><span>{% trans "Dashboard" %}</span></a>
                    
                        
                </div><!--End of Banner-Actions-->
            </div><!--End of Responsive-->
        
        </div><!--End of Container-->
        
    </div>
{% endblock HEADER_BANNER %}

{% block MAIN_CONTENT %}

{% if can_view_category %}



<div class="container">
        <div class="mat-box">
          <div class="title">
            <h4> {% trans "Category Name" %} : {{category.name}} </h4>
            <i> {% trans "Display Name" %} : {{category.display_name}}</i>
            <i> {% trans "Code" %} : {{category.code}}</i>
          </div>
          <div class="mat-box-content">
              <ul class="mat-list" role="navigation">
                
                <li class="mat-list-item"> 
                    <label for="is_active">{% trans "Activated" %} : </label>
                    <input type="checkbox" name="is_active" id="is_active" {% if category.is_active %}checked{% endif %} disabled>
                 </li>
                <li class="mat-list-item"> {% trans "Created by" %}: {{category.added_by.username}} </li>
                <li class="mat-list-item"> {% trans "Created at" %} : {{category.created_at|date:"F j, Y"}} </li>
              </ul>
              {% if subcategory_list  %}
              
              <div class="mat-list-wrapper">
                  <div clas="mat-list-header">
                    <div class="list-title">
                      {% trans "Sub Categories" %}
                    </div>
                  </div>
                  <ul class="mat-list">
                    {% for c in subcategory_list %}
                     <li class="mat-list-item"><a class="mat-button mat-button-text" href="{{c.get_dashboard_url}}">{{c.display_name}}</a></li>
                    {% endfor %}
                  </ul>
              </div>
              {%else%}
                  <p>{% trans "There are no sub categories for this category yet" %}</p>
              {% endif %}
              
          </div>
        </div>
</div>

{% else %}
<div class="error">
  <p>{% trans "The page you requested could not be found or you are not allowed to access this page." %}</p>
</div>
{% endif %}
{% endblock MAIN_CONTENT %}