{% extends "product_base.html"%}
{% load i18n %}
{% load catalog_tags %}
{% block ACTIONS %}
{% if can_change_category %}
<a class="mat-button mat-button-default" href="{{category.get_update_url}}"> <i class="fas fa-edit icon"></i><span>{% trans "Edit" %}</span></a>
<a class="mat-button mat-button-default" href="{% url 'dashboard:category-manage-product' category.category_uuid %}"> <i class="fas fa-edit icon"></i><span>{% trans "Manage Products" %}</span></a>
{% endif %}
{% if can_add_category %}<a class="mat-button mat-button-default" href="{% url 'dashboard:category-create' %}"> <i class="fas fa-plus icon"></i> <span>{% trans "Add new Category" %}</span></a>{% endif %}
{% if can_delete_category %}<a class="mat-button mat-button-default" href="{{category.get_delete_url}}"> <i class="fas fa-trash icon"></i><span>{% trans "Delete" %}</span> </a>{% endif %}
<a class="mat-button mat-button-default" href="{% url 'dashboard:categories' %}"> <i class="fas fa-list icon"></i><span>{% trans "Categories" %}</span></a>
{% endblock ACTIONS %}

{% block CONTENT_MAIN %}

<div class="container">
  <div class="mat-box wrapper full">
      <div class="box">
            <div class="entry">
              <span class="key">{% trans "Name" %}</span> <span class="value">{{category.name}}</span>
            </div>
            <div class="entry">
              <span class="key">{% trans "Display Name" %}</span> <span class="value">{{category.display_name}}</span>
            </div>
            <div class="entry">
              <span class="key">{% trans "Page title" %}</span> <span class="value">{{category.get_page_title}}</span>
            </div>
            <div class="entry">
              <span class="key"><i class="fas fa-barcode icon">{% trans "Code" %}</i></span> <span class="value">{{category.code}}</span>
            </div>
            <div class="entry">
              <span class="key">{% trans "Created By" %}</span> <span class="value">{{category.added_by.username}}</span>
            </div>
            <div class="entry">
              <span class="key">{% trans "Creation Date" %}</span> <span class="value">{{category.created_at|date:'F j, Y'}}</span>
            </div>
            <div class="entry">
              <span class="key">{% trans "Is active" %}</span> <span class="value">{{category.is_active|yesno}}</span>
            </div>
            <div class="entry">
              <span class="key">{% trans "Parent" %}</span> <span class="value">{{category.parent}}</span>
            </div>
            <div class="entry">
              <span class="key">{% trans "Slug" %}</span> <span class="value">{{category.slug}}</span>
            </div>
            <div class="entry">
              <span class="key">{% trans "Description" %}</span> <span class="value">{{category.description}}</span>
            </div>

      </div>
  </div><!--End of mat-box-->
  <div class="mat-box wrapper full">
    <h4>{% trans "Sub Categories" %}</h4>
    <div class="mat-box-content">
      <div class="mat-table-wrapper">
                <table id="subcategory-list" class="mat-table js-filter-table">
                    
                      <thead>
                              <tr>
                                    <th scope="col">{% trans "Display Name" %}</th>
                                    <th scope="col">{% trans "Code" %}</th>
                                    <th scope="col">{% trans "Details" %}</th>
                              </tr>
                      </thead>
                      <tbody>
                              {% for c in subcategory_list %}
                              <tr>
                                    <td scope="row" data-label="{% trans 'Display Name' %}"><span>{{c.display_name}}</span></td>
                                    <td data-label="{% trans 'Code' %}"><span>{{c.code}}</span></td>
                                    <td data-label="{% trans 'Details' %}"><a class="mat-button mat-button-text" href="{{c.get_dashboard_url}}"><span><i class="fas fa-info icon"></i> {% trans "Details" %}</span></a></td>
                              </tr>
                              {% endfor %}
                      </tbody>
                </table>
          </div><!--End of Table Wrapper-->
    </div><!--End of mat-box-content-->

  </div><!--End of mat-box-->
</div>
{% endblock CONTENT_MAIN %}