{% extends "dashboard_base.html"%}
{% load i18n %}
{% load tz %}
{% block HEADER_BANNER %}
    <div class="banner banner-align-left">
        <div class="full welcome-text center">
                {% block  HEADER_BANNER_TITLE %}
                    <h4> {% trans "Coupons" %}</h4>
                {% endblock HEADER_BANNER_TITLE %}
                
        </div>
        <div class="container">

            <div class="col col-9">
                <div class="banner--actions">
                    {% if can_add_coupon %}
                    <a class="mat-button mat-button-default" href="{% url 'dashboard:coupon-create'%}"> <i class="fas fa-plus icon"></i><span>{% trans "Add new Coupon" %}</span></a>
                    {% endif %}
                    <a class="mat-button mat-button-text" href="{% url 'dashboard:home' %}"><i class="fas fa-home icon"></i><span>{% trans "Dashboard" %}</span></a>
                        
                </div><!--End of Banner-Actions-->
            </div><!--End of Responsive-->
        
        </div><!--End of Container-->
        
    </div>
{% endblock HEADER_BANNER %}

{% block MAIN_CONTENT %}
{% if can_view_coupon %}
<div class="container">
<div class="col-m-12 col-9">
    <div class="mat-table-wrapper">
        <div class="row">
            <div class="mat-table-title">
                {% trans "Coupons" %}
            </div>
        </div><!--End of Row-->
        <form action="{% url 'dashboard:coupons-delete' %}" method="POST">{% csrf_token %}
        <table id="coupon-list" class="mat-table js-filter-table">
            {% if can_delete_coupon %}
            <div class="actions">
                    <button class="js-activable mat-button mat-button-outlined"><i class="fas fa-trash icon"></i><span>{% trans "Delete Selected" %}</span></button>
            </div>
            {% endif %}
          <thead>
                  
                  <tr>
                          <th scope="col"><label><input id="filter-select-all" class="js-select-all" type="checkbox" name="allselected" title="{% trans 'Select all' %}"></label></th>
                          <th scope="col">{% trans "Name" %}</th>
                          <th scope="col">{% trans "Reduction" %}</th>
                          <th scope="col">{% trans "Date of creation" %}</th>
                          <th scope="col">{% trans "Seller" %}</th>
                          <th scope="col">{% trans "Status" %}</th>
                          <th scope="col">{% trans "Details" %}</th>
                          <th scope="col">{% trans "Action" %}</th>
                  </tr>
          </thead>
          <tbody>
                  {% for coupon in coupon_list  %}
                  <tr>
                  <td scope="row" class="checkbox"><label><input class="js-selectable" type="checkbox" name="coupons" value="{{coupon.pk}}"><span class="checkbox-label"></span></label></td>
                  <td data-label="{% trans 'Name' %}">{{coupon.name}}</td>
                  <td data-label="{% trans 'Reduction' %}">{{coupon.reduction}}</td>
                  <td data-label="{% trans 'Date of Creation' %}">{{coupon.created_at|date:"F j, Y"}}</td>
                  <td data-label="{% trans 'Seller' %}">{% if coupon.seller %}{{coupon.seller.username}}{% else %}-{% endif %}</td>
                  <td data-label="{% trans 'Status' %}">{% if coupon.is_active %}
                    {% trans "Activated" %}
                  {% else %}
                    {% trans "Not Activated" %}
                  {% endif %}</td>
                  <td data-label="{% trans 'Details' %}"><a class="mat-button mat-button-default" href="{{coupon.get_dashboard_url}}"> <i class="fas fa-info icon"></i><span>{% trans "Details" %}</span></a></td>
                  {% if can_delete_coupon %}<td data-label="{% trans 'Action' %}"><a class="mat-button mat-button-default warning danger js-need-confirmation" href="{{coupon.get_delete_url}}"><i class="fas fa-trash icon"></i><span>{% trans "Delete" %}</span></a></td>{% endif %}
                  </tr>
                  {% endfor %}
                  
          </tbody>
        </table>
        </form>
    {% include "tags/pagination.html" with page_set=coupon_list %}
    </div><!--End of Table Wrapper-->
  </div>
</div>
{% else %}
<div class="access-error">
  <p>{% trans "The page you requested could not be found or you are not allowed to access this page." %}</p>
</div>
{% endif %}
{% endblock MAIN_CONTENT %}