{% extends "dashboard_base.html"%}
{% load i18n %}
{% block HEADER_BANNER %}
    <div class="banner banner-align-left">
        <div class="full welcome-text center">
                {% block  HEADER_BANNER_TITLE %}
                    <h4> {% trans "Coupon" %} - {{coupon.name}}</h4>
                {% endblock HEADER_BANNER_TITLE %}
                
        </div>
    </div>
{% endblock HEADER_BANNER %}
{% block MAIN_CONTENT %}

{% if can_view_coupon %}
<div class="container">
        <div class="mat-box full">
          <div class="grid">
            <div class="box">
                <div class="entry">
                  <span class="key">{% trans "Name" %}</span> <span class="value">{{coupon.name}}</span>
                </div>
                <div class="entry">
                  <span class="key">{% trans "Reduction" %}</span> <span class="value">{{coupon.reduction}}</span>
                </div>
                
                <div class="entry">
                  <span class="key">{% trans "Status" %}</span> <span class="value">{% if coupon.is_active %}{% trans "Activated" %} {% else %}{% trans "Not activated" %}{% endif %}</span>
                </div>
                 {% if coupon.seller %}
                <div class="entry">
                  <span class="key">{% trans "Merchant" %}</span> <span class="value">{{coupon.seller.username}}</span>
                </div>
                {% endif %}
                
            </div>
            
            <div class="box">
                <div class="entry">
                  <span class="key">{% trans "Create at" %}</span> <span class="value">{{coupon.created_at|date:"F j, Y"}}</span>
                </div>
                <div class="entry">
                  <span class="key">{% trans "Begin at" %}</span> <span class="value">{{coupon.begin_at|date:"F j, Y"}}</span>
                </div>
                <div class="entry">
                  <span class="key">{% trans "Expire at" %}</span> <span class="value">{{coupon.expire_at|date:"F j, Y"}}</span>
                </div>
                <div class="entry">
                  <span class="key">{% trans "Activated at" %}</span> <span class="value">{{coupon.activated_at|date:"F j, Y"}}</span>
                </div>
            </div>
            <div class="box">
               
                <div class="entry">
                  <span class="key">{% trans "Added by" %}</span> <span class="value">{{coupon.added_by.username}}</span>
                </div>
                <div class="entry">
                  <span class="key">{% trans "Activated by" %}</span> <span class="value">{{coupon.activated_by.username}}</span>
                </div>
            </div>
          </div><!--End of title-->
          <div class="mat-box-content">
                <div class="banner--actions">
                    <a class="mat-button mat-button-default" href="{{coupon.get_update_url}}"><i class="fas fa-pen icon"></i>{% trans "Edit" %}</a>
                    <a class="mat-button mat-button-default" href="{% url 'dashboard:coupon-create'%}"><i class="fas fa-plus icon"></i>{% trans "Add New Coupon" %}</a>
                    <a class="mat-button mat-button-default warn" href="{{coupon.get_dashboard_delete_url}}"><i class="fas fa-trash icon"></i>{% trans "Delete" %}</a>
                    <a class="mat-button mat-button-text" href="{% url 'dashboard:coupons' %}"><i class="fas fa-list icon"></i></span>{% trans "Coupons" %}</a>
                    <a class="mat-button mat-button-text" href="{% url 'dashboard:home' %}"><i class="fas fa-home icon"></i> <span>{% trans "Dashboard" %}</span></a>     
                </div><!--End of Banner-Actions-->
          </div><!--End of mat-box-content-->
        </div><!--End of mat-box-->
</div>
{% else %}
<div class="access-error">
  <p>{% trans "The page you requested could not be found or you are not allowed to access this page." %}</p>
</div>
{% endif %}
{% endblock MAIN_CONTENT %}