{% extends "dashboard_base.html"%}
{% load i18n %}
{% load order_tag %}
{% if not can_access_dashboard %}
{% include "tags/unauthorized.html" %}
{% else %}

{% block HEADER_BANNER %}
        {% block BANNER_TITLE %}
                {% include "tags/dashboard_summary.html" %}
        {% endblock BANNER_TITLE %}
{% endblock HEADER_BANNER %}

{% block MAIN_CONTENT %}
<div class="container">
{% if can_view_order %}
                        
<div class="col-xs-12 col-6">
        <div class="mat-table-wrapper">
                <h4>{% trans "Recent Orders" %}</h4>
                <table id="order-list" class="mat-table js-filter-table">
                        <thead>
                                <tr>
                                        <th scope="col">{% trans "Reference Number" %}</th>
                                        <th>{% trans "Customer" %}</th>
                                        <th scope="col">{% trans "Status" %}</th>
                                        <th>{% trans "Total Price" %}</th>
                                        <th>{% trans "Date of Order" %}</th>
                                </tr>
                        </thead>
                        <tbody>
                                {% for order in recent_orders  %}
                                <tr>
                                <td data-label="{% trans 'Reference Number' %}">{{o.order_ref_number}}</td>
                                <td>{{order.user.get_full_name}}</td>
                                <td data-label="{% trans 'Status' %}">{{o.status|order_status_value}} </td>
                                <td>{{order.total}} {% trans CURRENCY %}</td>
                                <td>{{order.created_at|date:"F j, Y"}}</td>
                                </tr>
                                {% endfor %}
                                
                        </tbody>
                        <tfoot>
                                
                        </tfoot>
        
                </table>
                
        </div> <!--End of Table Wrapper-->
</div> <!--End of Col-6-->
{% endif %}
</div>

{% endblock MAIN_CONTENT %}
{% endif %}