{% extends "dev_dashboard_base.html"%}
{% load i18n %}
{% load order_tag %}
{% if not can_access_dashboard %}
{% include "tags/unauthorized.html" %}
{% else %}




<div class="main-content">
{% block DASHBOARD_SUMMARY %}
        {% include "tags/dashboard_summary.html" %}
{% endblock DASHBOARD_SUMMARY %}
{% block CONTENT %}
{% if can_view_order %}
                
        <div class="mat-table-wrapper">
                <h4>{% trans "Recent Orders" %}</h4>
                <table id="order-list" class="mat-table">
                        <thead>
                                <tr>
                                        <th scope="col">{% trans "Reference Number" %}</th>
                                        <th scope="col">{% trans "Customer" %}</th>
                                        <th scope="col">{% trans "Status" %}</th>
                                        <th scope="col">{% trans "Total Price" %}</th>
                                        <th scope="col">{% trans "Date of Order" %}</th>
                                        <th scope="col">{% trans "Details" %}</th>
                                </tr>
                        </thead>
                        <tbody>
                                {% for order in order_list  %}
                                <tr>
                                <td scope="row" data-label="{% trans 'Reference Number' %}">{{order.order_ref_number}}</td>
                                <td data-label="{% trans 'Customer' %}">{{order.user.get_full_name}}</td>
                                <td data-label="{% trans 'Status' %}">{{order.status|order_status_value}} </td>
                                <td data-label="{% trans 'Total Price' %}">{{order.total}} {% trans CURRENCY %}</td>
                                <td data-label="{% trans 'Date of Order' %}">{{order.created_at|date:"F j, Y"}}</td>
                                <td data-label="{% trans 'Details' %}"><a class="mat-button mat-button-default" href="{{order.get_dashboard_url}}"><i class="fas fa-info icon"></i><span>{% trans "Detail" %}</span></a></td>
                                </tr>
                                {% endfor %}
                                
                        </tbody>
                        <tfoot>
                                
                        </tfoot>
        
                </table>
                
        </div> <!--End of Table Wrapper-->
{% endif %}
{% endblock CONTENT %}
</div>


{% endif %}