{% extends "dashboard_base.html"%}
{% load i18n %}


{% block CONTENT %}
<div class="container">
    <div class="actions">
        {% if can_add_group %}<a class="mat-button mat-button-default" href="{% url 'dashboard:group-create' %}"> <i class="fas fas-plus"></i> <span>{% trans "Create A Group" %}</span> </a>{% endif %}
            <a class="mat-button mat-button-default" href="{% url 'dashboard:home' %}"><i class="fas fa-home icon"></i><span>{% trans "Dashboard" %}</span></a>
    </div><!--End of Banner-Actions-->
    {% include "tags/group_update_form.html" %}
</div>
{% endblock CONTENT %}