{% extends "product_base.html"%}
{% load i18n %}
{% load catalog_tags %}


{% block ACTIONS %}
<a class="mat-button mat-button-default" href="{{highlight.get_update_url}}"><i class="fas fa-refresh icon"></i><span>{% trans "Update" %}</span></a>
<a class="mat-button mat-button-default" href="{% url 'dashboard:highlights' %}"><i class="fas fa-list icon"></i><span>{% trans "Highlights" %}</span></a>
{% endblock ACTIONS %}


{% block CONTENT_MAIN %}

<div class="container">
    <div class="mat-box ">
        <div class="grid">
            <div class="box">
                <p class="entry"><span class="key">{% trans "Name" %}</span> <span class="value">{{highlight.name}}</span></p>
                <p class="entry"><span class="key">{% trans "Display Name" %}</span> <span class="value">{{highlight.display_name}}</span></p>
                <p class="entry"><span class="key">{% trans "Active" %}</span> <span class="value">{{highlight.is_active|yesno}}</span></p>
                <p class="entry"><span class="key">{% trans "Gender" %}</span> <span class="value">{{highlight.gender|gender_value}}</span></p>
                <p class="entry"><span class="key">{% trans "Created" %}</span> <span class="value">{{highlight.created_at|date:"F j, Y"}}</span></p>
                <p class="entry"><span class="key">{% trans "Description" %}</span> <span class="value">{{highlight.description}}</span></p>
            </div>
        </div><!--End of grid-->
    </div><!--End mat-box-->
    <div class="mat-box full">
        <h5> {% trans "Highlight Products" %}</h5>
        <div class="mat-table-wrapper">
            <table id="item-list" class="mat-table">
                <thead>
                        <tr>
                                <th>{% trans "Article" %}</th>
                                <th>{% trans "Price" %}</th>
                                <th>{% trans "Promotion Price" %}</th>
                                <th>{% trans "Details" %}</th>
                        </tr>
                </thead>
                <tbody>
                        {% for item in highlighted_products  %}
                        <tr>
                            <td>{{item.display_name}}</td>
                            <td><span>{{item.price|floatformat:"-2"}}</span> <span>{% trans CURRENCY %}</span></td>
                            <td><span>{{item.promotion_price|floatformat:"-2"}}</span> <span>{% trans CURRENCY %}</span></td>
                            <td><a class="mat-button mat-button-default" href="{{item.product.get_absolute_url}}"> <i class="fas fa-info icon"></i><span>{% trans "Product Details" %}</span></a></td>
                        </tr>
                        {% endfor %}
                        
                </tbody>

            </table>
        </div><!--End of Table Wrapper-->
    </div><!--End mat-box-->

    <div class="mat-box full">
        <h5> {% trans "Products" %}</h5>
        <div class="mat-box-content">
            <div class="mat-table-wrapper">
                <form action="{% url 'dashboard:highlight-add-products' highlight.highlight_uuid %}" method="POST">{% csrf_token %}
                <div class="actions"><button class="js-activable mat-button mat-button-default warn"><i class="fas fa-plus icon"></i><span>{% trans "Add Selection" %}</span></button></div>
                <table id="item-list" class="mat-table">
                    <thead>
                            <tr>
                                <th></th>
                                <th>{% trans "Article" %}</th>
                                <th>{% trans "Quantiy" %}</th>
                                <th>{% trans "Price" %}</th>
                                <th>{% trans "Promotion Price" %}</th>
                                <th>{% trans "Details" %}</th>
                            </tr>
                    </thead>
                    <tbody>
                            {% for item in products  %}
                            <tr>
                                <td scope="row" data-label="" class="checkbox"><input class="js-selectable" type="checkbox" name="products" value="{{item.pk}}"></td>
                                <td>{{item.display_name}}</td>
                                <td>{{item.quantity}}</td>
                                
                                <td><span>{{item.price|floatformat:"-2"}}</span> <span>{% trans CURRENCY %}</span></td>
                                <td><span>{{item.promotion_price|floatformat:"-2"}}</span> <span>{% trans CURRENCY %}</span></td>
                                <td><a class="mat-button mat-button-default" href="{{item.get_absolute_url}}"> <i class="fas fa-info icon"></i><span>{% trans "Product Details" %}</span></a></td>
                            </tr>
                            {% endfor %}
                            
                    </tbody>

                </table>
                </form>
            </div><!--End of Table Wrapper-->
        </div><!--End mat-box-content-->
    </div><!--End mat-box-->
</div>
{% endblock CONTENT_MAIN %}