{% extends "product_base.html"%}
{% load i18n %}

{% block ACTIONS %}
<a class="mat-button mat-button-default" href="{{news.get_update_url}}"><i class="fas fa-pen icon"></i>{% trans "Edit" %}</a>
<a class="mat-button mat-button-default" href="{% url 'dashboard:new-create'%}"><i class="fas fa-plus icon"></i>{% trans "New Info" %}</a>
<a class="mat-button mat-button-default warn" href="{{news.get_delete_url}}"><i class="fas fa-trash icon"></i>{% trans "Delete" %}</a>
<a class="mat-button mat-button-default" href="{% url 'dashboard:news' %}"><i class="fas fa-list icon"></i></span>{% trans "Infos" %}</a>
{% endblock ACTIONS %}

{% block CONTENT_MAIN %}
<div class="container">
        <div class="mat-box full">
          <div class="grid">
            <div class="box">
                <div class="entry">
                  <span class="key">{% trans "Name" %}</span> <span class="value">{{news.title}}</span>
                </div>
                <div class="entry">
                  <span class="key">{% trans "Display Name" %}</span> <span class="value">{{news.content}}</span>
                </div>
                <div class="entry">
                  <span class="key">{% trans "Provider" %}</span> <span class="value">{{news.start_at|date:"F j, Y"}}</span>
                </div>
                <div class="entry">
                  <span class="key">{% trans "Credential" %}</span> <span class="value">{{news.end_at|date:"F j, Y"}}</span>
                </div>
                
            </div>
            
            <div class="box">
                <div class="entry">
                  <span class="key">{% trans "Create at" %}</span> <span class="value">{{news.created_at|date:"F j, Y"}}</span>
                </div>
                <div class="entry">
                  <span class="key">{% trans "Added by" %}</span> <span class="value">{{news.added_by.username}}</span>
                </div>
                {% if news.changed_by %}
                <div class="entry">
                  <span class="key">{% trans "Last changed by" %}</span> <span class="value">{{news.changed_by.username}}</span>
                </div>
                <div class="entry">
                  <span class="key">{% trans "Last changed" %}</span> <span class="value">{{news.changed_at|date:"F j, Y"}}</span>
                </div>
                {% endif %}
                <div class="entry">
                  <span class="key">{% trans "Active" %}</span> <span class="value">{{news.is_active|yesno}}</span>
                </div>
            </div>
          </div><!--End of title-->
        </div><!--End of mat-box-->
</div>
{% endblock CONTENT_MAIN %}