{% extends "product_base.html"%}
{% load i18n %}
{% load tz %}
{% block ACTIONS %}
<a class="mat-button mat-button-default" href="{% url 'dashboard:news-create'%}"> <i class="fas fa-plus icon"></i><span>{% trans "New Info" %}</span></a>
{% endblock ACTIONS %}

{% block CONTENT_MAIN %}
<div class="container">
    <div class="mat-table-wrapper">
        <form action="{% url 'dashboard:news-bulk-delete' %}" method="POST">{% csrf_token %}
        <table id="news-list" class="mat-table js-filter-table">
            <div class="actions">
                <button id="js-delete-all-btn" class="mat-button mat-button-outlined js-activable" disabled><i class="fas fa-trash icon"></i><span>{% trans "Delete Selected" %}</span></button>
            </div>
          <thead>
                  
                  <tr>
                          <th scope="col"><label><input id="filter-select-all" class="js-select-all" type="checkbox" name="allselected" title="{% trans 'Select all' %}"></label></th>
                          <th scope="col">{% trans "Title" %}</th>
                          <th scope="col">{% trans "Start" %}</th>
                          <th scope="col">{% trans "Active" %}</th>
                          <th scope="col">{% trans "Date of creation" %}</th>
                          <th scope="col">{% trans "Details" %}</th>
                  </tr>
          </thead>
          <tbody>
                  {% for news in news_list  %}
                  <tr>
                  <td scope="row" class="checkbox"><label><input class="js-selectable" type="checkbox" name="news-list" value="{{news.pk}}"><span class="checkbox-label"></span></label></td>
                  <td data-label="{% trans 'Title' %}">{{news.title}}</td>
                  <td data-label="{% trans 'Start' %}">{{news.start_at|date:"F j, Y"}}</td>
                  <td data-label="{% trans 'Active' %}">{{news.is_active|yesno}}</td>
                  <td data-label="{% trans 'Date of Creation' %}">{{news.created_at|date:"F j, Y"}}</td>
                  <td data-label="{% trans 'Details' %}"><a class="mat-button mat-button-default" href="{{news.get_absolute_url}}"> <i class="fas fa-info icon"></i><span>{% trans "Details" %}</span></a></td>
                  </tr>
                  {% endfor %}
                  
          </tbody>
        </table>
        </form>
    {% include "tags/pagination.html" with page_set=news_list %}
    </div><!--End of Table Wrapper-->
</div>
{% endblock CONTENT_MAIN %}