{% extends "dashboard_base.html"%}
{% load i18n %}
{% load order_tag %}
{% block HEADER_BANNER %}
    <div class="banner banner-align-left">
        <div class="full welcome-text center">
                {% block  HEADER_BANNER_TITLE %}
                    <h4> {% trans "Orders" %}</h4>
                {% endblock HEADER_BANNER_TITLE %}
                
        </div>
        <div class="container">

            <div class="col col-9">
                <div class="banner--actions">
                    
                    <a class="mat-button mat-button-text" href="{% url 'dashboard:home' %}"><i class="fas fa-home icon"></i><span>{% trans "Dashboard" %}</span></a>
                    
                        
                </div><!--End of Banner-Actions-->
            </div><!--End of Responsive-->
        
        </div><!--End of Container-->
        
    </div>
{% endblock HEADER_BANNER %}

{% block MAIN_CONTENT %}

{% if can_view_order %}

<div class="container">
<div class="col-m-12 col-9">
    <div class="mat-table-wrapper">
        <table id="order-list" class="mat-table js-filter-table">
          <caption>{% trans "Order History" %}</caption>
          <thead>
                  <tr>
                          <!--<th><input id="filter-select-all" type="checkbox" name="allselected"></th>-->
                          <th scope="col">{% trans "User" %}</th>
                          <th scope="col">{% trans "Amount" %}</th>
                          <th scope="col">{% trans "Status" %}</th>
                          <th scope="col">{% trans "Date" %}</th>
                          <th scope="col">{% trans "Details" %}</th>
                  </tr>
          </thead>
          <tbody>
                  {% for o in orders  %}
                  <tr>
                    <!--<td class="checkbox"><input type="checkbox" name="selected-service"></td>-->
                    <td scope="row" data-label="User">{{o.user.get_full_name}}</td>
                    <td data-label="{% trans 'Amount' %}">{{o.amount}} {% trans "XAF" %}</td>
                    <td data-label="{% trans 'Status' %}">{{o.status|order_status_key}} </td>
                    <td data-label="{% trans 'Date' %}">{{o.created_at|date:"F j, Y"}}</td>
                    <td data-label="{% trans 'Details' %}"><a class="mat-button mat-button-default" href="{{o.get_dashboard_url}}"><i class="fas fa-info icon"></i><span>{% trans "Detail" %}</span></a></td>
                  </tr>
                  {% endfor %}
                  
          </tbody>
          <tfoot>
                  
          </tfoot>

    </table>
    {% include "tags/pagination.html" with page_set=orders %}
    </div><!--End of Table Wrapper-->
  </div>
</div>

{% else %}
<div class="access-error">
  <p>{% trans "The page you requested could not be found or you are not allowed to access this page." %}</p>
</div>
{% endif %}
{% endblock MAIN_CONTENT %}