{% extends "dashboard_base.html"%}
{% load i18n %}
{% load catalog_tags %}
{% load shipment_status %}
{% load order_tag %}



{% block CONTENT %}

{% if can_view_order  %}
<div class="container">
    <div class="actions">
        
        <a class="mat-button mat-button-default" href="{{item.get_update_url}}"><i class="fas fa-refresh icon"></i><span>{% trans "Update" %}</span></a>
        <a class="mat-button mat-button-default" href="{{order.get_dashboard_url}}"><i class="fas fa-refresh icon"></i><span>{% trans "Order" %}</span></a>
        <a class="mat-button mat-button-default" href="{% url 'dashboard:orders' %}"><i class="fas fa-list icon"></i><span>{% trans "Orders" %}</span></a>  
        
    </div><!--End of Banner-Actions-->
    <div class="mat-box wrapper full">
        <div class="grid">
            <div class="box">
                <p class="entry"><span class="key">{% trans "Order Ref Number" %}</span> <span class="value">{{order.order_ref_number}}</span></p>
                <p class="entry"><span class="key">{% trans "Payment Option" %}</span> <span class="value">{{order.payment_option|payment_option_value}}</span></p>
                <p class="entry"><span class="key">{% trans "Order Status" %}</span> <span class="value">{{order.status|order_status_value}}</span></p>
                <p class="entry"><span class="key">{% trans "Shipping Status" %}</span> <span class="value">{% if shipment %}{{shipment.shipment_status|shipment_status_value}}{% else %}{% trans "No shipping information available" %}{% endif %}</span></p>
                <p class="entry"><span class="key">{% trans "Paid Status" %}</span> <span class="value">{% if order.is_paid %} {% trans "PAID" %}{% else %}{% trans "NOT PAID" %}{% endif %}</span></p>
            </div>
            <div class="box">
                <p class="entry"><span class="key">{% trans "Quantity" %}</span><span class="value">{{order.quantity}}</span></p>
                <p class="entry"><span class="key">{% trans "Price" %}</span><span class="value">{{order.amount|floatformat:"-2"}} {% trans CURRENCY %}</span></p>
                {% if order.coupon %}
                <p class="entry"><span class="key">{% trans "Reduction" %}</span><span class="value">{{order.get_reduction|floatformat:"-2"}} {% trans CURRENCY %}</span></p>
                <p class="entry"><span class="key">{% trans "Coupon" %}</span><span class="value">{{order.coupon}}</span></p>
                {% endif %}
                <p class="entry"><span class="key">{% trans "Shipping Price" %}</span><span class="value">{{order.shipping_price|floatformat:"-2"}} {% trans CURRENCY %}</span></p>
                
            </div>
            <div class="box">
                <p class="entry"><span class="key">{% trans "Order Date" %}</span> <span class="value">{{order.created_at|date:"F j, Y"}}</span></p>
                <p class="entry"><span class="key">{% trans "Last Update" %}</span> <span class="value">{{order.last_edited_at|date:"F j, Y"}}</span></p>
                <p class="entry"><span class="key">{% trans "TOTAL" %}</span><span class="value">{{order.total_price|floatformat:"-2"}} {% trans CURRENCY %}</span></p>
            </div>
            {% if order.description %}
            <div class="box">
                <p class="entry"><span class="key">{% trans "Description" %}</span> <span class="value">{{order.description}}</span></p>
            </div>
            {% endif %}
            
        </div><!--End of title-->
        <div class="mat-box-content">
            
        </div><!--End mat-box-content-->
    </div><!--End mat-box-->
    <div class="mat-box wrapper full">
        <div class="grid title">
            <div class="mat-box-title wrapper">
                <h4> {% trans "Order Item" %}</h4>
            </div>
            <div class="img-wrapper col-xs-12 col-2">
                <img class="img-responsive" src="{{item.image}}" alt="">
            </div>
            
        </div><!--End of title-->
        <div class="mat-box-content">
            <div class="row">
                <div class="box">
                    <div class="entry">
                    <span class="key">{% trans "Name" %}</span> <span class="value">{{item.name}}</span>
                    </div>
                    <div class="entry">
                    <span class="key">{% trans "Display Name" %}</span> <span class="value">{{item.display_name}}</span>
                    </div>
                    <div class="entry">
                    <span class="key">{% trans "Brand" %}</span> <span class="value">{{item.brand.display_name}}</span>
                    </div>
                    <div class="entry">
                    <span class="key">{% trans "Gender" %}</span> <span class="value">{{item.gender|gender_value}}</span>
                    </div>
                    
                    
                </div>
                <div class="box">
                    <div class="entry">
                        <span class="key">{% trans "Unit Price" %}</span> <span class="value">{{item.unit_price|floatformat:"-2"}} {% trans CURRENCY %}</span>
                    </div>
                    <div class="entry">
                        <span class="key">{% trans "Promotion Price" %}</span> <span class="value">{{item.promotion_price|floatformat:"-2"}} {% trans CURRENCY %}</span>
                    </div>
                    <div class="entry">
                        <span class="key">{% trans "Quantity" %}</span> <span class="value">{{item.quantity}}</span>
                    </div>
                </div>
            </div><!--End of Table Wrapper-->
        </div><!--End mat-box-content-->
        
    </div><!--End mat-box-->
</div>

{% else %}
<div class="access-error">
  <p>{% trans "The page you requested could not be found or you are not allowed to access this page." %}</p>
</div>
{% endif %}
{% endblock CONTENT %}