{% extends "dashboard_base.html"%}
{% load i18n %}
{% load shipment_status %}
{% block HEADER_BANNER %}
    <div class="banner banner-align-left">
        <div class="full welcome-text center">
                {% block  HEADER_BANNER_TITLE %}
                    <h4> {% trans "Order" %}</h4>
                {% endblock HEADER_BANNER_TITLE %}
                
        </div>
        <div class="container">

            <div class="col col-9">
                <div class="banner--actions">
                    <a class="mat-button mat-button-text" href="{% url 'dashboard:home' %}"><i class="fas fa-home icon"></i><span>{% trans "Dashboard" %}</span></a>   
                    
                    <a class="mat-button mat-button-text" href="{% url 'dashboard:orders' %}">{% trans "Orders" %}</a>
                </div><!--End of Banner-Actions-->
            </div><!--End of Responsive-->
        
        </div><!--End of Container-->
        
    </div>
{% endblock HEADER_BANNER %}


{% block MAIN_CONTENT %}

{% if can_view_order  %}
<div class="container">
        <div class="mat-box">
                <div class="title">
                    <span>{% trans "Order" %}</span>
                </div>
                <div class="mat-box-content">
                    <div class="entry">
                        <span class="key">{% trans "Customer" %} :</span> <span class="value">{{order.user.get_full_name}}</span>
                    </div>
                    <div class="entry">
                        <span class="key">{% trans "Quantiy" %} :</span> <span class="value">{{order.quantity}} </span>
                    </div>
                    <div class="entry">
                        <span class="key">{% trans "Amount" %} :</span> <span class="value">{{order.amount}} {% trans "XAF" %}</span>
                    </div>
                    <div class="entry">
                        <span class="key">{% trans "Shipping Price" %} :</span> <span class="value">{{order.shipping_price}} {% trans "XAF" %}</span>
                    </div>
                    <div class="entry">
                        <span class="key">{% trans "Reduction" %} :</span> <span class="value">{{order.get_reduction}} {% trans "XAF" %}</span>
                    </div>
                    <div class="entry">
                        <span class="key">{% trans "Solded Price" %} :</span> <span class="value">{{order.solded_price}} {% trans "XAF" %}</span>
                    </div>
                    <div class="entry">
                        <span class="key">{% trans "Total" %} :</span> <span class="value">{{order.total}} {% trans "XAF" %}</span>
                    </div>
                    <div class="entry">
                        <span class="key">{% trans "Payment Option" %} :</span> <span class="value">{{order.payment_option}}</span>
                    </div>
                    <div class="entry">
                        <span class="key">{% trans "Coupon" %} :</span> <span class="value">{{order.coupon}}</span>
                    </div>
                    <div class="entry">
                        <span class="key">{% trans "Status" %} :</span> <span class="value">{{order.status}}</span>
                    </div>
                    <div class="entry">
                        <span class="key">{% trans "Date" %} :</span> <span class="value">{{order.created_at|date:"F j, Y"}}</span>
                    </div>
                    <div class="entry">
                        <span class="key">{% trans "Last Edit Date" %} :</span> <span class="value">{{order.last_edited_at|date:"F j, Y"}}</span>
                    </div>
                    {% if shipment %}
                    <div class="entry">
                        <span class="key">{% trans "Shipment Status" %} : </span> <span class="value">{{shipment.shipment_status|tuple_key}}</span>
                    </div>
                    {% else %}
                    <div class="entry">
                        <span class="key">{% trans "Ship it" %} : </span> <span class="value"><a class="mat-button mat-button-text" href="{% url 'dashboard:add-order-for-shipment' order.order_uuid %}"><i class="fas fa-ship icon"></i><span>{% trans "Add for Shipment" %}</span></a></span>
                    </div>
                    {% endif %}
                   
                </div>
        </div>
</div>
{% else %}
<div class="access-error">
  <p>{% trans "The page you requested could not be found or you are not allowed to access this page." %}</p>
</div>
{% endif %}
{% endblock MAIN_CONTENT %}