{% extends "dashboard_base.html"%}
{% load i18n %}
{% block HEADER_BANNER %}
    <div class="banner banner-align-left">
        <div class="full welcome-text center">
                {% block  HEADER_BANNER_TITLE %}
                    <h4> {{product.display_name}}</h4>
                {% endblock HEADER_BANNER_TITLE %}
                
        </div>
        <div class="container">

            <div class="col col-9">
                <div class="banner--actions">
                    {% if can_change_product %}<a class="mat-button mat-button-default" href="{{product.get_update_url}}"> <i class="fas fas-plus"></i> <span>{% trans "Edit" %}</span> </a>{% endif %}
                    <a class="mat-button mat-button-text" href="{% url 'dashboard:home' %}"><i class="fas fa-home icon"></i><span>{% trans "Dashboard" %}</span></a>
                    <a class="mat-button mat-button-text" href="{%url 'dashboard:products' %}"> {% trans "Products" %}</a>
                        
                </div><!--End of Banner-Actions-->
            </div><!--End of Responsive-->
        
        </div><!--End of Container-->
        
    </div>
{% endblock HEADER_BANNER %}
{% block MAIN_CONTENT %}
{% if can_view_product %}


<div class="mat-box">
  <div class="row">
    <h3>{% trans "Product Details" %}</h3>
  </div>
  <div class="row">
    <div class="responsive">
        <div class="entry flex-column">
          <div class="title">{% trans "Price" %}</div>
          <div class="subtitle">{{product.price}} <span>{% trans "XAF" %}</span></div>
        </div>
    </div>
    <div class="responsive">
        <div class="entry flex-column">
          <div class="title">{% trans "Views" %}</div>
          <div class="subtitle">{{product.view_count}}</div>
        </div>
    </div>

    <div class="responsive">
        <div class="entry flex-column">
          <div class="title">{% trans "Quantity" %}</div>
          <div class="subtitle">{{product.quantity}}</div>
        </div>
    </div>

    
    <div class="responsive">
        <div class="entry flex-column">
          <div class="title">{% trans "Vendor" %}</div>
          <div class="subtitle">{{product.sold_by}}</div>
        </div>
    </div>         
        
    </div> <!--End of row-->
  </div><!--End of Container-->

<div class="container">
        <div class="mat-box">
            <div class="title">
              <span>{{product.display_name}}</span>
            </div>
            <div class="mat-box-content">
                <div class="entry">
                  <span class="key">{% trans "Category" %}</span><span class="value">{{product.category}}</span>
                </div>
                <div class="entry">
                  <span class="key">{% trans "Product Type" %}</span><span class="value">{{product.product_type.display_name}}</span>
                </div>
                <div class="entry">
                  <span class="key">{% trans "Brand" %}</span><span class="value">{{product.brand}}</span>
                </div>
                <div class="entry">
                  <span class="key">{% trans "Gender" %}</span><span class="value">{{product.gender}}</span>
                </div>
                <div class="entry">
                  <span class="key">{% trans "Vendor" %} : </span><span class="value">{{product.sold_by.get_full_name}}</span>
                </div>
                <div class="entry">
                  <span class="key">{% trans "Amount" %} :</span><span class="value">{{product.price}} {% trans "XAF" %}</span>
                </div>
                
                <div class="entry">
                  <span class="key">{% trans "Added Date" %} :</span><span class="value">{{product.created_at|date:"F j, Y"}}</span>
                </div>
                <div class="entry">
                  <span class="key">{% trans "Description" %} :</span><span class="value">{{product.description}}</span>
                </div>               
            </div>
        </div>


        <div class="mat-box">
            <h4>{% trans "Variants" %}</h4>
            <div class="mat-box-content">
              <div class="mat-list-wrapper">
                  <div class="mat-lit-title">
                    <a class="mat-button mat-button-default" href="{% url 'dashboard:product-variant-create' product.product_uuid %}"><i class="fas fa-plus icon"></i> <span>{% trans "Add Variant" %}</span></a>
                  </div>
                  <ul class="mat-list">
                      {% for variant in variant_list %}
                        <li class="matt-list-item"><a class="mat-button mat-button-text" href="{{variant.get_dashboard_url}}">{{variant.display_name}}</a></li>
                      {% endfor %}
                  </ul>
              </div>
            </div>
        </div>
        <div class="mat-box">
            <div>
              <h4>{% trans "Images" %}</h4>
            </div>
            <div class="container">
                <a class="mat-button mat-button-text" href="{% url 'dashboard:product-image-create' product.product_uuid %}"><i class="fas fa-plus icon"></i> <span>{% trans "Add Image" %}</span></a>
              </div>
            <div class="grid">
            {% load static %}
            {% for image in image_list %}
              <div class="img-wrapper col-2">
              <img class="img-responsive" src="{{image.get_image_url}}" alt="">
              <a class="mat-button mat-button-outlined" href="{{image.get_dashboard_url}}">{% trans "See" %}</a>
              </div>
              
            {% endfor %}
            </div>
        </div>
</div>

{% else %}
<div class="access-error">
  <p>{% trans "The page you requested could not be found or you are not allowed to access this page." %}</p>
</div>
{% endif %}
{% endblock MAIN_CONTENT %}