{% extends "dashboard_base.html"%}
{% load static %}
{% load catalog_tags %}
{% load i18n %}

{% block HEADER_BANNER %}
    <div class="banner banner-align-left">
        <div class="full welcome-text center">
                {% block  HEADER_BANNER_TITLE %}
                    <h4> {{product.display_name}}</h4>
                {% endblock HEADER_BANNER_TITLE %}
                
        </div>
    </div>
{% endblock HEADER_BANNER %}
{% block MAIN_CONTENT %}
{% if can_view_product %}

<div class="container">
  <div class="mat-box wrapper full">
      <div class="mat-box-content row">
        <div class="col-12 col-m-12 col-xs-12 title">
            <span>{% trans "Product Information" %}</span>
        </div>
        <div class="box">
          <div class="entry">
            <span class="key">{% trans "Name" %}</span> <span class="value">{{product.name}}</span>
          </div>
          <div class="entry">
            <span class="key">{% trans "Display Name" %}</span> <span class="value">{{product.display_name}}</span>
          </div>
          <div class="entry">
            <span class="key">{% trans "Brand" %}</span> <span class="value">{{product.brand.display_name}}</span>
          </div>
          <div class="entry">
            <span class="key">{% trans "Gender" %}</span> <span class="value">{{product.gender|gender_value}}</span>
          </div>
          <div class="entry">
            <span class="key">{% trans "Type" %}</span> <span class="value">{{product.product_type.display_name}}</span>
          </div>
          
        </div>
        <div class="box">
            <div class="entry">
                <span class="key">{% trans "Category" %}</span> <span class="value">{{product.category.display_name}}</span>
            </div>
            <div class="entry">
              <span class="key">{% trans "Quantity" %}</span> <span class="value">{{product.quantity}}</span>
            </div>
            <div class="entry">
              <span class="key">{% trans "Vendor" %}</span> <span class="value">{{product.sold_by.username}}</span>
            </div>
            <div class="entry">
              <span class="key">{% trans "Unit Price" %}</span> <span class="value">{{product.price}} {% trans CURRENCY %}</span>
            </div>
        </div>
        <div class="box">
          <div class="entry">
            <span class="key">{% trans "Number of Variants" %}</span> <span class="value">{{product.variants.count}}</span>
          </div>
          <div class="entry">
            <span class="key">{% trans "Views" %}</span> <span class="value">{{product.view_count}}</span>
          </div>
        </div>
        <div class="box">
          <div class="entry">
            <span class="key">{% trans "Short Description" %}</span> <span class="value">{{product.short_description}}</span>
          </div>
          <div class="entry">
            <span class="key">{% trans "Description" %}</span> <span class="value">{{product.description}}</span>
          </div>
        </div>
        <div class="container wrapper">
            <ul class="actions row" role="navigation">
                {% if can_change_product %}<li class="list-item"><a class="mat-button mat-button-default" href="{{product.get_update_url}}"> <i class="fas fa-edit icon"></i><span>{% trans "Edit" %}</span> </a> </li>{% endif %}
                {% if can_add_product %}
                <li class="list-item"><a class="mat-button mat-button-default" href="{% url 'dashboard:product-variant-create' product.product_uuid %}"><i class="fas fa-plus icon"></i> <span>{% trans "Add Variant" %}</span></a></li>
                <li class="list-item"><a class="mat-button mat-button-default" href="{% url 'dashboard:product-image-create' product.product_uuid %}"><i class="fas fa-plus icon"></i> <span>{% trans "Add Image" %}</span></a></li>
                {% endif %}
                <li class="list-item"> <a class="mat-button mat-button-text" href="{% url 'dashboard:products' %}"><i class="fas fa-list icon"></i><span>{% trans "Products" %}</span></a> </li>
                <li class="list-item"> <a class="mat-button mat-button-text" href="{% url 'dashboard:home' %}"><i class="fas fa-home icon"></i><span>{% trans "Dashboard" %}</span></a></li>
            </ul>
        </div>
      </div><!--End of mat-box-content-->
      
  </div><!--End of mat-box-->

  <div class="mat-box wrapper full">
      <div class="mat-box-title">
          <h4>{% trans "Product Variants" %}</h4>
      </div><!--End of title-->
      <div class="mat-box-content">
          <div class="mat-table-wrapper">
                <table id="variant-list" class="mat-table js-filter-table">
                    
                      <thead>
                              <tr>
                                    <th>{% trans "Display Name" %}</th>
                                    <th>{% trans "Quantity" %}</th>
                                    <th>{% trans "Price" %}</th>
                              </tr>
                      </thead>
                      <tbody>
                              {% for variant in variant_list %}
                              <tr>
                                    <td>{{variant.display_name}}</td>
                                    <td>{{variant.quantity}}</td>
                                    <td>{{variant.price}} {% trans "XAF" %}</td>
                                    <td><a class="mat-button mat-button-text" href="{{variant.get_dashboard_url}}"><i class="fas fa-info icon"></i><span>{% trans "Details" %}</span></a></td>
                              </tr>
                              {% endfor %}
                              
                      </tbody>
                      <tfoot>
                              
                      </tfoot>

                </table>
          </div><!--End of Table Wrapper-->
      </div><!--End of mat-box-content-->
  </div><!--End of mat-box-->
  <div class="mat-box wrapper full">
    <div class="mat-box-title">
      <h4>{% trans "Product Images" %}</h4>
    </div>
    <div class="mat-box-content">
        <div class="grid">
            {% for image in image_list %}
              <div class="img-wrapper col-2">
                <img class="img-responsive" src="{{image.get_image_url}}" alt="">
                <a class="mat-button mat-button-outlined" href="{{image.get_dashboard_url}}">{% trans "See" %}</a>
              </div>
              
            {% endfor %}
        </div>
    </div>
  
  </div><!--End of mat-box-->



</div><!--End of container-->

{% else %}
<div class="access-error">
  <p>{% trans "The page you requested could not be found or you are not allowed to access this page." %}</p>
</div>
{% endif %}
{% endblock MAIN_CONTENT %}