{% extends "dashboard_base.html"%}
{% load i18n %}
{% block HEADER_BANNER %}
    <div class="banner banner-align-left">
        <div class="full welcome-text center">
                {% block  HEADER_BANNER_TITLE %}
                    <h4> {% trans "Product Parent " %} : {{product.display_name}}</h4>
                {% endblock HEADER_BANNER_TITLE %}
                
        </div>
        <div class="container">

            <div class="col col-9">
                <div class="banner--actions">
                    <a class="mat-button mat-button-default" href="{% url 'dashboard:home' %}"> <i class="fas fa-home icon"></i> <span>{% trans "Dashboard" %}</span> </a>
                    {% if can_add_product %}
                    <a class="mat-button mat-button-outlined" href="{% url 'dashboard:product-variant-create' product.product_uuid %}"><i class="fas fa-plus"></i><span>{% trans "Add new Product" %}</span></a>
                    {% endif %}
                        
                </div><!--End of Banner-Actions-->
            </div><!--End of Responsive-->
        
        </div><!--End of Container-->
        
    </div>
{% endblock HEADER_BANNER %}

{% block MAIN_CONTENT %}

<div class="container">
<div class="full">
    <div class="mat-table-wrapper">
        <div class="row">
            <div class="mat-table-title">
                {% trans "Variant List" %}
            </div>
        </div><!--End of Row-->
        <table id="product-list" class="mat-table js-filter-table">
          <thead>
                  <tr>
                          <th scope="col"><label><input id="filter-select-all" class="js-select-all" type="checkbox" name="allselected" title="{% trans 'Select all' %}"></label></th>
                          <th>{% trans "Name" %}</th>
                          <th>{% trans "Display Name" %}</th>
                          <th>{% trans "Product Type" %}</th>
                          <th>{% trans "Price" %}</th>
                          <th>{% trans "Details" %}</th>
                          {% if can_delete_product %}<th scope="col">{% trans "Delete Action" %}</th>{% endif %}
                  </tr>
          </thead>
          <tbody>
                  {% for variant in variant_list  %}
                  <tr>
                  {% if can_delete_product %}
                  <td scope="row" class="checkbox"><label><input class="js-selectable" type="checkbox" name="variants" value="{{variant.pk}}"><span class="checkbox-label"></span></label></td>
                  {% endif %}
                  <td>{{variant.name}}</td>
                  <td>{{variant.display_name}}</td>
                  <td>{{product.product_type.display_name}}</td>
                  <td><span>{{variant.price}}</span> <span>{% trans "XAF" %}</span></td>
                  <td><a class="mat-button mat-button-default" href="{{variant.get_dashboard_url}}"><i class="fas fa-info icon"></i><span>{% trans "Details" %}</span></a></td>
                  {% if can_delete_product %}<td><a class="mat-button mat-button-default warning danger js-need-confirmation" href="{{variant.get_delete_url}}"><i class="fas fa-trash icon"></i><span>{% trans "Delete" %}</span></a></td>{% endif %}
                  </tr>
                  {% endfor %}
                  
          </tbody>

    </table>
    {% include "tags/pagination.html" with page_set=variant_list %}
    </div><!--End of Table Wrapper-->
  </div>
</div>
{% endblock MAIN_CONTENT %}