{% extends "product_base.html"%}
{% load static %}
{% load catalog_tags %}
{% load i18n %}
{% block ACTIONS %}

{% include 'tags/product_detail_actions_snippet.html' %}

{% comment %}{% if can_change_product %}<a class="mat-button mat-button-default" href="{{product.get_update_url}}"> <i class="fas fa-edit icon"></i><span>{% trans "Edit" %}</span> </a>{% endif %}
{% if can_add_product %}
<a class="mat-button mat-button-default" href="{% url 'dashboard:product-variant-create' product.product_uuid %}"><i class="fas fa-plus icon"></i> <span>{% trans "Add Variant" %}</span></a>
<a class="mat-button mat-button-default" href="{% url 'dashboard:product-image-create' product.product_uuid %}"><i class="fas fa-plus icon"></i> <span>{% trans "Add Image" %}</span></a>
{% endif %}{% endcomment %}

{% endblock ACTIONS %}

{% block CONTENT_MAIN %}

{% include 'tags/product_detail_snippet.html' %}


{% endblock CONTENT_MAIN %}