{% extends "product_base.html"%}
{% load i18n %}

{% block ACTIONS %}

{% if can_add_product %}
<a class="mat-button mat-button-default" href="{% url 'dashboard:product-variant-create' product.product_uuid %}"><i class="fas fa-plus icon"></i> <span>{% trans "Add Variant" %}</span></a>
<a class="mat-button mat-button-default" href="{{product.get_dashboard_url}}"><i class="fas fa-tag icon"></i><span class="">{% trans "Parent Product" %}</span></a>
<a class="mat-button mat-button-default" href="{% url 'dashboard:products' %}"><i class="fas fa-list icon"></i><span>{% trans "Products" %}</span></a>
{% endif %}

{% endblock ACTIONS %}

{% block CONTENT_MAIN %}

<div class="container">
    {% include "tags/product_variant_update_form.html" %}
</div>
{% endblock CONTENT_MAIN %}