{% extends "dashboard_base.html"%}
{% load i18n %}

{% block MAIN_CONTENT %}
{% if can_view_product %}


<div class="container">
        <div class="mat-box full">
          <div class="mat-box-title">
            <h3> {% trans "Name" %} : {{product_type.name}} </h3>
            <h4> {% trans "Display Name" %} : {{product_type.display_name}}</h4>
            <h4> {% trans "Product Count" %} : {{product_list.count}}</h4>
            <h4> {% trans "Type Code" %} : {{product_type.code}}</h4>
          </div>
          <div class="mat-box-content">

          </div>
          <div class="container">
              <ul class="actions row" role="navigation">
                  {% if can_change_product %}<li class="list-item"><a class="mat-button mat-button-default" href="{{product_type.get_update_url}}"> <i class="fas fa-edit icon"></i><span>{% trans "Edit" %}</span> </a> </li>{% endif %}
                  {% if can_add_product %}<li class="list-item"> <a class="mat-button mat-button-default" href="{% url 'dashboard:product-type-create' %}"> <i class="fas fa-plus icon"></i><span>{% trans "Add New Produt Type" %}</span></a> </li>{% endif %}
                  <li class="list-item"> <a class="mat-button mat-button-text" href="{% url 'dashboard:product-types' %}"><i class="fas fa-list icon"></i><span>{% trans "Product Types" %}</span></a> </li>
                  <li class="list-item"> <a class="mat-button mat-button-text" href="{% url 'dashboard:home' %}"><i class="fas fa-home icon"></i><span>{% trans "Dashboard" %}</span></a></li>
              </ul>
          </div>
        </div><!--End of mat-box-->
        <div class="mat-box full">
            <div class="mat-box-title">
              <h3> {% trans "Type Attributes" %}</h3>
            </div>
            <div class="mat-box-content">
              <div class="mat-table-wrapper">
                  <div class="row">
                      <div class="mat-table-title">
                          {% trans "Type Attributes" %}
                      </div>
                  </div><!--End of Row-->
                  
                    <table id="attr-list" class="mat-table js-filter-table">
                        <div class="actions">
                          <button id="js-delete-attrs-btn" class="mat-button mat-button-outlined js-activable" disabled><i class="fas fa-trash icon"></i> <span>{% trans "Delete Selected Attributes" %}</span></button>
                        </div>
                          <thead>
                                  <tr>
                                        
                                        <th>{% trans "Name" %}</th>
                                        <th>{% trans "Display Name" %}</th>
                                        <th>{% trans "Type" %}</th>
                                        <th>{% trans "Details" %}</th>
                                  </tr>
                          </thead>
                          <tbody>
                                  {% for attr in product_type.type_attributes.all %}
                                  <tr>
                                        <td>{{attr.name}}</td>
                                        <td>{{attr.display_name}}</td>
                                        <td>{{attr.attribute_type}}</td>
                                        <td><a class="mat-button mat-button-text" href="{{attr.get_dashboard_url}}"><i class="fas fa-info icon"></i><span>{% trans "Details" %}</span></a></td>
                                  </tr>
                                  {% endfor %}
                                  
                          </tbody>
                          <tfoot>
                                  
                          </tfoot>

                    </table>
              </div><!--End of Table Wrapper-->

            </div><!--End of mat-box-content-->
        </div><!--End of mat-box-->
        {% if product_list %}
        <div class="mat-list-wrapper">
          <div class="mat-list-title">
            <h4>{% trans "Product Type" %}</h4>
            <span>{{product_list.count}}</span>
          </div>
          <ul class="mat-list">
            {% for p in product_list %}
            <li class="mat-list-item"><a class="mat-button mat-button-text" href="{{p.get_absolute_url}}"><i class="fas fa-info"></i><span>{{p.name}}</span></a></li>
            {% endfor %}
          </ul>

        </div>
        
        {% else %}
        <div class="mat-box">
          <span>{% trans "No product available for this product type" %}</span>
        </div>
        {% endif %}

</div>

{% else %}
<div class="access-error">
  <p>{% trans "The page you requested could not be found or you are not allowed to access this page." %}</p>
</div>
{% endif %}
{% endblock MAIN_CONTENT %}