{% extends "product_base.html"%}
{% load i18n %}

{% block ACTIONS %}

<a class="mat-button mat-button-default" href="{{product.get_dashboard_url}}"><i class="fas fa-tag icon"></i><span class="">{% trans "Product" %}</span></a>
<a class="mat-button mat-button-default" href="{% url 'dashboard:products' %}"><i class="fas fa-list icon"></i><span>{% trans "Products" %}</span></a>

{% endblock ACTIONS %}

{% block CONTENT_MAIN %}

<form action="{{image.get_delete_url}}" method="POST">{% csrf_token %}
<div class="container">
            <div class="mat-box">
                
                <ul class="actions">
                    <li><button class="mat-button mat-button-default" type="submit"> {% trans "Delete" %}</button></li>
                    <li><a class="mat-button mat-button-default" href="{{image.product.get_dashboard_url}}"> {% trans "Back" %}</a></li>
                </ul>
            </div>
        
        
        <div class="col-xs-12 col-4">
            <div class="mat-list-wrapper">
                <div class="mat-list-header">
                    <div class="title">
                        <span>{{image.product.name}}</span> <span>{{image.product.brand}}</span>
                    </div>
                </div>
                
                <div class="image-wrapper full">
                    <img class="img-responsive js-zoom" src="{{image.get_image_url}}"/>
                </div>
            </div>
        </div>      
</div>
</form>
{% endblock CONTENT_MAIN %}