{% extends "product_base.html"%}
{% load i18n %}
{% load catalog_tags %}
{% load static %}

{% block ACTIONS %}
{% if perms.catalog.vew_product %}
<a class="mat-button mat-button-default" href="{{sold_product.get_delete_url}}"> <i class="fas fa-trash icon"></i><span>{% trans "Delete" %}</span></a>
{% endif %}
{% endblock ACTIONS %}

{% block CONTENT_MAIN %}

<div class="container wrapper">
  <div class="mat-box wrapper full">
      <div class="grid">
          <div class="col-12 col-m-12 col-xs-12 title">
              <span>{% trans "Product Information" %}</span>
          </div>
          {% if product %}
          <div class="box">
            <div class="entry">
              <span class="key">{% trans "Name" %}</span> <span class="value">{{product.name}}</span>
            </div>
            <div class="entry">
              <span class="key">{% trans "Display Name" %}</span> <span class="value">{{product.display_name}}</span>
            </div>
            <div class="entry">
              <span class="key">{% trans "Brand" %}</span> <span class="value">{{product.brand.display_name}}</span>
            </div>
            <div class="entry">
              <span class="key">{% trans "Gender" %}</span> <span class="value">{{product.gender|gender_value}}</span>
            </div>
          </div>
          {% endif %}
          <div class="box">
              <div class="entry">
                <span class="key">{% trans "Quantity" %}</span> <span class="value">{{sold_product.quantity}}</span>
              </div>
              
              <div class="entry">
                <span class="key">{% trans "Unit Price" %}</span> <span class="value">{{sold_product.unit_price|floatformat:"-2"}} {% trans CURRENCY %}</span>
              </div>
              <div class="entry">
                <span class="key">{% trans "End Price" %}</span> <span class="value">{{sold_product.price|floatformat:"-2"}} {% trans CURRENCY %}</span>
              </div>
              <div class="entry">
                <span class="key">{% trans "Total" %}</span> <span class="value">{{sold_product.active_total_price|floatformat:"-2"}} {% trans CURRENCY %}</span>
              </div>
          </div>
          <div class="box">
            <div class="entry">
              <span class="key">{% trans "Sold Date" %}</span> <span class="value">{{sold_product.created_at|date:"F j, Y"}}</span>
            </div>
          </div>
        
      </div><!--End of grid-->
  </div>
  {% if attribute_list %}
  <div class="mat-box wrapper full">
      <div class="title">
        <h4>{% trans "Product Attributes" %}</h4>
      </div>
      <div class="mat-box-content row">
              <ul id="variant-attrs" class="box">
                  {% for attr in attribute_list %}
                  <li class="mat-list-item entry"><span class="key">{{attr.display_name}}</span><span class="value">{{attr.value}}</span> </li>
                  {% empty %}
                  <li class="mat-list-item entry"><span class="key">{% trans "No attributes found" %}</span></li>
                  {% endfor %}
                  
              </ul>
      </div><!--nd of box-content-->
  </div><!--End of mat-box-->
  {% endif %}
</div>
{% endblock CONTENT_MAIN %}
