{% load i18n %}
    
<div class="mat-box">
        <form class="form" name="add-wishlist" action="{{wishlist.get_update_url}}" method="POST">{% csrf_token %}
            <input type="hidden" name="customer" value="{{request.user.pk}}">
            <div class="container">
                <div class="form-group">
                    <label for="name">{% trans "Name" %}</label>
                    <input id="name" type="text"  name="name" value="{{wishlist.name}}">
                </div>
            </div><!-- End of container-->
            <div class="actions">
                    <a class="mat-button mat-button-text js-cancel" href="{{wishlist.get_absolute_url}}">{% trans "Cancel" %}</a>
                    <button class="mat-button mat-button-default js-submit" type="submit">{% trans "Update" %}</button>
            </div> 
        </form>
</div>