{% extends "base.html" %}
{% load i18n %} 
{% block MAIN %}
    <div  class="mat-box">
            <div class="title">
                {% trans "Resource not found ! " %}
            </div>
            <div class="mat-box-content">
                    <p> {% trans "The content you requested could not be found." %}</p>
            </div>
            <div class="actions">
                <a class="mat-button mat-button-default" href="{% url 'home' %}">{% trans "Go back to Home Page" %} </a>
            </div>
    </div> 
  {% endblock MAIN %}