<!DOCTYPE html>
{% load i18n %} 
<html lang="{{LANGUAGE_CODE}}">
{% load static %}

<head>
        <meta charset="utf-8">
        {% block META_REDIRECT %}
        
        {% endblock META_REDIRECT %}
        <title>
                {% block title %} {{page_title}} {% endblock %}
        </title>
        {% comment "" %}
        
        
        <meta name="keywords" content="{{meta_keywords}}" />
        <meta name="description" content="{{meta_description}}" />
        {% endcomment %}
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% load static %}
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,300;1,400;1,500;1,600;1,700;1,900&display=swap" rel="stylesheet"> 
        
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

        
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
        <!-- Add icon library -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" media="all" />

        {% block external %} {% endblock external %}
</head>

<body>
{% block SCRIPT_VAR %}
{% endblock SCRIPT_VAR %}
<div class="page full">
<header class="header">
{% block HEADER_PANEL %}
<div class="header--panel">
  <div class="col col-1">
   <div class="row">
        <button class="js-menu menu-button mat-button mat-button-text"><i class="btn-icon fas fa-bars"></i> {% trans "Menu" %}</button>
        <button class="js-menu-close menu-close menu-button mat-button"><i class="btn-icon fas fa-times"></i> {% trans "Close" %}</button>
        <ul class="logo">
            <li class="mat-list-item"><a class="mat-button mat-button-text" href="{%url 'home'%}">{{site_name}}</a></li>
        </ul>
   </div>
    
  </div>
    <ul class="mat-list site-panel">
        <li class="mat-list-item"><a class="mat-button mat-button-text" href="{%url 'catalog:catalog-home'%}">{% trans "Catalog" %}</a></li>
      {% if is_dashboard_allowed %}
       <li class="mat-list-item"><a class="mat-button mat-button-text" href="{%url 'dashboard:home'%}">{% trans "Dashboard" %}</a></li>
      {% endif %}
      
      {% if request.user.is_authenticated %}
        {% if is_seller %}<li class="mat-list-item"><a class="mat-button mat-button-text" href="{% url 'vendors:vendor-home' %}"> {% trans "Vendor Panel" %}</a></li>{% endif %}
        {% if account %}<li class="mat-list-item"><a class="mat-button mat-button-text" href="{% url 'accounts:account' %}">{{user.username}}</a></li>{% endif %}
      
        <li class="mat-list-item"><a class="mat-button mat-button-text" href="{% url 'cart:cart' %}">
                <div id="cart-wrapper" class="cart"><i class="fas fa-shopping-cart"></i><span id="cart-badge" class="badge">{{cart_items_count}}</span></div></a>
        </li>
        <li class="mat-list-item"><a class="signout-btn mat-button mat-button-text signout" href="{% url 'accounts:logout' %}">{% trans 'Logout' %}</a></li>
      {% else %}
      <li class="mat-list-item"><a class="dialog-btn mat-button mat-button-text" href="{% url 'accounts:register' %}" data-tab="1" data-target="#signup-dialog">{% trans 'Create an Account' %}</a></li>
      <li class="mat-list-item"><a class="dialog-btn mat-button mat-button-text" href="{% url 'accounts:login' %}" data-tab="0" data-target="#signup-dialog">{% trans 'Login' %}</a></li>
      
      {% endif %}
      <li  class="mat-list-item">
        {% include "tags/language.html" %}
      </li>
      {% if dev_mode %}
        {% block GRID %}
        <li><button class="js-grid-enable baseline-grid-btn mat-button mat-button-text">{% trans "Enable Grid" %}</button></li>
        {% endblock GRID %}
      {% endif %}
    </ul>
</div>
{% endblock HEADER_PANEL %}           
</header>
{% if banner %}
<div class="page--banner">
{% block HEADER_BANNER %}
{% endblock HEADER_BANNER %}
</div>
{% endif %}

{% block DIALOGS %}

{% endblock DIALOGS %}

{% block SIGNUP_DIALOG %}

{% endblock SIGNUP_DIALOG %}

<main class="container">
{% block MAIN %}

{% endblock MAIN %}
</main>
{% block NOTIFICATIONS %}
        <div id="notifications-wrapper" class="notifications-wrapper">
                <div class="flex-column">
                        <div class="row notifications-controls">
                               <span class="title">{% trans "INFO" %}</span>
                        </div>
                        <ul id="messages" class="messages notification-list" data-toggle="#notifications-wrapper">
                        {% for message in messages %}
                                <li {% if message.tags %} class="{{message.tags}}" {% endif %}>
                                        <div class="notification flex">
                                                <i class="js-close fas fa-times-circle icon"></i>
                                                <span>{{message}}</span>
                                        </div>
                                </li>
                        {% endfor %}
                        </ul>
                </div>
        </div>
{% endblock NOTIFICATIONS %}
</div>


 <footer class="footer column row">
        {% block FOOTER %}

        {% endblock FOOTER %}
        <div class="footer-list">
                {% now "Y" as current_year %}
                <ul class="flex">
                        <li class="list-item flex"><div class="copyright">Copyright <i class="fa fa-copyright"></i><span class="copyright-year">{{current_year}}</span> </div> <div class="site">{{site_name}} - {%trans 'ONLINE SHOP' %} </div></li>
                        <li class="list-item"><a class="mat-button mat-button-text" href="{% url 'about' %}">{% trans "About us" %}</a></li>
                        <li class="list-item"><a class="mat-button mat-button-text" href="{% url 'faq' %}">{% trans "FAQ" %}</a></li>
                </ul>
        </div>
</footer>


{% comment %} <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> {% endcomment %}
        
<script  src="{% static 'js/vendor/jquery-3.5.0.min.js' %}"></script>
<script  type="application/javascript" src="{% static 'js/lib/ajax.js' %}"></script>
<script  type="application/javascript" src="{% static 'js/lib/accounts.js' %}"></script>
<script  type="application/javascript" src="{% static 'js/lib/cart.js' %}"></script>
<script  type="application/javascript" src="{% static 'js/lib/components.js' %}"></script>
<script  type="application/javascript" src="{% static 'js/lyshop.js' %}"></script>
<script  type="application/javascript" src="{% static 'js/lib/filters.js' %}"></script>
<script  type="application/javascript" src="{% static 'js/lib/commons.js' %}"></script> 
<script  type="application/javascript" src="{% static 'js/lib/styling.js' %}"></script> 
{% block SCRIPT %}
{% endblock SCRIPT %}
</body>

</html>