{% extends "base.html" %}
{% load i18n %} 
{% load static %}
{% if banner %}

{% block HEADER_BANNER %}
<div class="banner">
    <div class="container banner-container">
        <div class="image-banner">
          <picture class="img-responsive">
            <source media="(min-width:40em)" srcset="{% static 'assets/lyshop_banner.png' %}">
            <source media="(max-width:40em)" srcset="{% static 'assets/lyshop_banner_small.png' %}">
            <img class="img-responsive" src="{% static 'assets/lyshop_banner.png' %}" alt="{{site_name}}">
          </picture>
        </div><!--End of image-banner-->
        <div class="banner--title hidden">
          <h4> {%trans 'Welcome to '%} {{site_name}}</h4>
          <h5>{% trans 'ONLINE SHOPPING MADE EASY' %}</h5>
        </div><!--End of Banner Titlte-->
        <div class="banner--content hidden">
            <p class="banner--description banner-entry">
              {% blocktrans trimmed %}
              Are you looking for something new ? 
              {% endblocktrans %}
            </p>
            <p class="banner--description banner-entry">
              {% blocktrans trimmed %}
              You can get it at {{site_name}}
              {% endblocktrans %}
            </p>
            <p class="banner--description banner-entry">
              {% trans "Your online shop in Gabon" %}
            </p>
        </div><!--End of Banner Content-->
        {% if discover %}
        <div class="banner--actions">
          <a class="mat-button mat-button-default" href="#"> {% translate 'Our catalog' %} {{site_name}}</a>
        </div><!--End of Banner Actions-->
        {% else %}
        <div class="banner--actions">
          <a class="mat-button mat-button-default" href="{% url 'catalog:catalog-home' %}"> {% translate 'Discover Our Catalog' %}</a>
        </div><!--End of Banner Actions-->
        {% endif %}
    </div>
</div><!--End of Banner-->
{% endblock HEADER_BANNER %}
{% endif %}

{% block MAIN %}
<div class="container">
  {% if new_arrivals %}
    <div class="new-arrivals highlight">
      <span class="label">{% translate 'New Arrivals' %}</span>
          {% for p in new_arrivals %}
          {% include 'tags/product_card.html' with SHOW_LABEL=True LABEL={% translate "New" %} p=p %}
          {% endfor %}
    </div>
  {% endif %}

  {% if soldes %}
  <div class="offers highlight">
    <span class="label">{% translate 'Sales' %}</span>
          {% for p in soldes %}
          {% include 'tags/product_card.html' with SHOW_LABEL=True LABEL={% translate 'Sale' %} p=p %}
          {% endfor %}
  </div>
  {% endif %}
  
  {% for h in highlights %}
  <div class="featured highlight">
    <span class="label">{% translate h.display_name %}</span>
          {% for p in h.products.all %}
          {% include 'tags/product_card.html' with SHOW_LABEL=False p=p %}
          {% endfor %}
  </div>
  {% endfor %}

  
</div>


{% endblock MAIN %}