{% extends "base.html" %}
{% load i18n %} 
{% if banner %}

{% block HEADER_BANNER %}
<div class="banner">
    <div class="banner--title">
      <h1> {%trans 'Welcome to '%} {{site_name}}</h1>
      <h3>{% trans 'ONLINE SHOPPING MADE EASY' %}</h3>
    </div><!--End of Banner Titlte-->
    <div class="banner--content">
        <p class="banner--description banner-entry">
          {% blocktrans trimmed %}
          Are you looking for something new ? 
          {% endblocktrans %}
        </p>
        <p class="banner--description banner-entry">
          {% blocktrans trimmed %}
          You can get it by {{site_name}}
          {% endblocktrans %}
        </p>
    </div><!--End of Banner Content-->
  {% if discover %}
   <div class="banner--actions">
    <a class="mat-button mat-button-default" href="#"> {% trans 'Discover' %} {{site_name}}</a>
  </div><!--End of Banner Actions-->
  {% else %}
  <div class="banner--actions">
    <a class="mat-button mat-button-default" href="{% url 'catalog:catalog-home' %}"> {% trans 'Discover' %} {{site_name}}</a>
  </div><!--End of Banner Actions-->
  {% endif %}
 
  
</div><!--End of Banner-->
{% endblock HEADER_BANNER %}
{% endif %}

{% block MAIN %}

<div class="container">
  {% for h in highlights %}
    <div class="scrollable-h highlight">
        <div class="label">{% trans h.display_name %}</div>
        <div class="products js-product-list">
                {% include "tags/products_snippet.html" with product_list=h.products.all %}
        </div>
    </div>
  {% endfor %}
  {% if favorites %}
      <div class="scrollable-h highlight">
          <div class="label">{% trans "Most Liked" %}</div>
          <div class="products js-product-list">
                  {% include "tags/products_snippet.html" with product_list=favorites %}
          </div>
      </div>
    
  {% endif %}
</div>
{% endblock MAIN %}