{% extends "base.html"%}
{% load i18n %}
{% load shipment_status %}
{% load order_tag %}
{% block HEADER_BANNER %}
    <div class="left">

        {% block  HEADER_BANNER_TITLE %}
            <h4>{% trans "Hello" %}, <span>{{user.get_full_name}}</span></h4>
        {% endblock HEADER_BANNER_TITLE %}
        
        <div class="container">
            {% if is_seller %}
            <div class="balance-info">
                <div class="row flex-left"><h4>{% trans "Balance" %}</h4></div>
                <div class="row flex-left balance"><span>{{balance.balance|floatformat:"-2"}} {% trans CURRENCY %} </span></div>
            </div><!--End of Balance-->
            {% endif %}
            <ul>
                    <li><a class="mat-button mat-button-text" href="{{account.get_absolute_url}}"><i class="fas fa-user icon"></i><span>{% trans "Account Details" %}</span></a></li>
                    <li><a class="mat-button mat-button-text" href="{% url 'addressbook:addressbook' %}"><i class="fas fa-address-book icon"></i>  {% trans "Addressbook" %}</a></li>
                    <li><a class="mat-button mat-button-text" href="{% url 'wishlist:wishlist-home' %}"><i class="fas fa-shopping-cart icon"></i>{% trans "Shopping List" %}</a></li>
                    <li><a class="mat-button mat-button-text" href="{% url 'orders:orders' %}"><i class="fas fa-shopping-bag icon"></i><span>{% trans "Orders" %}</span></a></li>
            </ul><!--End of Banner-Actions-->
        </div><!--End of Container-->
        {% block SUB_BANNER %}
        {% endblock SUB_BANNER %}
        
    </div>
{% endblock HEADER_BANNER %}
{% block MAIN %}


{% endblock MAIN %}