{% extends "base.html"%}
{% load i18n %}
{% load shipment_status %}
{% load order_tag %}
{% block HEADER_BANNER %}
    <div class="banner banner-align-left">

        {% block  HEADER_BANNER_TITLE %}
            <div class="full welcome-text center">
                <h4> {% trans "Welcome" %} {{name}}</h4>
            </div>
        {% endblock HEADER_BANNER_TITLE %}
        
        <div class="container">
            <div class="col-12">
                    {% if is_seller %}
                    <div class="balance-info">
                        <div class="row flex-left"><h4>{% trans "Balance" %}</h4></div>
                        <div class="row flex-left balance"><span>{{balance.balance|floatformat:"-2"}} {% trans CURRENCY %} </span></div>
                    </div><!--End of Banner-Content-->
                    {% endif %}
                <div class="actions xs-column">
                        <a class="mat-button mat-button-text" href="{{account.get_absolute_url}}"> {% trans "Account Details" %}</a>
                        <a class="mat-button mat-button-text" href="{% url 'addressbook:addressbook' %}"><i class="fas fa-address-book icon"></i>  {% trans "Addressbook" %}</a>
                        <a class="mat-button mat-button-text" href="{% url 'orders:orders' %}"> {% trans "Orders" %}</a>
                </div><!--End of Banner-Actions-->
            </div><!--End of Responsive-->
        </div><!--End of Container-->
        {% block SUB_BANNER %}
        {% endblock SUB_BANNER %}
        
    </div>
{% endblock HEADER_BANNER %}
{% block MAIN %}


{% endblock MAIN %}