{% extends "template_email.html" %}
{% load i18n %}


{% block EMAIL_BODY %}

<tr><!--EMAIL_BODY-->
    <td>
        <table>
            <tr>
                <td>
                    <h4>Bienvenue chez {{SITE_NAME}}, {{FULL_NAME}}</h4>
                    <p>Votre compte a été crée avec succès.</p>
                    <p>Vous pouvez dès maintenant créer des commandes en vous connectant à votre compte.</p>
                    <p>Ajouter des produits dans votre panier et passez votre commande.</p>
                    <p>Pensez à ajouter une addresse dans votre compte afin de simplifier le processus de livraison.</p>
                    <p>Pour votre sécurité, nous ne vous demanderons jamais votre mot passe.</p>
                    <p>Visitéz notre site pour passer votre première commande en cliquant sur ce lien : <a class="mat-button-mat-button-text" href="{{SITE_HOST}}{% url 'catalog:catalog-home' %}">Découvrir notre catalogue</a></p>
                </td>
            </tr>
        </table>
    </td>
</tr>

{% endblock EMAIL_BODY %}