{% load i18n %}

<div class="integer-filter field-filter">
    <div class="hidden" id="inputs">
        <input id="{{field_name}}-id" class="filter-input" type="text" name="{{field_name}}" >
    </div>
    {% if SELECTION %}
    <div class="box">
        <div class="title">
            <span class="label">{% trans "Select a value" %}</span>
        </div>
        
        <div class="row">
        {% for k, v in SELECTION %} 
            <span {% if k in SELECTED_VALUE or k == SELECTED_VALUE %} class="chips js-list-filter chips-selected"{% else %} class="chips js-list-filter"{% endif %} data-target="{{field_name}}-id" data-name="{{field_name}}" data-selected="0" data-value="{{k}}">{% trans v %}</span> 
        {% endfor %}
        </div>
    </div>
    {% elif RANGE %}
    <div class="box">
        <div class="title">
            <span class="label">{% trans "Select a range" %}</span>
        </div>
        <div class="box-content">
            <div class="form-group">
                <label for="start"></label>
                <input id="{{field_name}}-start" class="filter-input-start no-submit" data-target="{{field_name}}-id" type="text" name="{{field_name}}-start" >
            </div>
            <div class="form-group">
                <label for="{{field_name}}-end"></label>
                <input id="{{field_name}}-end" class="filter-input-end no-submit" data-target="{{field_name}}-id" type="text" name="{{field_name}}-end" >
            </div>
        
        </div>
    </div>
    {% else %}
        <div class="box">
            <div class="title">
                <span class="label">{% trans "Select a value" %}</span>
            </div>
            <div class="box-content">
                <div class="form-group">
                    <label for="{{field_name}}-value"></label>
                    <input id="{{field_name}}-value" class="filter-input-value field-filter-input no-submit" data-target="{{field_name}}-id" type="text" name="{{field_name}}-value" >
                </div>   
            </div>
        </div>
    {% endif %}

</div>