{% extends "payment_base.html"%}
{% load i18n %}

{% block ACTIONS %}
<div class="banner--actions">
    <a class="mat-button mat-button-text" href="{{group.get_update_url}}"><i class="fas fa-pen icon"></i><span>{% trans "Edit" %}</span></a>
    <a class="mat-button mat-button-text" href="{{group.get_delete_url}}"><i class="fas fa-trash icon"></i><span>{% trans "Delete" %}</span></a>
</div><!--End of Banner-Actions-->
{% endblock ACTIONS %}

{% block CONTENT_MAIN %}

<div class="container">
        <div class="mat-box">
          <div class="mat-box-title">
              <h3>{% trans "Policy Group" %}</h3>
          </div>
          <div class="mat-box-content">
            <div class="entry"> <span class="key">{% trans "Policy Group Name" %}</span> <span class="value">{{group.name}}</span></div>
            <div class="entry"> <span class="key">{% trans "Members" %} </span> <span class="value">{{group.members.count}}</span> </div>
            <div class="entry"> <span class="key">{% trans "Commission" %}</span> <span class="value">{{group.policy.commission}}</span></div>

            <div class="mat-list-wrapper">
              <div class="mat-list-header">
                <div class="list-title">{% trans "Group Members" %}</div>
                <button class="mat-button mat-button-default js-dialog-add-members js-dialog-open" data-target="#add-group-members">{% trans "Add members" %}</div>
              </div>
              
              <ul class="mat-list">
                {% for user in group.members.all %}
                <li class="mat-list-item">{{user.username}} - {{user.get_full_name}}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
</div>
<div class="row">
    <div class="col-xs-12 col-6">
          <div class="mat-dialog" id="add-group-members">
              <button type="button" class="mat-button mat-button-outlined dialog-close js-dialog-close" data-target="#add-group-members">{% trans "Close" %}</button>
              <div  class="dialog-title">
              {% trans "Add Members to policy group" %}
              </div>
              <div class="dialog-content">
              {% include "payment_tags/policy_group_add_users.html" %}
              </div>
          </div>
    </div>
</div>
{% endblock CONTENT_MAIN %}