{% extends "payment_base.html"%}
{% load i18n %}

{% block HEADER_BANNER %}
    <div class="banner banner-align-left">
        <div class="full welcome-text center">
                {% block  HEADER_BANNER_TITLE %}
                    <h4> {% trans "Policy Group" %} - {{group.name}}</h4>
                {% endblock HEADER_BANNER_TITLE %}
                
        </div>
        <div class="container">

            <div class="col-xs-12 col-9">
                <div class="banner--actions">
                    <a class="mat-button mat-button-text" href="{{group.get_update_url}}"><i class="fas fa-pen icon"></i><span>{% trans "Edit" %}</span></a>
                    <a class="mat-button mat-button-text" href="{{group.get_delete_url}}"><i class="fas fa-trash icon"></i><span>{% trans "Delete" %}</span></a>
                    <a class="mat-button mat-button-text" href="{% url 'payment:policy-group-create'%}"><i class="fas fa-plus icon"></i><span>{% trans "Add New Policy Group" %}</span></a>
                    <a class="mat-button mat-button-text" href="{% url 'payment:policy-groups' %}"><i class="fas icon"></i><span>{% trans "Policy Groups" %}</span></a>
                    <a class="mat-button mat-button-text" href="{% url 'payment:payment-home' %}"><i class="fas fa-home icon"></i><span>{% trans "Dashboard" %}</span></a>
                    
                        
                </div><!--End of Banner-Actions-->
            </div><!--End of Responsive-->
        
        </div><!--End of Container-->
        
    </div>
{% endblock HEADER_BANNER %}

{% block MAIN_CONTENT %}

{% if can_view_policy %}
<div class="container">
        <div class="mat-box">
          <div class="mat-box-title">
              <h3>{% trans "Policy Group" %}</h3>
          </div>
          <div class="mat-box-content">
            <div class="entry"> <span class="key">{% trans "Policy Group Name" %}</span> <span class="value">{{group.name}}</span></div>
            <div class="entry"> <span class="key">{% trans "Members" %} </span> <span class="value">{{group.members.count}}</span> </div>
            <div class="entry"> <span class="key">{% trans "Commission" %}</span> <span class="value">{{group.policy.commission}}</span></div>

            <div class="mat-list-wrapper">
              <div class="mat-list-header">
                <div class="list-title">{% trans "Group Members" %}</div>
                <button class="mat-button mat-button-default js-dialog-add-members js-dialog-open" data-target="#add-group-members">{% trans "Add members" %}</div>
              </div>
              
              <ul class="mat-list">
                {% for user in group.members.all %}
                <li class="mat-list-item">{{user.username}} - {{user.get_full_name}}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
</div>
<div class="row">
    <div class="col-xs-12 col-6">
          <div class="mat-dialog" id="add-group-members">
              <button type="button" class="mat-button mat-button-outlined dialog-close js-dialog-close" data-target="#add-group-members">{% trans "Close" %}</button>
              <div  class="dialog-title">
              {% trans "Add Members to policy group" %}
              </div>
              <div class="dialog-content">
              {% include "payment_tags/policy_group_add_users.html" %}
              </div>
          </div>
    </div>
</div>

{% else %}
<div class="access-error">
  <p>{% trans "The page you requested could not be found or you are not allowed to access this page." %}</p>
</div>
{% endif %}
{% endblock MAIN_CONTENT %}