{% extends "payment_base.html"%}
{% load i18n %}
{% block ACTIONS %}
<a class="mat-button mat-button-text" href="{{policy.get_payment_update_url}}"><i class="fas fa-pen icon"></i><span>{% trans "Edit" %}</span></a>
{% endblock ACTIONS %}

{% block CONTENT_MAIN %}

<div class="container">
        <div class="mat-box">
          <div class="mat-box-title">
              <h3>{% trans "Policy" %}</h3>
          </div>
          <div class="mat-box-content">
            <div class="entry">  <span class="key">{% trans "Monthly Limit" %}</span>  <span class="value">{{policy.monthly_limit|floatformat:"-2"}} {% trans CURRENCY %}</span> </div>
            <div class="entry"> <span class="key"> {% trans "Commission" %}</span> <span class="value"> {{policy.commission}}</span></div>  
          </div>
        </div>
</div>
{% endblock CONTENT_MAIN %}