{% extends "dashboard_base.html"%}
{% load i18n %}
{% if not can_view_product %}
<div class="access-error">
  <p>{% trans "The page you requested could not be found or you are not allowed to access this page." %}</p>
</div>
{% else %}
{% block SIDEBAR_CONTENT %}
    <li><a class="mat-button mat-button-text" href="{% url 'dashboard:home'%}"><i class="fas fa-tachometer-alt icon"></i><span>{% trans "Dashboard" %}</span></a></li>
    {% if can_view_brand %}<li><a class="mat-button mat-button-text" href="{% url 'dashboard:brands'%}"><i class="fas fa-band-aid icon"></i><span>{% trans "Brands" %}</span></a></li>{% endif %}
    {% if can_view_category %}<li><a class="mat-button mat-button-text" href="{% url 'dashboard:categories' %}"><i class="fas fa-sitemap icon"></i><span>{% trans "Categories" %}</span></a></li>{% endif %}
    {% if can_view_coupon %}<li><a class="mat-button mat-button-text" href="{% url 'dashboard:coupons'%}"><i class="fas fa-barcode icon"></i><span>{% trans "Coupons" %}</span></a></li>{% endif %}
    <li><a class="mat-button mat-button-text" href="{% url 'dashboard:products'%}"><i class="fas fa-gifts icon"></i><span>{% trans "Products" %}</span></a></li>
    <li><a class="mat-button mat-button-text" href="{% url 'dashboard:highlights'%}"><i class="fas fa-star icon"></i><span>{% trans "Highlights" %}</span></a></li>
    <li><a class="mat-button mat-button-text" href="{% url 'dashboard:sold-products'%}"><i class="fas fa-hand-holding-usd icon"></i><span>{% trans "Sold Products" %}</span></a></li>
    <li><a class="mat-button mat-button-text" href="{% url 'dashboard:product-types'%}"><i class="fas fa-random icon"></i><span>{% trans "Product Type" %}</span></a></li>
    <li><a class="mat-button mat-button-text" href="{% url 'dashboard:product-type-attributes'%}"><i class="fas fa-cogs icon"></i><span>{% trans "Type Attributes" %}</span></a></li>
    <li><a class="mat-button mat-button-text" href="{% url 'dashboard:attributes'%}"><i class="fas fa-ring icon"></i><span>{% trans "Products Attributes" %}</span></a></li>
    <li><a class="mat-button mat-button-text" href="{% url 'dashboard:news'%}"><i class="fas fa-newspaper icon"></i><span>{% trans "News" %}</span></a></li>
{% endblock SIDEBAR_CONTENT %}

{% block CONTENT %}
    {% if can_add_product %}
    <div class="actions">
        <a class="mat-button mat-button-default" href="{% url 'dashboard:product-create'%}"><i class="fas fa-plus icon"></i><span>{% trans "New Product" %}</span></a>
        {% block ACTIONS %}
        {% endblock ACTIONS %}
    </div><!--End of Banner-Actions-->
    {% endif %}
    <div>
        {% block CONTENT_MAIN %}{% endblock CONTENT_MAIN %}
    </div>
{% endblock CONTENT %}
{% endif %}
