{% extends "catalog_base.html"%}
{% load i18n %}

{% if not show_banner %}
{% block HEADER_BANNER %}

{% endblock HEADER_BANNER %}
{% endif %}


{% block FILTER %}
{% endblock FILTER %}

{% block MAIN_CONTENT %}
<div class="container">
        {% if queryset %}
        <div id="products" class="products js-product-list">
                {% include "tags/products_snippet.html" with product_list=queryset %}
        </div>
        {% else %}
        <div class="mat-box">
        <p>{% trans "There are no products to display yet." %}</p>
        <p>{% trans "As soon as Products are available, they will be displayed here." %}</p>
        <p>{% trans "Please try again later" %}</p>
        </div>
        {% endif %}
        
</div>

{% endblock MAIN_CONTENT %}