{% extends "catalog_base.html"%}
{% load i18n %}
{% block HEADER_BANNER_TITLE %}

{% endblock HEADER_BANNER_TITLE %}

{% block FILTER %}
{% endblock FILTER %}

{% block MAIN_CONTENT %}
<div class="container">
        {% if queryset %}
        <div class="wrapper">
                <div id="products" class="grid js-product-list">
                        {% include "tags/products_snippet.html" with product_list=queryset %}
                </div>
        </div>
        {% else %}
        <div class="mat-box">
        <p>{% trans "There is no product to display not." %}</p>
        <p>{% trans "As soon as Product are available, they will be listed here." %}</p>
        <p>{% trans "Please try again later" %}</p>
        </div>
        {% endif %}
        
</div>

{% endblock MAIN_CONTENT %}