
{% extends "catalog_base.html"%}
{% load i18n %}
{% load l10n %}

{% block  HEADER_BANNER_TITLE %}
       
{% endblock HEADER_BANNER_TITLE %}

{% block MAIN_CONTENT %}
<div class="container">
        {% if product_list %}
        <div class="wrapper">
                <div id="products" class="grid js-product-list">
                        {% include "tags/products_snippet.html" with product_list=product_list %}
                </div>
        </div>
        {% else %}
        <div class="mat-box">
        <p>{% trans "There are no products to display for this category yet." %}</p>
        <p>{% trans "As soon as Product are available on this category, they will be listed here." %}</p>
        <p>{% trans "Please try again later" %}</p>
        </div>
        {% endif %}
</div>
{% endblock MAIN_CONTENT %}