{% extends "catalog_base.html"%}
{% load i18n %}
{% load catalog_tags %}
{% block  HEADER_BANNER_TITLE %}
    <h4> {{product.display_name}}</h4>
{% endblock HEADER_BANNER_TITLE %}

{% block MAIN %}
<div class="container">
  <ul class="row">
    {% if product.category.parent %}
    <li class="mat-button"><a href="{{product.category.parent.get_absolute_url}}"><span>{% trans product.category.parent.display_name %}</span><span></span></a></li>

    {% endif %}
    <li class="mat-button"><a href="{{product.category.get_absolute_url}}">{% trans product.category.display_name %}</a></li>
  </ul>
  <div class="container">
    <div class="col-m-12 col-3">
      <div class="container">
        <div class="wrapper full kiosk">
            <div class="row hidden-m hidden-xs">
              <div class="img-wrapper">
                <img id="main-image" class="img-responsive" src="{{product.images.first.get_image_url}}" alt="">
              </div>
            </div>

            <div class="row">
            {% for image in image_list %}
              <div class="img-wrapper col-3 kiosk-image-wrapper">
                <img  class="img-responsive js-select-image kiosk-image" src="{{image.get_image_url}}" alt="">
              </div>
            {% endfor %}
            </div>
         </div><!--End of wrapper-->
      </div><!--container-->
    </div><!--End of col-8-->
    <div class="col-m-12 col-4">
      <div class="container">
        <div class="wrapper full">
            <form id="add-cart-form" action="{{product.get_absolute_url}}" method="POST">{% csrf_token %}
            <input type="hidden" name="product" value="{{product.product_uuid}}">
            {% if not product_attrs.has_selective %}
                <input id="variant" type="hidden" name="variant_uuid" value="{{product_attrs.variant}}">
            {% else %}
                <input id="variant" type="hidden" name="variant_uuid">
            {% endif %}
            
            <div class="product-detail-properties left">
                
                   <div class="left">
                      <div class="title left">
                        <span class="value">{{product.brand.display_name}}</span> - <span>{{product.display_name}}</span>
                      </div>
                      <div class="gender">
                        <span class="value">
                        {{product.gender|gender_value}}
                        </span>
                      </div>
                      {% if product.is_promoted %}
                      <div class="price">
                        <span class="sale-price">{{product.active_price|floatformat:"-2"}} {% trans CURRENCY %}</span> <span class="old-price">{{product.price|floatformat:"-2"}} {% trans CURRENCY %}</span>
                      </div>
                      {% else %}
                      <div class="price">
                        <span class="emphasis">{{product.active_price|floatformat:"-2"}} {% trans CURRENCY %}</span>
                      </div>
                      {% endif %}

                      <ul class="mat-list">
                        {% for k, attr in product_attrs.attrs.items %}
                        <li class="attr-wrapper">
                          {% if attr.selective %}
                            <div class="entry">
                              <span class="key">{% trans attr.display_name %}</span>
                              <div class="row flex-right">
                                {% for e in attr.value %} <span class="js-attr-select chips {% if e.quantity < 1 %}disabled{% endif %}" data-quantity="{{e.quantity}}" data-value="{{e.variant}}" data-target="variant">{{e.value}}</span> {% endfor %}
                              </div>
                            </div>
                          
                          {% else %}
                            <div class="entry">
                              <span class="key">{% trans attr.display_name %}</span>
                              <span class="value chips">{{attr.value.value}}</span>
                            </div>
                          {% endif %}
                        </li>
                        {% endfor %}
                        <li class="attr-wrapper">
                          <div class="attr description">
                              <span class="key">{% trans "Description" %} :</span>
                              <p class="value">{{product.description}}</p>
                          </div>
                        </li>
                      
                      </ul>
                </div>
                <div class="actions">
                  {% include "tags/add_to_cart.html" with quantity=product.quantity %}
                </div>
            </div><!--End of product detail-->
            </form>
            <div class="box-content">
                          
            </div><!--End of content-->
        </div><!--End of mat-box-->
      </div><!--End of container-->
    </div><!--End of col-4 -->
    {% if variant_list %}

    <div class="col-m-12 col-12">
      <div class="mat-box">
            <h4>{% trans "Variants" %}</h4>
            <div class="mat-box-content">
              <div class="mat-list-wrapper">
                  <ul class="mat-list">
                      {% for v in variant_list %}
                        <li class="matt-list-item"><a class="mat-button mat-button-text" href="{{v.get_absolute_url}}">{{v.display_name}}</a></li>
                      {% endfor %}
                  </ul>
              </div><!--End of wrapper-->
            </div><!--End of content-->
        </div><!--End of mat-box-->
    </div><!--End of col-12-->
    {% endif %}
  </div><!--End of row-->
</div>
{% endblock MAIN %}