{% extends "catalog_base.html"%}
{% load i18n %}
{% load catalog_tags %}
{% block  HEADER_BANNER_TITLE %}
    <h4> {{product.display_name}}</h4>
{% endblock HEADER_BANNER_TITLE %}

{% block MAIN %}
<div class="container product-detail-wrapper">
  <ul class="row">
    {% if product.category.parent %}
    <li class="mat-button"><a href="{{product.category.parent.get_absolute_url}}"><span>{% trans product.category.parent.display_name %}</span><span></span></a></li>

    {% endif %}
    <li class="mat-button"><a href="{{product.category.get_absolute_url}}">{% trans product.category.display_name %}</a></li>
  </ul>
  <div class="container">
    <div class="col-m-12 col-3">
      <div class="container">
        <div class="wrapper full kiosk">
            <div class="row hidden-m hidden-xs">
              <div class="img-wrapper">
                <img id="main-image" class="img-responsive" src="{{product.images.first.get_image_url}}" alt="">
              </div>
            </div>

            <div class="row hz-scroll-xs">
            {% for image in image_list %}
              <div class="img-wrapper col-3 kiosk-image-wrapper">
                <img  class="img-responsive js-select-image kiosk-image" src="{{image.get_image_url}}" alt="">
              </div>
            {% endfor %}
            </div>
         </div><!--End of wrapper-->
      </div><!--container-->
    </div><!--End of col-8-->
    <div class="col-m-12 col-4">
      <div class="container">
        <div class="wrapper full">
            <form id="add-cart-form" action="{{product.get_absolute_url}}" method="POST">{% csrf_token %}
            <input type="hidden" name="product" value="{{product.product_uuid}}">
            <input id="product-name" type="hidden" name="product_name" value="{{product.display_name}}" disabled readonly>
            {% if not product_attrs.has_selective %}
                <input id="variant" type="hidden" name="variant_uuid" value="{{product_attrs.variant}}">
            {% else %}
                <input id="variant" type="hidden" name="variant_uuid">
            {% endif %}
            
            <div class="product-detail-properties left">
                
                   <div class="left">
                      <h5>{{product.brand.display_name}}</span> - <span>{{product.display_name}}</h5>
                      <h5>{{product.gender|gender_value}}</h5>
                      {% if product.is_promoted %}
                      <h6><span class="sale-price">{{product.active_price|floatformat:"-2"}} {% trans CURRENCY %}</span> <span class="old-price">{{product.price|floatformat:"-2"}} {% trans CURRENCY %}</span></h6>
                      {% else %}
                      <h6>{{product.active_price|floatformat:"-2"}} {% trans CURRENCY %}</h6>
                      {% endif %}

                      <ul>
                        {% for k, attr in product_attrs.attrs.items %}
                        <li>
                          {% if attr.selective %}
                            <div class="entry">
                              <span class="key">{% trans attr.display_name %}</span>
                              <div class="row flex-right">
                                {% for e in attr.value %} <span class="js-attr-select chips {% if e.quantity < 1 %}disabled{% endif %}" data-quantity="{{e.quantity}}" data-value="{{e.variant}}" data-target="variant">{% core_trans e.value %}</span> {% endfor %}
                              </div>
                            </div>
                          
                          {% else %}
                            <div class="entry">
                              <span class="key">{% trans attr.display_name %}</span>
                              <span class="chips">{% core_trans attr.value.value %}</span>
                            </div>
                          {% endif %}
                        </li>
                        {% endfor %}
                        <li>
                          <div class="attr description">
                              <span class="key">{% trans "Description" %} :</span>
                              <p class="value">{{product.description}}</p>
                          </div>
                        </li>
                      
                      </ul>
                </div>
                <div class="actions">
                  {% include "tags/add_to_cart.html" with quantity=product.quantity %}
                </div>
            </div><!--End of product detail-->
            </form>
            {% if user.is_authenticated %}
                <div class="actions">
                  {% include "tags/add_to_wishlist.html" %}
                </div>
            {% endif %}
            
            <div class="product-detail-shipping">

                  <div class="collapsible">
                
                      <div class="collapse-toggle mat-button mat-button-text" data-target="detail-shipping">{% trans "Shipping Info" %}<i class="fas fa-chevron-down icon"></i></div>
                      <div id="detail-shipping" class="collapse-content">
                            <div class="product-info">

                                <ul>
                                    {% for s in ship_modes %} <li>{% trans s.display_name %} ({% if s.price == 0 %}{% trans "FREE" %} {% else %}{{s.price|floatformat:"-2"}} {% trans CURRENCY %}{% endif %})</li> {% endfor %}
                                </ul>
                            </div><!--End of product-info -->
                            <div class="product-info">
                              <p>{% trans "You can also choose to up pick your order yourself at one of our pick up locations below" %}</p>
                            </div><!--End of product-info -->
                            <div class="product-info">
                              <h5>{% trans "Pick up Locations" %}</h5>
                              <ul>
                                  <li><i class="fas fa-map-marked-alt icon"><span class="bold">LBV</span></i> <span>{% trans "Louis, in the galleries of the municipal market, Box N ° 4" %}</span></li>
                                  <li><i class="fas fa-map-marked-alt icon"><span class="bold">POG</span></i> <span>{% trans "Grand village, at Josy Coiffure, near CECADO, at carréfour Assane" %}</span></li>
                              </ul>
                            </div><!--End of product-info -->
                            <div class="shipping-warning">
                              <div class="product-info">
                                  <p>{% blocktrans trimmed %}Home delivery is currently offered in Libreville.{% endblocktrans %}</p>
                                  <p>{% blocktrans trimmed %}For customers living in Port-gentil, you can only pick up you order at the mentioned location above.
                                  Shipping fee to Port-gentil is added to the order amount.
                                  {% endblocktrans %}</p>
                              </div>
                            </div><!--End of shipping-warning-->
                      </div><!--End of collapse-content-->
                  </div><!--End of collapsible-->
            </div><!--End of mat-box-->
      </div><!--End of container-->
    </div><!--End of col-4 -->
    {% if variant_list %}

    <div class="col-m-12 col-12">
      <div class="mat-box">
            <h4>{% trans "Variants" %}</h4>
            <div class="mat-box-content">
              <div class="mat-list-wrapper">
                  <ul class="mat-list">
                      {% for v in variant_list %}
                        <li class="matt-list-item"><a class="mat-button mat-button-text" href="{{v.get_absolute_url}}">{{v.display_name}}</a></li>
                      {% endfor %}
                  </ul>
              </div><!--End of wrapper-->
            </div><!--End of content-->
        </div><!--End of mat-box-->
    </div><!--End of col-12-->
    {% endif %}
  </div><!--End of row-->
</div>
{% endblock MAIN %}