:root{
    --primary-color: #0A0A0A;
    --secondary-color: #FF0D00;
    --third-color : #FFFFFF;
    --fourth-color : #FFFFFF;
    --light-color : #FAFAFA;
    --label-color : #CCC;
    --body-bg : #FFFFFF;
    --body-color: #0A0A0A;
    --notification-bg : #fafafa;
    --notification-color : #0A0A0A;
    --action-color : #FF0D00;
    --sidebar-bg-color: #fafafa;
    --sidebar-color: #0A0A0A;
    --sidebar-active-color: #FF0D00;
    --text-grey: #CCC;
    --color-stone : #707C80;
    --color-ebony : #282C35;
    --warning-color : #FF0D00;
    --error-color : #FF0D00;
    --success-color :#45A29E ;
    --info-color: #0A0A0A;
    --debug-color: #1e88e5;
}