:root{
    --primary-color: #370300;
    --secondary-color: #FF0D00;
    --third-color : #c4b8b7;
    --fourth-color : #FFFFFF;
}

.header{
    background-color: var(--primary-color);
    color: var(--fourth-color);
}

.header a{
    color: var(--fourth-color) !important;
}

.mat-button-default{
    background-color: var(--primary-color);
    color: var(--third-color);
}