{% load i18n %}
{% load static %} 

{% if root_category_list %}
<div id="root-category-list" class="category-nav">
    <ul class="list-horizontal">
            {% if sale_category %}<li><a class="mat-button sale" href="{% url 'catalog:sale:catalog-home' 'sale' %}"><span>{% trans "Sale" %}</span></a></li>{% endif %}
            {% for c in root_category_list %}
                {% if category.parent and c.id == category.parent.id or c.id == category.id  %}
                <li class="active"><a class="mat-button" href="{{c.get_slug_url}}"><span>{% trans c.display_name %}</span></a></li>
                {% else %}
                <li><a class="mat-button" href="{{c.get_slug_url}}"><span>{% trans c.display_name %}</span></a></li>
                {% endif %}
            {% endfor %}
            
    </ul><!--End of list-->
</div>
{% endif %}

{% if parent_category %}
<div id="parent-subcategory-list" class="category-nav">
    <ul class="list-horizontal">
            {% for c in parent_sub_category_list %}
            {% if c.id == category.id %}
            <li class="active selected"><a class="mat-button" href="{{c.get_slug_url}}"><span>{% trans c.display_name %}</span></a></li>
            {% else %}
            <li><a class="mat-button" href="{{c.get_slug_url}}"><span>{% trans c.display_name %}</span></a></li>
            {% endif %}
            {% endfor %}
            
    </ul><!--End of list-->
</div>
{% endif %}
{% if subcategory_list %}
<div id="subcategory-list" class="category-nav">
    <ul class="list-horizontal">
            {% for c in subcategory_list %}
            {% if c.id == category.id %}
            <li class="active current selected"><a class="mat-button" href="{{c.get_slug_url}}"><span>{% trans c.display_name %}</span></a></li>
            {% else %}
            <li><a class="mat-button" href="{{c.get_slug_url}}"><span>{% trans c.display_name %}</span></a></li>
            {% endif %}
            {% endfor %}
            
    </ul><!--End of list-->
</div>
{% endif %}