{% load i18n %}
{% for p in product_list %}
<div class="col-m-12 col-4 filterable" data-name="{{p.display_name}}" data-brand="{{p.brand.id}}" data-price="{{p.price}}" data-type="{{p.product_type.id}}">
        <div class="wrapper">
                <div class="mat-box">
                        <div class="product-item">
                        <div class="img-wrapper">
                        {% if p.images and p.images.first %}
                                <img class="img-responsive" src="{{p.images.first.get_image_url}}" alt="{{p.display_name}}">
                        {% else %}
                                <img class="img-responsive" src="{{p.product.images.first.get_image_url}}" alt="{{p.display_name}}">
                        {% endif %}
                        
                        </div>
                        <div class="mat-box-content">
                                <div class="product-details">
                                        <div class="col-m-12">

                                                {% if p.is_promoted %}
                                                <div class="price">
                                                        <span class="sale-price">{{p.promotion_price}} {% trans CURRENCY %}</span> <span class="old-price">{{p.price}} {% trans CURRENCY %}</span>
                                                </div>
                                                {% else %}
                                                <div class="price">
                                                        <span class="emphasis">{{p.price}} {% trans CURRENCY %}</span>
                                                </div>
                                                {% endif %}
                                        </div>
                                        <div class="col-m-12">
                                                <div class="product-title left">
                                                        <span class="full emphasis">{{p.brand.display_name}}</span> 
                                                        <span class="full">{{p.display_name}}</span>
                                                </div>
                                        </div>
                                        
                                </div><!--End of details-->
                        </div><!--End of content-->
                        <div class="actions row">
                                <a class="mat-button mat-button-default" href="{{p.get_absolute_url}}">{% trans "Details" %}</a>
                        </div>
                        </div><!--End of Product item-->
                </div><!--End of box-->
        </div>
</div>
{% endfor %}