{% extends "base.html"%}
{% load i18n %} 
{% block META_REDIRECT %}
        
{% endblock META_REDIRECT %}

{% block HEADER_BANNER %}
    <div class="banner banner-align-left">
        <div class="full welcome-text center">
                {% block  HEADER_BANNER_TITLE %}
                    <h4> {% trans "Shipment" %}</h4>
                {% endblock HEADER_BANNER_TITLE %}
                
        </div>
        <div class="container">
        <div class="actions">
            <a class="mat-button mat-button-outlined" href="{% url 'home' %}">{% trans 'Home' %}</a>
            <a class="mat-button mat-button-default" href="{% url 'shipment:ship_modes' %}">{% trans 'Ship Modes' %}</a>
            <a class="mat-button mat-button-default" href="{% url 'shipment:shipments' %}">{% trans 'Shipments' %}</a> 
            <a class="mat-button mat-button-text" href="{% url 'shipment:ready-for-shipment' %}"><i class="fas fa-check-square icon"></i><span>{% trans "Ready" %}</span></a>   
        </div><!--End of Banner-Actions-->
        </div><!--End of Container-->
        
    </div>
{% endblock HEADER_BANNER %}
{% block MAIN %}

{% endblock MAIN %}